.q-o-n-container .tabs-container .tab-button {
  z-index: 10;
}

.q-o-n-container .tabs-container .tab-button:before, .q-o-n-container .tabs-container .tab-active:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.q-o-n-container .tabs-container .tab-button:hover::before {
  opacity: 1;
}

figure {
  margin: 0;
}

.dark-bg {
  background-color: #2e3838;
}

.data-box-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 3fr;
  padding: 30px 0;
}

.data-box-container:nth-child(5n + 1) .hexagon-link-single {
  background-image: linear-gradient(to top right, #fbc99d, #539dc6);
}

.data-box-container:nth-child(5n + 2) .hexagon-link-single {
  background-image: linear-gradient(to top right, #66b8ff, #3984ac);
}

.data-box-container:nth-child(5n + 3) .hexagon-link-single {
  background-image: linear-gradient(to top right, #33a0ff, #2d6786);
}

.data-box-container:nth-child(5n + 4) .hexagon-link-single {
  background-image: linear-gradient(to top right, #0088ff, #204960);
}

.data-box-container:nth-child(5n + 5) .hexagon-link-single {
  background-image: linear-gradient(to top right, #0070D1, #132c39);
}

.data-index-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.data-index-container p {
  color: #dffcff;
}

.data-box-text {
  max-width: 600px;
}

.q-o-n-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .q-o-n-container {
    flex-direction: row;
  }
}

.q-o-n-container .text-container {
  padding: 20px 0;
}

@media only screen and (min-width: 768px) {
  .q-o-n-container .text-container {
    width: 80%;
    padding: 0 20px;
  }
}

.q-o-n-container .tabs-container {
  border-bottom: 5px solid #1A94FF;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .q-o-n-container .tabs-container {
    flex-direction: column;
    border-right: 5px solid #1A94FF;
    border-bottom: none;
    width: 120px;
  }
}

.q-o-n-container .tabs-container .tab-button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px 10px 10px 15px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 20px 20px 0 0;
  background-image: linear-gradient(to top right, rgba(47, 152, 208, 0.4) 7%, #3f5050 50%);
  cursor: pointer;
  position: relative;
}

.q-o-n-container .tabs-container .tab-button:before {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-image: linear-gradient(to top right, rgba(255, 0, 0, 0) 0%, #d66808 60%);
  border-radius: 20px 20px 0 0;
}

.q-o-n-container .tabs-container .tab-button:hover::before {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .q-o-n-container .tabs-container .tab-button {
    border-radius: 30px 0 0 30px;
  }
  .q-o-n-container .tabs-container .tab-button:before {
    border-radius: 30px 0 0 30px;
  }
}

.q-o-n-container .tabs-container .tab-active {
  background-image: linear-gradient(to bottom right, #3f5050 0%, #1A94FF 60%);
  border-radius: 20px 20px 0 0;
  color: #2e3838;
  font-weight: 600;
  margin-bottom: 0;
}

.q-o-n-container .tabs-container .tab-active:before {
  border-radius: 20px 20px 0 0;
}

@media only screen and (min-width: 768px) {
  .q-o-n-container .tabs-container .tab-active {
    background-image: linear-gradient(to top right, #3f5050 0%, #1A94FF 60%);
    border-radius: 30px 0 0 30px;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .q-o-n-container .tabs-container .tab-active:before {
    border-radius: 30px 0 0 30px;
  }
}

.chart-container {
  display: flex;
  flex-direction: column;
  background-image: url(../images/spinner.gif);
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 768px) {
  .chart-container {
    flex-direction: row;
  }
}

.chart-container .chart-options-map {
  padding-left: 0;
}

.chart-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #dffcff;
  padding: 0 10px;
}

.chart-options .options-below {
  flex-direction: row;
}

.chart-options .chart-filters {
  align-items: center;
  margin-bottom: 20px;
  overflow: visible;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .chart-options .chart-filters {
    text-align: start;
  }
}

.chart-options .chart-filters .dropdown-container {
  display: inline-block;
  position: relative;
  height: 34px;
  max-width: 450px;
  overflow: hidden;
  border: 1px solid #9dafaf;
  border-radius: 5px;
  margin-right: 10px;
}

.chart-options .chart-filters .dropdown-container select {
  position: relative;
  background: #2e3838;
  color: #dffcff;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: 36px;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-style: none;
  border-radius: 5px;
}

.chart-options .chart-filters .dropdown-container:after {
  position: absolute;
  pointer-events: none;
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
  color: #dffcff;
}

.chart-options .chart-filters .dropdown-container:hover {
  border: 1px solid #1A94FF;
}

.chart-options .chart-filters .slider-container {
  display: inline-block;
  position: relative;
  top: -15px;
  margin-top: 10px;
}

.chart-options .chart-filters .slider-container .slider {
  -webkit-appearance: none;
  height: 3px;
  background: #9dafaf;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.chart-options .chart-filters .slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #2e3838;
  border-width: 2px;
  border-color: #9dafaf;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
}

.chart-options .chart-filters .slider-container .slider::-webkit-slider-thumb:hover {
  background: #1A94FF;
  border-color: #1A94FF;
}

.chart-options .chart-filters .slider-container .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2e3838;
  border-width: 2px;
  border-color: #9dafaf;
  border-style: solid;
  cursor: pointer;
}

.chart-options .chart-filters .slider-container .slider::-moz-range-thumb:hover {
  background: #1A94FF;
  border-color: #1A94FF;
}

.chart-options .chart-filters .slider-container .slider-output {
  display: inline-block;
  position: relative;
  top: 3px;
  color: #dffcff;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #9dafaf;
  padding: 5px 10px;
  margin-left: 15px;
}

.chart-options .chart-filters .slider-container .slider-output:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #9dafaf;
  border-bottom: 7px solid transparent;
  content: "";
}

.chart-options .chart-filters .radio-container {
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* Create the indicator (the dot/circle - hidden when checked) */
  /* Style the indicator (dot/circle) */
}

.chart-options .chart-filters .radio-container label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.chart-options .chart-filters .radio-container label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.chart-options .chart-filters .radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #1A94FF;
  border-radius: 50%;
}

.chart-options .chart-filters .radio-container label input:checked ~ .checkmark {
  background-color: #1A94FF;
}

.chart-options .chart-filters .radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: block;
}

.chart-options .chart-filters .radio-container label input:checked ~ .checkmark:after {
  display: none;
}

.chart-options .chart-filters .radio-container label .checkmark:after {
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #2e3838;
}

.chart-options .chart-filters .play-button {
  height: 34px;
  width: 60px;
  padding: 0;
  margin: 0;
  margin: 0;
  margin-right: 20px;
  border: 1px solid #9dafaf;
  border-radius: 20px;
  transition: background-image 0.5s ease;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: #222a2a;
  vertical-align: middle;
  background-color: #2e3838;
}

.chart-options .chart-filters .play-button:hover {
  background-image: linear-gradient(to top right, #2e3838 0%, #1A94FF 60%);
}

.chart-legend,
.secondary-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chart-legend h4,
.secondary-legend h4 {
  margin: 0 10px 5px 0;
}

.chart-legend .legend-item,
.secondary-legend .legend-item {
  display: inline-flex;
  margin-bottom: 5px;
  margin-right: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.chart-legend .dot,
.secondary-legend .dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .legend-right .chart-options {
    max-width: 200px;
  }
}

.legend-right .chart-legend {
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .legend-right .chart-legend {
    flex-direction: column;
  }
}

.legend-below {
  flex-direction: column;
}

.legend-below .chart-legend {
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .mobile-legend {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .wide-screen-legend {
    display: none !important;
  }
}

.filters-on-top.chart-container {
  flex-direction: column;
}

.filters-on-top.chart-container .chart-options .chart-filters {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .filters-right {
    flex-direction: row-reverse;
  }
}

.dashboard-title {
  font-size: 140%;
  text-align: center;
}

.dashboard-side-40 {
  width: 100%;
}

@media only screen and (min-width: 850px) {
  .dashboard-side-40 {
    width: 40%;
  }
}

.dashboard-side-60 {
  width: 100%;
}

@media only screen and (min-width: 850px) {
  .dashboard-side-60 {
    width: 60%;
  }
}

.dashboard-side {
  background-color: #3f5050;
}

.dashboard-container-vertical {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 850px) {
  .dashboard-container-vertical {
    flex-direction: row;
  }
}

.dashboard-container-horizontal {
  display: flex;
  flex-direction: column;
}

.chart-container-dashboard {
  display: flex;
  flex-direction: column;
  background-image: url(../images/spinner-small.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.chart-container-dashboard .highcharts-title {
  font-size: 1.2em;
}

.bars,
.pie,
.scatter {
  /* Define gradients */
}

.bars .highcharts-color-0.highcharts-point,
.pie .highcharts-color-0.highcharts-point,
.scatter .highcharts-color-0.highcharts-point {
  fill: url("#gradient-0");
}

.bars .highcharts-color-1.highcharts-point,
.pie .highcharts-color-1.highcharts-point,
.scatter .highcharts-color-1.highcharts-point {
  fill: url("#gradient-1");
}

.bars .highcharts-color-2.highcharts-point,
.pie .highcharts-color-2.highcharts-point,
.scatter .highcharts-color-2.highcharts-point {
  fill: url("#gradient-2");
}

.bars .highcharts-color-3.highcharts-point,
.pie .highcharts-color-3.highcharts-point,
.scatter .highcharts-color-3.highcharts-point {
  fill: url("#gradient-3");
}

.bars .highcharts-color-4.highcharts-point,
.pie .highcharts-color-4.highcharts-point,
.scatter .highcharts-color-4.highcharts-point {
  fill: url("#gradient-4");
}

.bars .highcharts-color-5.highcharts-point,
.pie .highcharts-color-5.highcharts-point,
.scatter .highcharts-color-5.highcharts-point {
  fill: url("#gradient-5");
}

.bars .highcharts-color-6.highcharts-point,
.pie .highcharts-color-6.highcharts-point,
.scatter .highcharts-color-6.highcharts-point {
  fill: url("#gradient-6");
}

.bars .highcharts-color-7.highcharts-point,
.pie .highcharts-color-7.highcharts-point,
.scatter .highcharts-color-7.highcharts-point {
  fill: url("#gradient-7");
}

.bars .highcharts-color-8.highcharts-point,
.pie .highcharts-color-8.highcharts-point,
.scatter .highcharts-color-8.highcharts-point {
  fill: url("#gradient-8");
}

.bars .highcharts-color-9.highcharts-point,
.pie .highcharts-color-9.highcharts-point,
.scatter .highcharts-color-9.highcharts-point {
  fill: url("#gradient-9");
}

.bars .highcharts-color-10.highcharts-point,
.pie .highcharts-color-10.highcharts-point,
.scatter .highcharts-color-10.highcharts-point {
  fill: url("#gradient-10");
}

.bars .highcharts-color-11.highcharts-point,
.pie .highcharts-color-11.highcharts-point,
.scatter .highcharts-color-11.highcharts-point {
  fill: url("#gradient-11");
}

.bars .highcharts-color-12.highcharts-point,
.pie .highcharts-color-12.highcharts-point,
.scatter .highcharts-color-12.highcharts-point {
  fill: url("#gradient-12");
}

.bars .highcharts-color-13.highcharts-point,
.pie .highcharts-color-13.highcharts-point,
.scatter .highcharts-color-13.highcharts-point {
  fill: url("#gradient-13");
}

.bars .highcharts-color-14.highcharts-point,
.pie .highcharts-color-14.highcharts-point,
.scatter .highcharts-color-14.highcharts-point {
  fill: url("#gradient-14");
}

.bars .highcharts-color-15.highcharts-point,
.pie .highcharts-color-15.highcharts-point,
.scatter .highcharts-color-15.highcharts-point {
  fill: url("#gradient-15");
}

.bars .highcharts-color-16.highcharts-point,
.pie .highcharts-color-16.highcharts-point,
.scatter .highcharts-color-16.highcharts-point {
  fill: url("#gradient-16");
}

.bars .highcharts-color-17.highcharts-point,
.pie .highcharts-color-17.highcharts-point,
.scatter .highcharts-color-17.highcharts-point {
  fill: url("#gradient-17");
}

.bars .highcharts-color-18.highcharts-point,
.pie .highcharts-color-18.highcharts-point,
.scatter .highcharts-color-18.highcharts-point {
  fill: url("#gradient-18");
}

.bars .highcharts-color-19.highcharts-point,
.pie .highcharts-color-19.highcharts-point,
.scatter .highcharts-color-19.highcharts-point {
  fill: url("#gradient-19");
}

.bars .highcharts-color-20.highcharts-point,
.pie .highcharts-color-20.highcharts-point,
.scatter .highcharts-color-20.highcharts-point {
  fill: url("#gradient-20");
}

.bars .highcharts-color-21.highcharts-point,
.pie .highcharts-color-21.highcharts-point,
.scatter .highcharts-color-21.highcharts-point {
  fill: url("#gradient-21");
}

.bars .highcharts-color-22.highcharts-point,
.pie .highcharts-color-22.highcharts-point,
.scatter .highcharts-color-22.highcharts-point {
  fill: url("#gradient-22");
}

.bars .highcharts-color-23.highcharts-point,
.pie .highcharts-color-23.highcharts-point,
.scatter .highcharts-color-23.highcharts-point {
  fill: url("#gradient-23");
}

.bars .highcharts-color-24.highcharts-point,
.pie .highcharts-color-24.highcharts-point,
.scatter .highcharts-color-24.highcharts-point {
  fill: url("#gradient-24");
}

.bars .highcharts-color-25.highcharts-point,
.pie .highcharts-color-25.highcharts-point,
.scatter .highcharts-color-25.highcharts-point {
  fill: url("#gradient-25");
}

.bars .highcharts-color-26.highcharts-point,
.pie .highcharts-color-26.highcharts-point,
.scatter .highcharts-color-26.highcharts-point {
  fill: url("#gradient-26");
}

.bars .highcharts-color-27.highcharts-point,
.pie .highcharts-color-27.highcharts-point,
.scatter .highcharts-color-27.highcharts-point {
  fill: url("#gradient-27");
}

.bars .highcharts-color-28.highcharts-point,
.pie .highcharts-color-28.highcharts-point,
.scatter .highcharts-color-28.highcharts-point {
  fill: url("#gradient-28");
}

.bars .highcharts-color-29.highcharts-point,
.pie .highcharts-color-29.highcharts-point,
.scatter .highcharts-color-29.highcharts-point {
  fill: url("#gradient-29");
}

.bars .highcharts-color-30.highcharts-point,
.pie .highcharts-color-30.highcharts-point,
.scatter .highcharts-color-30.highcharts-point {
  fill: url("#gradient-30");
}

.bars .highcharts-color-31.highcharts-point,
.pie .highcharts-color-31.highcharts-point,
.scatter .highcharts-color-31.highcharts-point {
  fill: url("#gradient-31");
}

.bars .highcharts-color-32.highcharts-point,
.pie .highcharts-color-32.highcharts-point,
.scatter .highcharts-color-32.highcharts-point {
  fill: url("#gradient-32");
}

.bars .highcharts-color-33.highcharts-point,
.pie .highcharts-color-33.highcharts-point,
.scatter .highcharts-color-33.highcharts-point {
  fill: url("#gradient-33");
}

.bars .highcharts-color-34.highcharts-point,
.pie .highcharts-color-34.highcharts-point,
.scatter .highcharts-color-34.highcharts-point {
  fill: url("#gradient-34");
}

.bars .highcharts-color-35.highcharts-point,
.pie .highcharts-color-35.highcharts-point,
.scatter .highcharts-color-35.highcharts-point {
  fill: url("#gradient-35");
}

.bars .highcharts-color-36.highcharts-point,
.pie .highcharts-color-36.highcharts-point,
.scatter .highcharts-color-36.highcharts-point {
  fill: url("#gradient-36");
}

.bars .highcharts-color-37.highcharts-point,
.pie .highcharts-color-37.highcharts-point,
.scatter .highcharts-color-37.highcharts-point {
  fill: url("#gradient-37");
}

.bars .highcharts-color-38.highcharts-point,
.pie .highcharts-color-38.highcharts-point,
.scatter .highcharts-color-38.highcharts-point {
  fill: url("#gradient-38");
}

.bars .highcharts-color-39.highcharts-point,
.pie .highcharts-color-39.highcharts-point,
.scatter .highcharts-color-39.highcharts-point {
  fill: url("#gradient-39");
}

.bars .highcharts-color-40.highcharts-point,
.pie .highcharts-color-40.highcharts-point,
.scatter .highcharts-color-40.highcharts-point {
  fill: url("#gradient-40");
}

.bars .highcharts-color-41.highcharts-point,
.pie .highcharts-color-41.highcharts-point,
.scatter .highcharts-color-41.highcharts-point {
  fill: url("#gradient-41");
}

.bars .highcharts-color-42.highcharts-point,
.pie .highcharts-color-42.highcharts-point,
.scatter .highcharts-color-42.highcharts-point {
  fill: url("#gradient-42");
}

.bars .highcharts-color-43.highcharts-point,
.pie .highcharts-color-43.highcharts-point,
.scatter .highcharts-color-43.highcharts-point {
  fill: url("#gradient-43");
}

.bars .highcharts-color-44.highcharts-point,
.pie .highcharts-color-44.highcharts-point,
.scatter .highcharts-color-44.highcharts-point {
  fill: url("#gradient-44");
}

.bars .highcharts-color-45.highcharts-point,
.pie .highcharts-color-45.highcharts-point,
.scatter .highcharts-color-45.highcharts-point {
  fill: url("#gradient-45");
}

.area,
.bubbles,
.wheel {
  /* Define gradients */
}

.area .highcharts-color-0,
.bubbles .highcharts-color-0,
.wheel .highcharts-color-0 {
  stroke: none;
}

.area .highcharts-color-0.highcharts-series.highcharts-area-series, .area .highcharts-color-0.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-0.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-0.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-0.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-0.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-0");
}

.area .highcharts-color-1,
.bubbles .highcharts-color-1,
.wheel .highcharts-color-1 {
  stroke: none;
}

.area .highcharts-color-1.highcharts-series.highcharts-area-series, .area .highcharts-color-1.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-1.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-1.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-1.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-1.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-1");
}

.area .highcharts-color-2,
.bubbles .highcharts-color-2,
.wheel .highcharts-color-2 {
  stroke: none;
}

.area .highcharts-color-2.highcharts-series.highcharts-area-series, .area .highcharts-color-2.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-2.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-2.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-2.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-2.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-2");
}

.area .highcharts-color-3,
.bubbles .highcharts-color-3,
.wheel .highcharts-color-3 {
  stroke: none;
}

.area .highcharts-color-3.highcharts-series.highcharts-area-series, .area .highcharts-color-3.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-3.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-3.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-3.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-3.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-3");
}

.area .highcharts-color-4,
.bubbles .highcharts-color-4,
.wheel .highcharts-color-4 {
  stroke: none;
}

.area .highcharts-color-4.highcharts-series.highcharts-area-series, .area .highcharts-color-4.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-4.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-4.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-4.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-4.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-4");
}

.area .highcharts-color-5,
.bubbles .highcharts-color-5,
.wheel .highcharts-color-5 {
  stroke: none;
}

.area .highcharts-color-5.highcharts-series.highcharts-area-series, .area .highcharts-color-5.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-5.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-5.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-5.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-5.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-5");
}

.area .highcharts-color-6,
.bubbles .highcharts-color-6,
.wheel .highcharts-color-6 {
  stroke: none;
}

.area .highcharts-color-6.highcharts-series.highcharts-area-series, .area .highcharts-color-6.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-6.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-6.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-6.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-6.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-6");
}

.area .highcharts-color-7,
.bubbles .highcharts-color-7,
.wheel .highcharts-color-7 {
  stroke: none;
}

.area .highcharts-color-7.highcharts-series.highcharts-area-series, .area .highcharts-color-7.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-7.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-7.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-7.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-7.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-7");
}

.area .highcharts-color-8,
.bubbles .highcharts-color-8,
.wheel .highcharts-color-8 {
  stroke: none;
}

.area .highcharts-color-8.highcharts-series.highcharts-area-series, .area .highcharts-color-8.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-8.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-8.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-8.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-8.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-8");
}

.area .highcharts-color-9,
.bubbles .highcharts-color-9,
.wheel .highcharts-color-9 {
  stroke: none;
}

.area .highcharts-color-9.highcharts-series.highcharts-area-series, .area .highcharts-color-9.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-9.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-9.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-9.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-9.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-9");
}

.area .highcharts-color-10,
.bubbles .highcharts-color-10,
.wheel .highcharts-color-10 {
  stroke: none;
}

.area .highcharts-color-10.highcharts-series.highcharts-area-series, .area .highcharts-color-10.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-10.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-10.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-10.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-10.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-10");
}

.area .highcharts-color-11,
.bubbles .highcharts-color-11,
.wheel .highcharts-color-11 {
  stroke: none;
}

.area .highcharts-color-11.highcharts-series.highcharts-area-series, .area .highcharts-color-11.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-11.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-11.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-11.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-11.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-11");
}

.area .highcharts-color-12,
.bubbles .highcharts-color-12,
.wheel .highcharts-color-12 {
  stroke: none;
}

.area .highcharts-color-12.highcharts-series.highcharts-area-series, .area .highcharts-color-12.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-12.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-12.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-12.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-12.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-12");
}

.area .highcharts-color-13,
.bubbles .highcharts-color-13,
.wheel .highcharts-color-13 {
  stroke: none;
}

.area .highcharts-color-13.highcharts-series.highcharts-area-series, .area .highcharts-color-13.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-13.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-13.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-13.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-13.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-13");
}

.area .highcharts-color-14,
.bubbles .highcharts-color-14,
.wheel .highcharts-color-14 {
  stroke: none;
}

.area .highcharts-color-14.highcharts-series.highcharts-area-series, .area .highcharts-color-14.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-14.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-14.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-14.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-14.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-14");
}

.area .highcharts-color-15,
.bubbles .highcharts-color-15,
.wheel .highcharts-color-15 {
  stroke: none;
}

.area .highcharts-color-15.highcharts-series.highcharts-area-series, .area .highcharts-color-15.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-15.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-15.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-15.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-15.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-15");
}

.area .highcharts-color-16,
.bubbles .highcharts-color-16,
.wheel .highcharts-color-16 {
  stroke: none;
}

.area .highcharts-color-16.highcharts-series.highcharts-area-series, .area .highcharts-color-16.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-16.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-16.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-16.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-16.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-16");
}

.area .highcharts-color-17,
.bubbles .highcharts-color-17,
.wheel .highcharts-color-17 {
  stroke: none;
}

.area .highcharts-color-17.highcharts-series.highcharts-area-series, .area .highcharts-color-17.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-17.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-17.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-17.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-17.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-17");
}

.area .highcharts-color-18,
.bubbles .highcharts-color-18,
.wheel .highcharts-color-18 {
  stroke: none;
}

.area .highcharts-color-18.highcharts-series.highcharts-area-series, .area .highcharts-color-18.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-18.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-18.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-18.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-18.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-18");
}

.area .highcharts-color-19,
.bubbles .highcharts-color-19,
.wheel .highcharts-color-19 {
  stroke: none;
}

.area .highcharts-color-19.highcharts-series.highcharts-area-series, .area .highcharts-color-19.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-19.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-19.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-19.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-19.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-19");
}

.area .highcharts-color-20,
.bubbles .highcharts-color-20,
.wheel .highcharts-color-20 {
  stroke: none;
}

.area .highcharts-color-20.highcharts-series.highcharts-area-series, .area .highcharts-color-20.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-20.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-20.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-20.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-20.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-20");
}

.area .highcharts-color-21,
.bubbles .highcharts-color-21,
.wheel .highcharts-color-21 {
  stroke: none;
}

.area .highcharts-color-21.highcharts-series.highcharts-area-series, .area .highcharts-color-21.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-21.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-21.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-21.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-21.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-21");
}

.area .highcharts-color-22,
.bubbles .highcharts-color-22,
.wheel .highcharts-color-22 {
  stroke: none;
}

.area .highcharts-color-22.highcharts-series.highcharts-area-series, .area .highcharts-color-22.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-22.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-22.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-22.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-22.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-22");
}

.area .highcharts-color-23,
.bubbles .highcharts-color-23,
.wheel .highcharts-color-23 {
  stroke: none;
}

.area .highcharts-color-23.highcharts-series.highcharts-area-series, .area .highcharts-color-23.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-23.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-23.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-23.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-23.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-23");
}

.area .highcharts-color-24,
.bubbles .highcharts-color-24,
.wheel .highcharts-color-24 {
  stroke: none;
}

.area .highcharts-color-24.highcharts-series.highcharts-area-series, .area .highcharts-color-24.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-24.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-24.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-24.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-24.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-24");
}

.area .highcharts-color-25,
.bubbles .highcharts-color-25,
.wheel .highcharts-color-25 {
  stroke: none;
}

.area .highcharts-color-25.highcharts-series.highcharts-area-series, .area .highcharts-color-25.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-25.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-25.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-25.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-25.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-25");
}

.area .highcharts-color-26,
.bubbles .highcharts-color-26,
.wheel .highcharts-color-26 {
  stroke: none;
}

.area .highcharts-color-26.highcharts-series.highcharts-area-series, .area .highcharts-color-26.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-26.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-26.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-26.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-26.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-26");
}

.area .highcharts-color-27,
.bubbles .highcharts-color-27,
.wheel .highcharts-color-27 {
  stroke: none;
}

.area .highcharts-color-27.highcharts-series.highcharts-area-series, .area .highcharts-color-27.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-27.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-27.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-27.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-27.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-27");
}

.area .highcharts-color-28,
.bubbles .highcharts-color-28,
.wheel .highcharts-color-28 {
  stroke: none;
}

.area .highcharts-color-28.highcharts-series.highcharts-area-series, .area .highcharts-color-28.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-28.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-28.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-28.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-28.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-28");
}

.area .highcharts-color-29,
.bubbles .highcharts-color-29,
.wheel .highcharts-color-29 {
  stroke: none;
}

.area .highcharts-color-29.highcharts-series.highcharts-area-series, .area .highcharts-color-29.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-29.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-29.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-29.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-29.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-29");
}

.area .highcharts-color-30,
.bubbles .highcharts-color-30,
.wheel .highcharts-color-30 {
  stroke: none;
}

.area .highcharts-color-30.highcharts-series.highcharts-area-series, .area .highcharts-color-30.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-30.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-30.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-30.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-30.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-30");
}

.area .highcharts-color-31,
.bubbles .highcharts-color-31,
.wheel .highcharts-color-31 {
  stroke: none;
}

.area .highcharts-color-31.highcharts-series.highcharts-area-series, .area .highcharts-color-31.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-31.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-31.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-31.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-31.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-31");
}

.area .highcharts-color-32,
.bubbles .highcharts-color-32,
.wheel .highcharts-color-32 {
  stroke: none;
}

.area .highcharts-color-32.highcharts-series.highcharts-area-series, .area .highcharts-color-32.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-32.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-32.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-32.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-32.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-32");
}

.area .highcharts-color-33,
.bubbles .highcharts-color-33,
.wheel .highcharts-color-33 {
  stroke: none;
}

.area .highcharts-color-33.highcharts-series.highcharts-area-series, .area .highcharts-color-33.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-33.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-33.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-33.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-33.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-33");
}

.area .highcharts-color-34,
.bubbles .highcharts-color-34,
.wheel .highcharts-color-34 {
  stroke: none;
}

.area .highcharts-color-34.highcharts-series.highcharts-area-series, .area .highcharts-color-34.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-34.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-34.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-34.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-34.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-34");
}

.area .highcharts-color-35,
.bubbles .highcharts-color-35,
.wheel .highcharts-color-35 {
  stroke: none;
}

.area .highcharts-color-35.highcharts-series.highcharts-area-series, .area .highcharts-color-35.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-35.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-35.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-35.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-35.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-35");
}

.area .highcharts-color-36,
.bubbles .highcharts-color-36,
.wheel .highcharts-color-36 {
  stroke: none;
}

.area .highcharts-color-36.highcharts-series.highcharts-area-series, .area .highcharts-color-36.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-36.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-36.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-36.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-36.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-36");
}

.area .highcharts-color-37,
.bubbles .highcharts-color-37,
.wheel .highcharts-color-37 {
  stroke: none;
}

.area .highcharts-color-37.highcharts-series.highcharts-area-series, .area .highcharts-color-37.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-37.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-37.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-37.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-37.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-37");
}

.area .highcharts-color-38,
.bubbles .highcharts-color-38,
.wheel .highcharts-color-38 {
  stroke: none;
}

.area .highcharts-color-38.highcharts-series.highcharts-area-series, .area .highcharts-color-38.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-38.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-38.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-38.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-38.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-38");
}

.area .highcharts-color-39,
.bubbles .highcharts-color-39,
.wheel .highcharts-color-39 {
  stroke: none;
}

.area .highcharts-color-39.highcharts-series.highcharts-area-series, .area .highcharts-color-39.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-39.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-39.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-39.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-39.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-39");
}

.area .highcharts-color-40,
.bubbles .highcharts-color-40,
.wheel .highcharts-color-40 {
  stroke: none;
}

.area .highcharts-color-40.highcharts-series.highcharts-area-series, .area .highcharts-color-40.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-40.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-40.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-40.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-40.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-40");
}

.area .highcharts-color-41,
.bubbles .highcharts-color-41,
.wheel .highcharts-color-41 {
  stroke: none;
}

.area .highcharts-color-41.highcharts-series.highcharts-area-series, .area .highcharts-color-41.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-41.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-41.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-41.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-41.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-41");
}

.area .highcharts-color-42,
.bubbles .highcharts-color-42,
.wheel .highcharts-color-42 {
  stroke: none;
}

.area .highcharts-color-42.highcharts-series.highcharts-area-series, .area .highcharts-color-42.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-42.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-42.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-42.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-42.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-42");
}

.area .highcharts-color-43,
.bubbles .highcharts-color-43,
.wheel .highcharts-color-43 {
  stroke: none;
}

.area .highcharts-color-43.highcharts-series.highcharts-area-series, .area .highcharts-color-43.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-43.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-43.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-43.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-43.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-43");
}

.area .highcharts-color-44,
.bubbles .highcharts-color-44,
.wheel .highcharts-color-44 {
  stroke: none;
}

.area .highcharts-color-44.highcharts-series.highcharts-area-series, .area .highcharts-color-44.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-44.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-44.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-44.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-44.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-44");
}

.area .highcharts-color-45,
.bubbles .highcharts-color-45,
.wheel .highcharts-color-45 {
  stroke: none;
}

.area .highcharts-color-45.highcharts-series.highcharts-area-series, .area .highcharts-color-45.highcharts-point:not(.highcharts-node),
.bubbles .highcharts-color-45.highcharts-series.highcharts-area-series,
.bubbles .highcharts-color-45.highcharts-point:not(.highcharts-node),
.wheel .highcharts-color-45.highcharts-series.highcharts-area-series,
.wheel .highcharts-color-45.highcharts-point:not(.highcharts-node) {
  fill: url("#gradient-area-45");
}

.heatmap .highcharts-grid-line,
.heatmap .highcharts-axis-line {
  stroke: none;
}

.old-death-tree {
  min-height: 300px;
}

.biomass-pie,
.biomass-scatter {
  min-height: 400px;
}

.death-tree,
.death-map,
.death-bars,
.migration-map,
.migration-bubbles,
.migration-wheel,
.sustain-map,
.sustain-area {
  min-height: 500px;
}

.population-line {
  display: inline-block;
  height: 20px;
  width: 5px;
  border-radius: 5px;
}

.pl-africa {
  background-color: #ffff1a;
}

.pl-asia {
  background-color: #d1158f;
}

.pl-europe {
  background-color: #0070d1;
}

.pl-lac {
  background-color: #23ca23;
}

.pl-na {
  background-color: #e63333;
}

.pl-oceania {
  background-color: #772eb8;
}

.pl-births {
  background-color: #ddc3c3;
}

.pl-deaths {
  background-color: #101414;
}

.births-container {
  display: inline-block;
  margin-left: 20px;
}

.births-container p {
  display: inline-block;
  font-size: 150%;
  margin: 0;
  color: #ddc3c3;
  line-height: 0.8;
}

.deaths-container {
  display: inline-block;
  margin-left: 20px;
}

.deaths-container p {
  display: inline-block;
  font-size: 150%;
  margin: 0;
  color: #101414;
  line-height: 0.8;
}

.covid-area {
  padding-bottom: 0;
}

.covid-bars,
.covid-area,
.covid-excess {
  padding-top: 0;
}

.covid-bars .restricted-band,
.covid-area .restricted-band,
.covid-excess .restricted-band {
  fill: #9d61d1;
}

.covid-bars .curfew-band,
.covid-area .curfew-band,
.covid-excess .curfew-band {
  fill: #ed45b2;
}

.covid-bars .lockdown-band,
.covid-area .lockdown-band,
.covid-excess .lockdown-band {
  fill: #970f67;
}

.covid-dashboard .covid-dashboard-options {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .covid-dashboard .covid-dashboard-options {
    flex-direction: row;
  }
}

.covid-dashboard .chart-filters {
  text-align: inherit;
  margin-bottom: 0;
}

.covid-dashboard .covid-dashboard-country {
  color: #1A94FF;
  font-size: 140%;
  font-weight: 500;
  margin: 0;
  padding-right: 20px;
  margin-bottom: 10px;
  text-align: start;
}

@media (min-width: 1025px) {
  .covid-dashboard .covid-dashboard-country {
    margin-bottom: 0px;
    text-align: end;
  }
}

.covid-dashboard .radio-container {
  min-width: 140px;
}

.covid-dashboard .side-chart-container {
  box-shadow: 2px 2px 8px rgba(23, 28, 28, 0.9);
  padding: 10px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: #2e3838;
  border-radius: 30px;
}

@media only screen and (min-width: 850px) {
  .covid-dashboard .side-chart-container {
    margin-bottom: 20px;
  }
}

.covid-dashboard .covid-map {
  height: 100%;
}

.covid-dashboard .covid-excess {
  height: 350px;
  margin-bottom: 20px;
}

.covid-dashboard .covid-excess .error {
  position: absolute;
  bottom: 300px;
  text-align: center;
  width: 90%;
  font-size: 130%;
}

@media only screen and (min-width: 850px) {
  .covid-dashboard .covid-excess .error {
    width: 35%;
  }
}

.covid-dashboard .covid-area {
  height: 150px;
}

.covid-dashboard .covid-bars {
  height: 205px;
}

.covid-dashboard .chart-legend {
  font-size: 80%;
}

.covid-dashboard .dot {
  height: 18px;
  width: 18px;
}

.covid-dashboard .secondary-legend {
  font-size: 80%;
}

.covid-dashboard .secondary-legend .dot {
  opacity: 0.4;
}

.covid-dashboard .dashboard-level-1 .dashboard-side-40 {
  border-radius: 30px 30px 0px 0;
  z-index: 1;
  background-image: linear-gradient(to bottom left, rgba(47, 152, 208, 0.4) 7%, #3f5050 50%);
}

@media only screen and (min-width: 850px) {
  .covid-dashboard .dashboard-level-2 .covid-top-container {
    border-radius: 30px 0px 0px 30px;
    background-image: linear-gradient(to top right, rgba(47, 152, 208, 0.4) 7%, #3f5050 50%);
  }
}

.covid-dashboard .dashboard-level-2 .dashboard-side-40 {
  background-image: linear-gradient(to top right, rgba(47, 152, 208, 0.4) 7%, #3f5050 50%);
}

@media only screen and (min-width: 850px) {
  .covid-dashboard .dashboard-level-2 .dashboard-side-40 {
    background-image: none;
  }
}

.covid-dashboard .covid-top {
  height: 350px;
}

.covid-dashboard .covid-top .highcharts-data-label {
  font-weight: 400;
}

@media only screen and (min-width: 850px) {
  .covid-dashboard .covid-top {
    width: 50%;
    margin-right: 0px;
  }
}

.covid-dashboard .dashboard-command {
  margin-left: 20px;
}

.covid-dashboard .dashboard-command:before {
  content: "\2BC8";
  color: #dffcff;
  margin-right: 5px;
}

.covid-dashboard .dark-bg {
  height: inherit;
}

@media only screen and (min-width: 850px) {
  .covid-dashboard .dark-bg {
    border-radius: 0 0 30px 0;
  }
}

.covid-dashboard .dashboard-level-2 .dashboard-side-40 {
  border-radius: 0px 0px 30px 30px;
}

@media only screen and (min-width: 850px) {
  .covid-dashboard .dashboard-level-2 .dashboard-side-40 {
    border-radius: 0px 0px 30px 0;
  }
}

.lockdown-map .slider-container {
  top: 0 !important;
}

.i-play {
  background-image: url(../../../../static/main/icons/play.svg);
  height: 16px;
  width: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-left: 5px;
  margin-bottom: 2px;
}

.i-pause {
  background-image: url(../../../../static/main/icons/pause.svg);
  height: 16px;
  width: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-left: 5px;
  margin-bottom: 2px;
}

.CCLab-old-dashboard .covid-dashboard-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.CCLab-old-dashboard .chart-filters {
  text-align: inherit;
  margin-bottom: 0;
}

.CCLab-old-dashboard .covid-dashboard-country {
  color: #1A94FF;
  font-size: 140%;
  font-weight: 500;
  margin: 0;
  padding-right: 20px;
  margin-bottom: 10px;
  text-align: start;
}

@media (min-width: 1025px) {
  .CCLab-old-dashboard .covid-dashboard-country {
    margin-bottom: 0px;
    text-align: end;
  }
}

.CCLab-old-dashboard .side-chart-container {
  box-shadow: 2px 2px 8px rgba(23, 28, 28, 0.9);
  padding: 10px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: #2e3838;
  border-radius: 30px;
}

@media only screen and (min-width: 850px) {
  .CCLab-old-dashboard .side-chart-container {
    margin-bottom: 20px;
  }
}

.CCLab-old-dashboard .dashboard-level-1 .dashboard-side-40 {
  border-radius: 30px 30px 0px 0;
  z-index: 1;
  background-image: linear-gradient(to bottom left, rgba(47, 152, 208, 0.4) 7%, #3f5050 50%);
}

@media only screen and (min-width: 850px) {
  .CCLab-old-dashboard .dashboard-level-2 .covid-top-container {
    border-radius: 30px 0px 0px 30px;
    background-image: linear-gradient(to top right, rgba(47, 152, 208, 0.4) 7%, #3f5050 50%);
  }
}

.CCLab-old-dashboard .dashboard-level-2 .dashboard-side-40 {
  background-image: linear-gradient(to top right, rgba(47, 152, 208, 0.4) 7%, #3f5050 50%);
}

@media only screen and (min-width: 850px) {
  .CCLab-old-dashboard .dashboard-level-2 .dashboard-side-40 {
    background-image: none;
  }
}

#covid_top_cases .highcharts-data-label-color-1 text {
  fill: #fff;
}
