figure {
  margin: 0;
}

.data-box-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 3fr;
  padding: 30px 0;
}

.data-box-container:nth-child(5n + 1) .hexagon-link-single {
  background-image: linear-gradient(to top right, #fbc99d, #539dc6);
}

.data-box-container:nth-child(5n + 2) .hexagon-link-single {
  background-image: linear-gradient(to top right, #59acd9, #3984ac);
}

.data-box-container:nth-child(5n + 3) .hexagon-link-single {
  background-image: linear-gradient(to top right, #2f98d0, #2d6786);
}

.data-box-container:nth-child(5n + 4) .hexagon-link-single {
  background-image: linear-gradient(to top right, #277daa, #204960);
}

.data-box-container:nth-child(5n + 5) .hexagon-link-single {
  background-image: linear-gradient(to top right, #216a91, #132c39);
}

.data-index-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.data-index-container p {
  color: #dffcff;
}

.data-box-text {
  max-width: 600px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  background-image: url(../images/spinner.gif);
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 768px) {
  .chart-container {
    flex-direction: row;
  }
}

.chart-container .chart-options-map {
  padding-left: 0;
}

.chart-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #dffcff;
  padding: 0 10px;
}

.chart-options .options-below {
  flex-direction: row;
}

.chart-options .chart-filters {
  align-items: center;
  margin-bottom: 20px;
  overflow: visible;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .chart-options .chart-filters {
    text-align: start;
  }
}

.chart-options .chart-filters .dropdown-container {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 5px;
  height: 34px;
  max-width: 450px;
  overflow: hidden;
  border: 1px solid #9dafaf;
  border-radius: 5px;
  margin-right: 10px;
}

.chart-options .chart-filters .dropdown-container select {
  position: relative;
  background: #2e3838;
  color: #dffcff;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: 36px;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-style: none;
  border-radius: 5px;
}

.chart-options .chart-filters .dropdown-container:after {
  position: absolute;
  pointer-events: none;
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
  color: #dffcff;
}

.chart-options .chart-filters .dropdown-container:hover {
  border: 1px solid #2f98d0;
}

.chart-options .chart-filters .slider-container {
  display: inline-block;
  width: 250px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .chart-options .chart-filters .slider-container {
    bottom: 8px;
  }
}

.chart-options .chart-filters .slider-container .slider {
  -webkit-appearance: none;
  width: 150px;
  height: 3px;
  vertical-align: middle;
  background: #9dafaf;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.chart-options .chart-filters .slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #2e3838;
  border-width: 2px;
  border-color: #9dafaf;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
}

.chart-options .chart-filters .slider-container .slider::-webkit-slider-thumb:hover {
  background: #2f98d0;
  border-color: #2f98d0;
}

.chart-options .chart-filters .slider-container .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2e3838;
  border-width: 2px;
  border-color: #9dafaf;
  border-style: solid;
  cursor: pointer;
}

.chart-options .chart-filters .slider-container .slider::-moz-range-thumb:hover {
  background: #2f98d0;
  border-color: #2f98d0;
}

.chart-options .chart-filters .slider-container .slider-output {
  display: inline-block;
  position: relative;
  width: 50px;
  color: #dffcff;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #9dafaf;
  padding: 5px 10px;
  margin-left: 15px;
}

.chart-options .chart-filters .slider-container .slider-output:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #9dafaf;
  border-bottom: 7px solid transparent;
  content: "";
}

.chart-options .chart-filters .radio-container {
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* Create the indicator (the dot/circle - hidden when checked) */
  /* Style the indicator (dot/circle) */
}

.chart-options .chart-filters .radio-container label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.chart-options .chart-filters .radio-container label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.chart-options .chart-filters .radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #2f98d0;
  border-radius: 50%;
}

.chart-options .chart-filters .radio-container label input:checked ~ .checkmark {
  background-color: #2f98d0;
}

.chart-options .chart-filters .radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: block;
}

.chart-options .chart-filters .radio-container label input:checked ~ .checkmark:after {
  display: none;
}

.chart-options .chart-filters .radio-container label .checkmark:after {
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #2e3838;
}

.chart-legend,
.secondary-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chart-legend h4,
.secondary-legend h4 {
  margin: 0 10px 5px 0;
}

.chart-legend .legend-item,
.secondary-legend .legend-item {
  display: inline-flex;
  margin-bottom: 5px;
  margin-right: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.chart-legend .dot,
.secondary-legend .dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .legend-right .chart-options {
    max-width: 200px;
  }
}

.legend-right .chart-legend {
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .legend-right .chart-legend {
    flex-direction: column;
  }
}

.legend-below {
  flex-direction: column;
}

.legend-below .chart-legend {
  flex-direction: row;
}

.filters-on-top.chart-container {
  flex-direction: column;
}

.filters-on-top.chart-container .chart-options .chart-filters {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .mobile-legend {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .wide-screen-legend {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .filters-right {
    flex-direction: row-reverse;
  }
}

.dashboard-side-40 {
  width: 100%;
}

@media only screen and (min-width: 850px) {
  .dashboard-side-40 {
    width: 40%;
  }
}

.dashboard-container-vertical {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 850px) {
  .dashboard-container-vertical {
    flex-direction: row;
  }
}

.dashboard-container-horizontal {
  display: flex;
  flex-direction: column;
}

.chart-container-dashboard {
  display: flex;
  flex-direction: column;
  background-image: url(../images/spinner-small.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.chart-container-dashboard .highcharts-title {
  font-size: 1.2em;
}

.old-death-tree {
  min-height: 300px;
}

.biomass-pie,
.biomass-scatter {
  min-height: 400px;
}

.death-tree,
.death-map,
.death-bars,
.migration-map,
.migration-bubbles,
.migration-wheel,
.sustain-map,
.sustain-area {
  min-height: 500px;
}

.population-line {
  display: inline-block;
  height: 20px;
  width: 5px;
  border-radius: 5px;
}

.pl-africa {
  background-color: #ffdc00;
}

.pl-asia {
  background-color: #ff3299;
}

.pl-europe {
  background-color: #0074d9;
}

.pl-lac {
  background-color: #28cc5c;
}

.pl-na {
  background-color: #ff3d32;
}

.pl-oceania {
  background-color: #e58939;
}

.pl-births {
  background-color: #ddc3c3;
}

.pl-deaths {
  background-color: #101414;
}

.births-container {
  display: inline-block;
  margin-left: 20px;
}

.births-container p {
  display: inline-block;
  font-size: 150%;
  margin: 0;
  color: #ddc3c3;
  line-height: 0.8;
}

.deaths-container {
  display: inline-block;
  margin-left: 20px;
}

.deaths-container p {
  display: inline-block;
  font-size: 150%;
  margin: 0;
  color: #101414;
  line-height: 0.8;
}

.covid-area {
  padding-bottom: 0;
}

.covid-bars,
.covid-area {
  padding-top: 0;
}

.covid-bars .restricted-band,
.covid-area .restricted-band {
  fill: #794f99;
}

.covid-bars .curfew-band,
.covid-area .curfew-band {
  fill: #8c1c54;
}

.covid-bars .lockdown-band,
.covid-area .lockdown-band {
  fill: #ff3299;
}

.covid-dashboard .covid-dashboard-options {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .covid-dashboard .covid-dashboard-options {
    flex-direction: row;
  }
}

.covid-dashboard .chart-filters {
  text-align: inherit;
}

@media (min-width: 1025px) {
  .covid-dashboard .chart-filters {
    height: 70px;
  }
}

.covid-dashboard .covid-dashboard-country {
  color: #2f98d0;
  font-size: 140%;
  font-weight: 500;
  margin: 0;
  padding-right: 20px;
  margin-bottom: 10px;
  text-align: start;
}

@media (min-width: 1025px) {
  .covid-dashboard .covid-dashboard-country {
    margin-bottom: 0px;
    text-align: end;
  }
}

.covid-dashboard .radio-container {
  min-width: 140px;
}

.covid-dashboard .covid-map {
  width: 100%;
  height: 500px;
}

@media only screen and (min-width: 850px) {
  .covid-dashboard .covid-map {
    width: 60%;
  }
}

.covid-dashboard .covid-area {
  height: 150px;
}

.covid-dashboard .covid-bars {
  height: 250px;
}

.covid-dashboard .chart-legend {
  font-size: 80%;
}

.covid-dashboard .dot {
  height: 18px;
  width: 18px;
}

.covid-dashboard .secondary-legend {
  font-size: 80%;
}

.covid-dashboard .secondary-legend .dot {
  opacity: 0.4;
}
