.energy-dashboard .dashboard-profile .profile-container {
  justify-content: start;
}

.energy-dashboard .chart-options .radio-container {
  flex-wrap: wrap;
}

.energy-dashboard .chart-options .radio-container .coal {
  background-color: #899494 !important;
}

.energy-dashboard .chart-options .radio-container .oil {
  background-color: #101414 !important;
}

.energy-dashboard .chart-options .radio-container .gas {
  background-color: #ffff4d !important;
}

.energy-dashboard .chart-options .radio-container .nuclear {
  background-color: #005299 !important;
}

.energy-dashboard .chart-options .radio-container .hydro {
  background-color: #66b8ff !important;
}

.energy-dashboard .chart-options .radio-container .renewables {
  background-color: #1fad1f !important;
}

.energy-dashboard .chart-options .radio-container .all {
  background-image: linear-gradient(to bottom left, #1a94ff 25%, #dec4c4 55%, #ff941a 75%) !important;
}

.energy-dashboard .sector-pie .highcharts-point-level1 {
  cursor: pointer;
}

.energy-dashboard .energy-area {
  height: 340px;
  margin-top: 10px;
}

.energy-dashboard .energy-area .error {
  position: absolute;
  top: 400px;
  text-align: center;
  width: 90%;
  font-size: 130%;
}

@media only screen and (min-width: 850px) {
  .energy-dashboard .energy-area .error {
    width: 35%;
  }
}

.energy-dashboard .energy-sector {
  height: 350px;
}

.energy-dashboard .energy-sector .error {
  position: absolute;
  bottom: 300px;
  text-align: center;
  width: 90%;
  font-size: 130%;
}

@media only screen and (min-width: 850px) {
  .energy-dashboard .energy-sector .error {
    width: 35%;
  }
}

.energy-dashboard .import-bars, .energy-dashboard .export-bars {
  height: 350px;
}

.energy-dashboard .import-bars {
  margin-bottom: 20px;
}

@media only screen and (min-width: 850px) {
  .energy-dashboard .import-bars {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.energy-dashboard .energy-map {
  height: 100%;
}

.energy-dashboard .energy-map .selected-element {
  fill: #000 !important;
  color: #000 !important;
  stroke: #1a94ff !important;
  stroke-width: 20px !important;
}

.energy-dashboard .energy-map .highcharts-point {
  cursor: pointer;
}

.energy-dashboard #energy_map {
  height: 500px;
}

.energy-dashboard .dashboard-level-2 .dashboard-side-40 {
  border-radius: 0 0 30px 30px;
  padding-bottom: 0;
}

@media only screen and (min-width: 850px) {
  .energy-dashboard .dashboard-level-2 .dashboard-side-40 {
    border-radius: 0 0 30px 0;
  }
}
