@import '../../../../main/static/main/scss/variables.scss';
@import '../../../../main/static/main/scss/mixins.scss';
@import '../../../../main/static/main/scss/parents.scss';

.data-box-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: (1fr 3fr);
    padding: 30px 0;
    &:nth-child(5n+1) .hexagon-link-single { 
      background-image: $blue-shade-1;
    }
    &:nth-child(5n+2) .hexagon-link-single { 
      background-image: $blue-shade-2;
    }
    &:nth-child(5n+3) .hexagon-link-single { 
      background-image: $blue-shade-3;
    }
    &:nth-child(5n+4) .hexagon-link-single { 
      background-image: $blue-shade-4;
    }
    &:nth-child(5n+5) .hexagon-link-single { 
      background-image: $blue-shade-5;
    }
  }
  .data-index-container {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    p {
      color: $almost-white;
    }
  }
  .data-box-text {
    max-width:600px;
  }
  .tableau-big {
    height: 592px;
    overflow: hidden;
  }
  .tableau-small {
    height: 250px;
    overflow: hidden;
  }
  .tableau-almost-big {
    height: 530px;
    overflow: hidden;
  }
  .tableau-592-800 {
    height: 800px;
    overflow: hidden;
    @media only screen and (min-width: $mobile-breakpoint)
    {
      height: 592px;
    }
  }
  .source-text {
    background-color: $dark-grey;
    color: $almost-white;
    text-align: right;
    font-size: 80%;
    padding: 10px;
    a {
      color: $bright-blue;
    }
  }

  .chart-container {
display: flex;
flex-direction: column;
background-color: $dark-grey;
padding: 20px;
@media only screen and (min-width: $mobile-breakpoint)
    {
      flex-direction: row;
      padding: 50px;
    }

.chart {
  flex:1;
  @media only screen and (min-width: $mobile-breakpoint)
    {
      flex:3;
    }
}

  #chart-options {
    flex: 1;
    //max-width:200px;
    display: flex;
    flex-direction: column;
    color: $almost-white;
    padding: 10px;

    @media only screen and (min-width: $mobile-breakpoint)
    {
      max-width:200px;
    }

    .chart-legend {
      display: flex;
      flex-direction: row;
      //padding: 0 20px;
      flex-wrap: wrap;

      @media only screen and (min-width: $mobile-breakpoint)
      {
        flex-direction: column;
      }

      .legend-item {
        display: inline-flex;
        margin-bottom: 5px;
        margin-right: 20px;
        cursor: pointer;
      }
  
      .dot {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
      }
    }

    .chart-filters {
      margin-bottom: 20px;
      overflow: hidden;
      
      select {
        background-color: $dark-grey;
        color: $almost-white;
        padding: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
      }
    }
  }
}
