@import "../../../../main/static/main/scss/variables.scss";
@import "../../../../main/static/main/scss/mixins.scss";
@import "../../../../main/static/main/scss/parents.scss";

figure {
  margin: 0;
}
.section-title {
  padding-left: $base-margin;
  font-size: clamp(1.1rem, 3vw, 1.5rem);
}
.dark-bg {
  background-color: $dark-grey;
}

.q-o-n-container {
  @include displayFlex;
  flex-direction: column;
  
  @media only screen and (min-width: $mobile-breakpoint) {
    flex-direction: row;
  }
  .text-container {
    padding: 20px clamp(10px, 2vw, 20px);
    background-image: linear-gradient(160deg, $bright-blue-opacity 1%, $dark-grey 30%);
  }

  .tabs-container {
    border-bottom: 5px solid $bright-blue;
    @include displayFlex;
    flex-direction: row;
    @media only screen and (min-width: $mobile-breakpoint) {
      flex-direction: column;
      border-right: 5px solid $bright-blue;
      border-bottom: none;
      width: 120px;
    }
    .tab-button {
      @extend %gradient-transition-main;
      @include transition(all 0.3s ease);
      padding: 10px 10px 10px 15px;
      margin-bottom: 5px;
      margin-right: 5px;
      border-radius: 20px 20px 0 0;
      background-image: linear-gradient(to top right, $bright-blue-opacity 7%, $mid-grey 50%);
      cursor: pointer;
      position: relative;
      &:before {
        @extend %gradient-transition-before;
        @include transition(all 0.3s ease);
        background-image: linear-gradient(to top right, hsla(0, 0%, 0%, 0) 0%, $orange 60%);
        border-radius: 20px 20px 0 0;
      }
      &:hover::before {
        @extend %gradient-transition-hover;
        @include transition(all 0.3s ease);
      }
      @media only screen and (min-width: $mobile-breakpoint) {
        border-radius: 30px 0 0 30px;
        &:before {
          border-radius: 30px 0 0 30px;
        }
      }
    }
    .tab-active {
      background-image: linear-gradient(to bottom right, $mid-grey 0%, $bright-blue 60%);
      border-radius: 20px 20px 0 0;
      color: $dark-grey;
      font-weight: 600;
      margin-bottom: 0;
      &:before {
        @extend %gradient-transition-before;
        border-radius: 20px 20px 0 0;
      }
      @media only screen and (min-width: $mobile-breakpoint) {
        background-image: linear-gradient(to top right, $mid-grey 0%, $bright-blue 60%);
        border-radius: 30px 0 0 30px;
        margin-right: 0;
        margin-bottom: 5px;
        &:before {
          border-radius: 30px 0 0 30px;
        }
      }
    }
  }
}

.chart-container {
  @include displayFlex;
  flex-direction: column;
  background-image: url(../images/spinner.gif);
  background-repeat: no-repeat;
  background-position: center;
  @media only screen and (min-width: $mobile-breakpoint) {
    flex-direction: row;
  }
  .chart-options-map {
    padding-left: 0;
  }
}

.chart-options {
  @include flex(1);
  @include displayFlex;
  flex-direction: column;
  color: $almost-white;
  padding: 0 10px;
  .chart-filters {
    align-items: center;
    margin-bottom: 20px;
    overflow: visible;
    text-align: center;
    @media only screen and (min-width: $mobile-breakpoint) {
      text-align: start;
    }
    .dropdown-container {
      display: inline-block;
      position: relative;
      height: 34px;
      max-width: 450px;
      overflow: hidden;
      border: 1px solid $light-grey;
      border-radius: 5px;
      margin-right: 10px;
      select {
        position: relative;
        background: $dark-grey;
        color: $almost-white;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: 36px;
        padding: 0 10px;
        font-size: 16px;
        border-radius: 5px;
        @include appearance(none);
        border-style: none;
        border-radius: 5px;
      }
      &:after {
        position: absolute;
        pointer-events: none;
        content: "\25BC";
        height: 1em;
        font-size: 0.625em;
        line-height: 1;
        right: 1.2em;
        top: 50%;
        margin-top: -0.5em;
        color: $almost-white;
      }
      &:hover {
        border: 1px solid $bright-blue;
      }
    }

    .slider-container {
      display: inline-block;
      position: relative;
      top: -15px;
      margin-top: 10px;

      .slider {
        @include appearance(none);
        height: 3px;
        background: $light-grey;
        border-radius: 5px;
        outline: none;
        @include transition(opacity 0.2s);
        &::-webkit-slider-thumb {
          @include appearance(none);
          width: 25px;
          height: 25px;
          background: $dark-grey;
          border-width: 2px;
          border-color: $light-grey;
          border-style: solid;
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            background: $bright-blue;
            border-color: $bright-blue;
          }
        }

        &::-moz-range-thumb {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: $dark-grey;
          border-width: 2px;
          border-color: $light-grey;
          border-style: solid;
          cursor: pointer;
          &:hover {
            background: $bright-blue;
            border-color: $bright-blue;
          }
        }
      }

      .slider-output {
        display: inline-block;
        position: relative;
        top: 3px;
        color: $almost-white;
        line-height: 20px;
        text-align: center;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: $light-grey;
        padding: 5px 10px;
        margin-left: 15px;

        &:after {
          position: absolute;
          top: 8px;
          left: -7px;
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-right: 7px solid $light-grey;
          border-bottom: 7px solid transparent;
          content: "";
        }
      }
    }
  }

  .radio-container {
    /* The container */
    label {
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin: 0;
    }

    /* Hide the browser's default radio button */
    label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: $bright-blue;
      border-radius: 50%;
    }

    label input:checked ~ .checkmark {
      background-color: $bright-blue;
    }

    /* Create the indicator (the dot/circle - hidden when checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: block;
    }

    label input:checked ~ .checkmark:after {
      display: none;
    }

    /* Style the indicator (dot/circle) */
    label .checkmark:after {
      top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: $dark-grey;
    }
  }
  .play-button {
    height: 34px;
    width: 60px;
    padding: 0;
    margin: 0;
    margin: 0;
    margin-right: 20px;
    border: 1px solid $light-grey;
    border-radius: 20px;
    @include transition(background-image 0.5s ease);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: $darker-grey;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    background-color: $dark-grey;
    &:hover {
      background-image: linear-gradient(to top right, $dark-grey 0%, $bright-blue 60%);
    }
  }
}

// legend
.chart-legend {
  @include displayFlex;
  flex-wrap: wrap;
  justify-content: center;
  h4 {
    margin: 0 10px 5px 0;
  }
  .legend-item {
    display: inline-flex;
    margin-bottom: 5px;
    margin-right: 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  .dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
}

.legend-right {
  .chart-options {
    width: 100%;
    @media only screen and (min-width: $mobile-breakpoint) {
      min-width: clamp(200px,25vw,400px);
    }
  }
  .wide-screen-legend {
    flex-direction: column;
  }
  .mobile-legend {
    flex-direction: row;
  }
}
.mobile-legend {
  @media only screen and (min-width: $mobile-breakpoint) {
    display: none !important;
  }
}
.wide-screen-legend {
  @media only screen and (max-width: $mobile-breakpoint) {
    display: none !important;
  }
}

// filters / options
.filters-on-top.chart-container {
  flex-direction: column;
  .chart-options {
    .chart-filters {
      margin-bottom: 0;
    }
  }
}
.filters-right {
  @media only screen and (min-width: $mobile-breakpoint) {
    flex-direction: row-reverse;
  }
}
// Dashboard
.dashboard {
  .dashboard-side-40 {
    @media only screen and (min-width: $tablet-breakpoint) {
      width: clamp(200px, 40%, 1500px);
    }
  }
  .dashboard-side-60 {
    @media only screen and (min-width: $tablet-breakpoint) {
      width: clamp(200px, 60%, 2000px);
    }
  }
  .dashboard-side-100 {
    @media only screen and (min-width: $tablet-breakpoint) {
      width: 100%;
    }
  }
  .dashboard-level-1 {
    .dashboard-side-40 {
      border-radius: 30px 30px 0 0;
      z-index: 1;
      background-image: linear-gradient(to bottom left, $bright-blue-opacity 7%, $mid-grey 50%);
      padding: 20px;
      @media only screen and (min-width: $tablet-breakpoint) {
        padding-bottom: 0;
      }
    }
  }
  .dashboard-level-2 {
    .dashboard-side-60 {
      padding:0 20px 20px 20px;
      @media only screen and (min-width: $tablet-breakpoint) {
        border-radius: 30px 0px 0px 30px;
        background-image: linear-gradient(to top right, $bright-blue-opacity 7%, $mid-grey 50%);
        padding: 20px;
      }
    }
    .dashboard-side-40 {
      background-image: linear-gradient(to top right, $bright-blue-opacity 7%, $mid-grey 50%);
      padding:0 20px;
      @media only screen and (min-width: $tablet-breakpoint) {
        border-radius: 0 0 30px 0;
        background-image: none;
        padding: 20px 20px 20px 0;
      }
    }
    .dashboard-side-100 {
      background-image: linear-gradient(to top right, $bright-blue-opacity 7%, $mid-grey 50%);
      border-radius: 0 0 30px 30px;
      padding: 0 20px;
      @media only screen and (min-width: $tablet-breakpoint) {
        border-radius: 30px 0 30px 30px;
        padding: 20px;
      }
      .column {
        @media only screen and (min-width: $tablet-breakpoint) {
          padding-right:20px;
        }
      }
      .dashboard-container-horizontal {
        padding-bottom: 20px;
        @media only screen and (min-width: $tablet-breakpoint) {
          padding-bottom: 0;
        }
      }
    }
  }

  .radio-container {
    @include displayFlex;
    align-self: flex-start;
  }

  .dashboard-title {
    width: inherit;
    font-size: 120%;
    font-weight: 600;
  }
  .dashboard-subtitle {
    width: inherit;
    font-weight: 400;
  }

  .dashboard-side {
    background-color: $mid-grey;
  }

  .dashboard-container-vertical {
    @include displayFlex;
    flex-direction: column;
    @media only screen and (min-width: $tablet-breakpoint) {
      flex-direction: row;
    }
  }

  .dashboard-container-horizontal {
    @include displayFlex;
    flex-direction: column;
  }

  .chart-container-dashboard {
    @include displayFlex;
    flex-direction: column;
    background-image: url(../images/spinner-small.gif);
    background-repeat: no-repeat;
    background-position: center;

    .highcharts-title {
      font-size: 1.2em;
    }
  }

  .dark-bg {
    height: inherit;
    @media only screen and (min-width: $tablet-breakpoint) {
      border-radius: 0 0 30px 0;
    }
  }

  .chart-title {
    font-size: 120%;
    font-weight: 500;
  }
  .chart-filters {
    text-align: inherit;
    margin-bottom: 0;
  }
  .dashboard-command {
    width: inherit;
    color: $bright-blue;
    font-size: 80%;

    &:before {
      content: "\2BC6";
      color: $bright-blue;
      margin-right: 5px;
    }
    &.left{
      width: clamp(100px, 100%, 250px);
      @media only screen and (min-width: $desktop-breakpoint) {
        &:before{
          content: "\2BC7"; // change arrow direction
        }
      }
      
    }
  }

  .dashboard-profile {
    @include displayFlex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .dashboard-profile-country {
      @include displayFlex;
      width: 100%;
      justify-content: flex-end;
      color: $bright-blue;
      font-size: 140%;
      font-weight: 500;
      margin: 0;
      padding-right: 20px;
      margin-bottom: 10px;
      text-align: start;
      p {
        margin: 0;
        border-style: solid;
        border-radius: 0 30px;
        border-width: 2px;
        padding: 5px 20px;
        margin-right: -20px;
        margin-top: -10px;
      }
    }
    .profile-title {
      font-size: 110%;
      font-weight: 600;
      text-decoration-line: underline;
    }
    .profile-container {
      flex-direction: row;
      @include displayFlex;
      justify-content: flex-start;
      width: 100%;
      flex-wrap: wrap;

      .profile-column1 {
        margin-right: 30px;
      }
  
      .profile-item {
        @include displayFlex;
        .profile-value {
          font-weight: 600;
          margin-left: 10px;
        }
      }
    }
  }
}

// chart types
.bars,
.pie,
.scatter {
  /* Define gradients */
  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    .highcharts-color-#{$i - 1}.highcharts-point {
      //fill-opacity: 1;
      fill: url("#gradient-#{$i - 1}");
    }
  }
}

.area,
.bubbles,
.wheel {
  /* Define gradients */
  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    .highcharts-color-#{$i - 1} {
      stroke: none;
      &.highcharts-series.highcharts-area-series,
      &.highcharts-point:not(.highcharts-node) {
        fill: url("#gradient-area-#{$i - 1}");
      }
    }
  }
}
.heatmap .highcharts-grid-line,
.heatmap .highcharts-axis-line {
  stroke: none;
}

// Specific charts

.biomass-pie,
.biomass-scatter {
  min-height: 400px;
}
.migration-map,
.migration-bubbles,
.migration-wheel,
.sustain-map,
.sustain-area {
  min-height: 500px;
}

.side-chart-container {
  box-shadow: 2px 2px 8px $navbar-color;
  padding: 10px;
  margin-bottom: 20px;
  background-color: $dark-grey;
  border-radius: 30px;
  &.bottom {
    margin-bottom: 0;
  }
}

.i-play {
  background-image: url(../../../../static/main/icons/play.svg);
  height: 16px;
  width: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-left: 5px;
  margin-bottom: 2px;
}
.i-pause {
  background-image: url(../../../../static/main/icons/pause.svg);
  height: 16px;
  width: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-left: 5px;
  margin-bottom: 2px;
}
.i-info {
  background-image: url(../../../../static/main/icons/info-white.svg);
  height: 18px;
  width: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-left: 5px;
  margin-bottom: 2px;
  &:hover{
    background-image: url(../../../../static/main/icons/info-blue.svg);
  }
}
.tooltip {
  position: relative;
  display: inline-block;
   .tooltiptext {
      visibility: hidden;
      width: max-content;
      background-color: hsla(180, 10%, 20%, 0.9);
      color: $almost-white;
      border-radius: 3px;
      padding: 5px 10px;
      border-style:solid;
      border-width: 1px;
      border-color: $bright-blue;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      left: 20px;
      &.right{
          left:auto;
          right:20px;
      }
   }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
