@import "../../../../main/static/main/scss/variables.scss";
@import "../../../../main/static/main/scss/mixins.scss";
@import "../../../../main/static/main/scss/parents.scss";

figure {
  margin: 0;
}
.dark-bg {
  background-color: $dark-grey;
}
.data-box-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: (1fr 3fr);
  padding: 30px 0;
  &:nth-child(5n + 1) .hexagon-link-single {
    background-image: $blue-shade-1;
  }
  &:nth-child(5n + 2) .hexagon-link-single {
    background-image: $blue-shade-2;
  }
  &:nth-child(5n + 3) .hexagon-link-single {
    background-image: $blue-shade-3;
  }
  &:nth-child(5n + 4) .hexagon-link-single {
    background-image: $blue-shade-4;
  }
  &:nth-child(5n + 5) .hexagon-link-single {
    background-image: $blue-shade-5;
  }
}
.data-index-container {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  p {
    color: $almost-white;
  }
}
.data-box-text {
  max-width: 600px;
}
.q-o-n-container {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: $mobile-breakpoint) {
    flex-direction: row;
  }
  .text-container {
    padding: 20px 0;
    @media only screen and (min-width: $mobile-breakpoint) {
      width: 80%;
      padding: 0 20px;
    }
  }

  .tabs-container {
    border-bottom: 5px solid $bright-blue;
    display: flex;
    flex-direction: row;
    @media only screen and (min-width: $mobile-breakpoint) {
      flex-direction: column;
      border-right: 5px solid $bright-blue;
      border-bottom: none;
      width: 120px;
    }
    .tab-button {
      @extend %gradient-transition-main;
      @include transition(all 0.3s ease);
      padding: 10px 10px 10px 15px;
      margin-bottom: 5px;
      margin-right: 5px;
      border-radius: 20px 20px 0 0;
      background-image: linear-gradient(to top right, $bright-blue-opacity 7%, $mid-grey 50%);
      cursor: pointer;
      position: relative;
      &:before {
        @extend %gradient-transition-before;
        @include transition(all 0.3s ease);
        background-image: linear-gradient(to top right, rgba(255, 0, 0, 0) 0%, $orange 60%);
        border-radius: 20px 20px 0 0;
      }
      &:hover::before {
        @extend %gradient-transition-hover;
        @include transition(all 0.3s ease);
      }
      @media only screen and (min-width: $mobile-breakpoint) {
        border-radius: 30px 0 0 30px;
        &:before {
          border-radius: 30px 0 0 30px;
        }
      }
    }
    .tab-active {
      background-image: linear-gradient(to bottom right, $mid-grey 0%, $bright-blue 60%);
      border-radius: 20px 20px 0 0;
      color: $dark-grey;
      font-weight: 600;
      margin-bottom: 0;
      &:before {
        @extend %gradient-transition-before;
        border-radius: 20px 20px 0 0;
      }
      @media only screen and (min-width: $mobile-breakpoint) {
        background-image: linear-gradient(to top right, $mid-grey 0%, $bright-blue 60%);
        border-radius: 30px 0 0 30px;
        margin-right: 0;
        margin-bottom: 5px;
        &:before {
          border-radius: 30px 0 0 30px;
        }
      }
    }
  }
}

.chart-container {
  display: flex;
  flex-direction: column;
  background-image: url(../images/spinner.gif);
  background-repeat: no-repeat;
  background-position: center;
  @media only screen and (min-width: $mobile-breakpoint) {
    flex-direction: row;
  }
  .chart-options-map {
    padding-left: 0;
  }
}

.chart-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: $almost-white;
  padding: 0 10px;

  .options-below {
    flex-direction: row;
  }
  .chart-filters {
    align-items: center;
    margin-bottom: 20px;
    overflow: visible;
    text-align: center;

    @media only screen and (min-width: $mobile-breakpoint) {
      text-align: start;
    }

    .dropdown-container {
      display: inline-block;
      position: relative;
      height: 34px;
      max-width: 450px;
      overflow: hidden;
      border: 1px solid $light-grey;
      border-radius: 5px;
      margin-right: 10px;
      select {
        position: relative;
        background: $dark-grey;
        color: $almost-white;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: 36px;
        padding: 0 10px;
        font-size: 16px;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-style: none;
        border-radius: 5px;
      }
      &:after {
        position: absolute;
        pointer-events: none;
        content: "\25BC";
        height: 1em;
        font-size: 0.625em;
        line-height: 1;
        right: 1.2em;
        top: 50%;
        margin-top: -0.5em;
        color: $almost-white;
      }
      &:hover {
        border: 1px solid $bright-blue;
      }
    }

    .slider-container {
      display: inline-block;
      position: relative;
      top: -15px;
      margin-top: 10px;

      .slider {
        -webkit-appearance: none;
        height: 3px;
        background: $light-grey;
        border-radius: 5px;
        outline: none;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          background: $dark-grey;
          border-width: 2px;
          border-color: $light-grey;
          border-style: solid;
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            background: $bright-blue;
            border-color: $bright-blue;
          }
        }

        &::-moz-range-thumb {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: $dark-grey;
          border-width: 2px;
          border-color: $light-grey;
          border-style: solid;
          cursor: pointer;
          &:hover {
            background: $bright-blue;
            border-color: $bright-blue;
          }
        }
      }

      .slider-output {
        display: inline-block;
        position: relative;
        top: 3px;
        color: $almost-white;
        line-height: 20px;
        text-align: center;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: $light-grey;
        padding: 5px 10px;
        margin-left: 15px;

        &:after {
          position: absolute;
          top: 8px;
          left: -7px;
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-right: 7px solid $light-grey;
          border-bottom: 7px solid transparent;
          content: "";
        }
      }
    }

    .radio-container {
      /* The container */
      label {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 15px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
      }

      /* Hide the browser's default radio button */
      label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: $bright-blue;
        border-radius: 50%;
      }

      label input:checked ~ .checkmark {
        background-color: $bright-blue;
      }

      /* Create the indicator (the dot/circle - hidden when checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: block;
      }

      label input:checked ~ .checkmark:after {
        display: none;
      }

      /* Style the indicator (dot/circle) */
      label .checkmark:after {
        top: 3px;
        left: 3px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #2e3838;
      }
    }
    .play-button {
      height: 34px;
      width: 60px;
      padding: 0;
      margin: 0;
      margin: 0;
      margin-right: 20px;
      border: 1px solid $light-grey;
      border-radius: 20px;
      transition: background-image 0.5s ease;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      color: #222a2a;
      vertical-align: middle;
      background-color: $dark-grey;
      &:hover {
        background-image: linear-gradient(to top right, $dark-grey 0%, $bright-blue 60%);
      }
    }
  }
}

// legend
.chart-legend,
.secondary-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h4 {
    margin: 0 10px 5px 0;
  }
  .legend-item {
    display: inline-flex;
    margin-bottom: 5px;
    margin-right: 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  .dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
}

.legend-right {
  .chart-options {
    @media only screen and (min-width: $mobile-breakpoint) {
      max-width: 200px;
    }
  }
  .chart-legend {
    flex-direction: row;
    @media only screen and (min-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }
}
.legend-below {
  flex-direction: column;
  .chart-legend {
    flex-direction: row;
  }
}
.mobile-legend {
  @media only screen and (min-width: $mobile-breakpoint) {
    display: none !important;
  }
}
.wide-screen-legend {
  @media only screen and (max-width: $mobile-breakpoint) {
    display: none !important;
  }
}

// filters / options
.filters-on-top.chart-container {
  flex-direction: column;
  .chart-options {
    .chart-filters {
      margin-bottom: 0;
    }
  }
}
.filters-right {
  @media only screen and (min-width: $mobile-breakpoint) {
    flex-direction: row-reverse;
  }
}
// Dashboard
.dashboard-title {
  font-size: 140%;
  text-align: center;
}
.dashboard-side-40 {
  width: 100%;
  @media only screen and (min-width: $tablet-breakpoint) {
    width: 40%;
  }
}
.dashboard-side-60 {
  width: 100%;
  @media only screen and (min-width: $tablet-breakpoint) {
    width: 60%;
  }
}
.dashboard-side {
  background-color: $mid-grey;
}
.dashboard-container-vertical {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: $tablet-breakpoint) {
    flex-direction: row;
  }
}
.dashboard-container-horizontal {
  display: flex;
  flex-direction: column;
}
.chart-container-dashboard {
  display: flex;
  flex-direction: column;
  background-image: url(../images/spinner-small.gif);
  background-repeat: no-repeat;
  background-position: center;
  .highcharts-title {
    font-size: 1.2em;
  }
}

// chart types
.bars,
.pie,
.scatter {
  /* Define gradients */
  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    .highcharts-color-#{$i - 1}.highcharts-point {
      //fill-opacity: 1;
      fill: url("#gradient-#{$i - 1}");
    }
  }
}

.area,
.bubbles,
.wheel {
  /* Define gradients */
  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    .highcharts-color-#{$i - 1} {
      stroke: none;
      &.highcharts-series.highcharts-area-series,
      &.highcharts-point:not(.highcharts-node) {
        fill: url("#gradient-area-#{$i - 1}");
      }
    }
  }
}
.heatmap .highcharts-grid-line,
.heatmap .highcharts-axis-line {
  stroke: none;
}

// Specific charts
.old-death-tree {
  min-height: 300px;
}
.biomass-pie,
.biomass-scatter {
  min-height: 400px;
}
.death-tree,
.death-map,
.death-bars,
.migration-map,
.migration-bubbles,
.migration-wheel,
.sustain-map,
.sustain-area {
  min-height: 500px;
}
.population-line {
  display: inline-block;
  height: 20px;
  width: 5px;
  border-radius: 5px;
}
.pl-africa {
  background-color: #ffff1a;
}
.pl-asia {
  background-color: #d1158f;
}
.pl-europe {
  background-color: #0070d1;
}
.pl-lac {
  background-color: #23ca23;
}
.pl-na {
  background-color: #e63333;
}
.pl-oceania {
  background-color: #772eb8;
}
.pl-births {
  background-color: #ddc3c3;
}
.pl-deaths {
  background-color: #101414;
}
.births-container {
  display: inline-block;
  margin-left: 20px;
  p {
    display: inline-block;
    font-size: 150%;
    margin: 0;
    color: #ddc3c3;
    line-height: 0.8;
  }
}
.deaths-container {
  display: inline-block;
  margin-left: 20px;
  p {
    display: inline-block;
    font-size: 150%;
    margin: 0;
    color: #101414;
    line-height: 0.8;
  }
}
.covid-area {
  padding-bottom: 0;
}
.covid-bars,
.covid-area,
.covid-excess {
  padding-top: 0;
  .restricted-band {
    fill: #9d61d1;
  }
  .curfew-band {
    fill: #ed45b2;
  }
  .lockdown-band {
    fill: #970f67;
  }
}

.covid-dashboard {
  .covid-dashboard-options {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: ($desktop-breakpoint - 1px)) {
      flex-direction: row;
    }
  }
  .chart-filters {
    text-align: inherit;
    margin-bottom: 0;
  }
  .covid-dashboard-country {
    color: $bright-blue;
    font-size: 140%;
    font-weight: 500;
    margin: 0;
    padding-right: 20px;
    margin-bottom: 10px;
    text-align: start;
    @media (min-width: $desktop-breakpoint) {
      margin-bottom: 0px;
      text-align: end;
    }
  }
  .radio-container {
    min-width: 140px;
  }
  .side-chart-container {
    box-shadow: 2px 2px 8px $navbar-color;
    padding: 10px;
    margin: 20px;
    margin-bottom: 0px;
    background-color: #2e3838;
    border-radius: 30px;
    @media only screen and (min-width: $tablet-breakpoint) {
      margin-bottom: 20px;
    }
  }
  .covid-map {
    height: 100%;
  }
  .covid-excess {
    height: 350px;
    margin-bottom: 20px;
    .error {
      position: absolute;
      bottom: 300px;
      text-align: center;
      width: 90%;
      font-size: 130%;
      @media only screen and (min-width: $tablet-breakpoint) {
        width: 35%;
      }
    }
  }
  .covid-area {
    height: 150px;
  }
  .covid-bars {
    height: 205px;
  }
  .chart-legend {
    font-size: 80%;
  }
  .dot {
    height: 18px;
    width: 18px;
  }
  .secondary-legend {
    font-size: 80%;
    .dot {
      opacity: 0.4;
    }
  }
  .dashboard-level-1 {
    .dashboard-side-40 {
      border-radius: 30px 30px 0px 0;
      z-index: 1;
      background-image: linear-gradient(to bottom left, $bright-blue-opacity 7%, $mid-grey 50%);
    }
  }
  .dashboard-level-2 {
    .covid-top-container {
      @media only screen and (min-width: $tablet-breakpoint) {
        border-radius: 30px 0px 0px 30px;
        background-image: linear-gradient(to top right, $bright-blue-opacity 7%, $mid-grey 50%);
      }
    }
    .dashboard-side-40 {
      background-image: linear-gradient(to top right, $bright-blue-opacity 7%, $mid-grey 50%);
      @media only screen and (min-width: $tablet-breakpoint) {
        background-image: none;
      }
    }
  }
  .covid-top {
    height: 350px;
    .highcharts-data-label {
      font-weight: 400;
    }
    @media only screen and (min-width: $tablet-breakpoint) {
      width: 50%;
      margin-right: 0px;
    }
  }
  .dashboard-command {
    margin-left: 20px;
    &:before {
      content: "\2BC8";
      color: $almost-white;
      margin-right: 5px;
    }
  }
  .dark-bg {
    height: inherit;
    @media only screen and (min-width: $tablet-breakpoint) {
      border-radius: 0 0 30px 0;
    }
  }
  .dashboard-level-2 {
    .dashboard-side-40 {
      border-radius: 0px 0px 30px 30px;
      @media only screen and (min-width: $tablet-breakpoint) {
        border-radius: 0px 0px 30px 0;
      }
    }
  }
}

.lockdown-map {
  .slider-container {
    top: 0 !important;
  }
}

.i-play {
  background-image: url(../../../../static/main/icons/play.svg);
  height: 16px;
  width: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-left: 5px;
  margin-bottom: 2px;
}
.i-pause {
  background-image: url(../../../../static/main/icons/pause.svg);
  height: 16px;
  width: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-left: 5px;
  margin-bottom: 2px;
}

.CCLab-old-dashboard {
  .covid-dashboard-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .chart-filters {
    text-align: inherit;
    margin-bottom: 0;
  }
  .covid-dashboard-country {
    color: $bright-blue;
    font-size: 140%;
    font-weight: 500;
    margin: 0;
    padding-right: 20px;
    margin-bottom: 10px;
    text-align: start;
    @media (min-width: $desktop-breakpoint) {
      margin-bottom: 0px;
      text-align: end;
    }
  }
  .side-chart-container {
    box-shadow: 2px 2px 8px $navbar-color;
    padding: 10px;
    margin: 20px;
    margin-bottom: 0px;
    background-color: #2e3838;
    border-radius: 30px;
    @media only screen and (min-width: $tablet-breakpoint) {
      margin-bottom: 20px;
    }
  }

  .dashboard-level-1 {
    .dashboard-side-40 {
      border-radius: 30px 30px 0px 0;
      z-index: 1;
      background-image: linear-gradient(to bottom left, $bright-blue-opacity 7%, $mid-grey 50%);
    }
  }
  .dashboard-level-2 {
    .covid-top-container {
      @media only screen and (min-width: $tablet-breakpoint) {
        border-radius: 30px 0px 0px 30px;
        background-image: linear-gradient(to top right, $bright-blue-opacity 7%, $mid-grey 50%);
      }
    }
    .dashboard-side-40 {
      background-image: linear-gradient(to top right, $bright-blue-opacity 7%, $mid-grey 50%);
      @media only screen and (min-width: $tablet-breakpoint) {
        background-image: none;
      }
    }
  }
}

#covid_top_cases .highcharts-data-label-color-1 text {
  fill: #fff;
}
