@import "../../../../main/static/main/scss/variables.scss";
@import "../../../../main/static/main/scss/mixins.scss";
@import "../../../../main/static/main/scss/parents.scss";

.pl-africa {
    background-color: #ffff1a;
  }
  .pl-asia {
    background-color: #d1158f;
  }
  .pl-europe {
    background-color: #0070d1;
  }
  .pl-lac {
    background-color: #23ca23;
  }
  .pl-na {
    background-color: #e63333;
  }
  .pl-oceania {
    background-color: #772eb8;
  }
  .pl-births {
    background-color: #ddc3c3;
  }
  .pl-deaths {
    background-color: #101414;
  }
  .births-container {
    display: inline-block;
    margin-left: 20px;
    p {
      display: inline-block;
      font-size: 150%;
      margin: 0;
      color: #ddc3c3;
      line-height: 0.8;
    }
  }
  .deaths-container {
    display: inline-block;
    margin-left: 20px;
    p {
      display: inline-block;
      font-size: 150%;
      margin: 0;
      color: #101414;
      line-height: 0.8;
    }
  }
  .population-line {
    display: inline-block;
    height: 20px;
    width: 5px;
    border-radius: 5px;
  }
  .old-death-tree {
    min-height: 300px;
  }

.death-dashboard {
  
    .parameters-container {
        @include displayFlex;
      margin-bottom: 10px;
    }
    .parameter-container {
      width: 100%;
      margin: 5px;
      border-radius: 20px 0;
      margin-bottom: 10px;
      justify-content: space-between;
      @include displayFlex;
      flex-direction: column;
      background-image: linear-gradient(
        160deg, $mid-grey 20%, $dark-grey 80%);
      .parameter {
        text-align: center;
        font-weight: 700;
        font-size: clamp(1.1rem, 3vw, 1.5rem);
        margin-bottom: 15px;
        overflow: hidden;
      }
      .parameter-label {
        padding: 5px 10px;
      }
      .parameter-button {
        margin: 0;
        font-size: 100%;
        font-weight: 600;
        height: 30px;
        width: 100%;
        padding: 0;
        border-radius: 0 0 15px;
        background-image: linear-gradient(to bottom left, $dark-grey 0%, $bright-blue 60%);
        text-align: center;
        color: $dark-grey;
        padding-top: 5px;
        box-shadow: none;
        &:before {
          background-image: linear-gradient(to top right, $dark-grey 0%, $orange 60%);
          border-radius: 0 0 15px;
        }
      }
    }
    .radio-container {
      align-self: flex-end;
    }
    .death-tree {
      border-radius: 30px; 
      padding: 15px 20px; 
      overflow: hidden; 
      z-index: 2;
      height: 300px;
      .highcharts-button-box  {
        fill: none;
      }
      @media only screen and (min-width: $tablet-breakpoint) {
        margin-right: 0;
      }
    }
    .death-map {
      height: 100%;
      .highcharts-point {
        cursor:pointer;
      }
    }
    .death-pyramid {
      height: 420px;
    }
    .death-bubbles {
      height: 300px;
    }
    .pyramid-label-selected {
      fill: $orange;
    }
    .death-pyramid {
      .pyramid-band {
        fill: $dark-grey;
        fill-opacity: 0.7;
        cursor: pointer;
        &:hover {
          fill: $bright-blue;
        }
      }
      .pyramid-band-selected {
        fill: $orange;
        fill-opacity: 1;
        cursor: pointer;
        &:hover {
          fill: $bright-blue;
        }
      }
      .pyramid-series-inactive {
        opacity: 0.2;
      }
    }
    .selected-element {
      fill: #000 !important;
      color: #000 !important;
      stroke: $orange !important;
      stroke-width: 20px !important;
    }
    .dashboard-border-container-sm {
      box-shadow: 2px 2px 8px $navbar-color;
    }
    .dashboard-level-2 .dashboard-side-40 {
      border-radius: 0 0 30px 30px;
      @media only screen and (min-width: $tablet-breakpoint) {
        padding-bottom: 0px;
        border-radius: 0 0 30px 0;
      }
    }
  }
  