body {
  font-family: "Quantico", "sans-serif";
  letter-spacing: 0.8px;
  color: #1c1c1c;
  background-color: white;
}

.cclab-nav-bar {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #1c1c1c;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .cclab-nav-bar {
    height: 80px;
  }
}

.cclab-nav-bar .cclab-nav-bar-inner {
  max-width: 1000px;
  margin: auto;
  margin-top: -8px;
}

@media (min-width: 768px) {
  .cclab-nav-bar .cclab-nav-bar-inner {
    margin-top: 0;
  }
}

.cclab-nav-bar .cclab-logo {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .cclab-nav-bar .cclab-logo {
    padding-left: 20px;
    position: absolute;
    float: left;
    line-height: 80px;
    width: auto;
  }
}

.cclab-nav-bar .cclab-logo a img {
  max-height: 50px;
}

@media (min-width: 768px) {
  .cclab-nav-bar .cclab-logo a img {
    max-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .cclab-nav-bar .cclab-logo {
    padding-left: 0px;
  }
}

.cclab-nav-bar nav {
  float: right;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .cclab-nav-bar nav {
    margin-top: 20px;
  }
}

.cclab-nav-bar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cclab-nav-bar nav ul li {
  float: none;
  min-width: 50px;
}

@media screen and (min-width: 768px) {
  .cclab-nav-bar nav ul li {
    float: left;
  }
}

.cclab-nav-bar nav ul li a,
.cclab-nav-bar nav ul li a:visited {
  display: block;
  padding: 15px;
  padding-left: 25%;
  line-height: inherit;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .cclab-nav-bar nav ul li a,
.cclab-nav-bar nav ul li a:visited {
    padding: 0 10px;
    text-align: center;
  }
}

.cclab-nav-bar nav ul li a:hover,
.cclab-nav-bar nav ul li a:visited:hover {
  background: none;
  color: #fff;
  border-bottom: 2px solid;
}

@media screen and (min-width: 768px) {
  .cclab-nav-bar nav ul li:hover > ul,
.cclab-nav-bar nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}

.cclab-nav-list {
  font-family: "aldrich", sans-serif;
}

@media screen and (min-width: 768px) {
  .cclab-nav-list {
    padding-right: 50px;
    display: block;
  }
}

.cclab-nav-mobile {
  position: absolute;
  top: 5px;
  left: 60px;
}

@media screen and (min-width: 768px) {
  .cclab-nav-mobile {
    display: none;
  }
}

#cclab_nav_list {
  transition: height 0.25s ease;
  overflow: hidden;
}

#cclab_nav_list:not(.active) {
  display: none;
}

@media screen and (min-width: 768px) {
  #cclab_nav_list:not(.active) {
    display: block;
  }
}

#nav_hamburger {
  position: absolute;
  top: 12px;
  cursor: pointer;
  padding: 10px 35px 20px 0px;
}

#nav_hamburger span,
#nav_hamburger span:before,
#nav_hamburger span:after {
  cursor: pointer;
  border-radius: 5px;
  height: 5px;
  width: 35px;
  background: #dffcff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav_hamburger span:before {
  top: -12px;
}

#nav_hamburger span:after {
  bottom: -12px;
}

#nav_hamburger.active span {
  background-color: transparent;
}

#nav_hamburger.active span:before {
  top: 0;
  transform: rotate(45deg);
}

#nav_hamburger.active span:after {
  top: 0;
  transform: rotate(-45deg);
}

.cclab-banner-container {
  height: 100vh;
  background-color: #00000080;
  background: linear-gradient(0deg, rgba(59, 43, 51, 0.2), rgba(59, 43, 51, 0.4)), url(../../cclab/images/cclab-banner.webp);
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.cclab-banner-title {
  background-image: url(../../cclab/images/cclab-title.webp);
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 50vh;
  z-index: 9;
}

.cclab-title-separator {
  background-color: #1c1c1c;
  height: 100px;
  -webkit-clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: -100px;
}

.cclab-subtitle-container {
  background-color: #1c1c1c;
  margin-top: -1px;
}

.subtitle-1 {
  color: white;
  text-align: center;
  font-size: 220%;
  font-family: bungee, sans-serif;
}

.subtitle-2 {
  color: white;
  text-align: center;
  font-size: 120%;
  padding-bottom: 50px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #242629;
  font-family: bungee, sans-serif;
  margin: 50px 0;
  line-height: 50px;
}

h2 {
  font-size: 26px;
  font-family: bungee, sans-serif;
  margin: 50px 0 20px 0;
  color: #242629;
}

.cclab-button {
  display: inline-block;
  background-color: #c83639;
  padding: 8px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 15px;
  box-shadow: 2px 2px 7px rgba(23, 28, 28, 0.4);
}

.cclab-button:hover {
  background-color: #1c1c1c;
}

.data-container {
  padding: 50px 10px;
  font-size: 18px;
}

.data-container figure {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 850px) {
  .data-container {
    padding: 70px 20px;
  }
}

@media only screen and (min-width: 1270px) {
  .data-container {
    padding: 70px 50px;
  }
}

.index-container {
  max-width: 850px;
  margin: auto;
  color: #50555c;
  padding: 70px;
  font-size: 18px;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.index-container .index-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
}

.index-container .index-item-details {
  align-self: center;
  padding-left: 20px;
  max-width: 500px;
}

.index-container .index-layout-img {
  height: 200px;
  width: 270px;
  background: url(../../cclab/images/glo-lookup.jpg);
  background-position: top;
  background-size: cover;
  box-shadow: 5px 5px 10px rgba(23, 28, 28, 0.5);
  border-radius: 5px;
}

.index-container .index-title {
  font-size: 120%;
  font-weight: 600;
  color: #242629;
}

.index-container .index-description {
  margin-top: 10px;
}

.index-container .glo-lookup-image {
  background-image: url(../../cclab/images/glo-lookup.jpg);
}

.index-container .us-lookup-image {
  background-image: url(../../cclab/images/us-lookup.jpg);
}

.index-container .us-summary-image {
  background-image: url(../../cclab/images/US-summary.jpg);
}

.index-container .us-comparison-image {
  background-image: url(../../cclab/images/us-comparison.jpg);
}

.index-container .glo-comparison-image {
  background-image: url(../../cclab/images/glo-comparison.jpg);
}

.index-container .glo-summary-image {
  background-image: url(../../cclab/images/glo-summary.jpg);
}

.dashboard-container-vertical {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 850px) {
  .dashboard-container-vertical {
    flex-direction: row;
  }
}

.cclab-main-container {
  color: #1c1c1c;
  background-color: white;
}

.dashboard-title {
  font-size: 180%;
  font-weight: 600;
  margin-top: 100px;
  text-align: left;
}

.dashboard-text {
  margin-bottom: 50px;
}

.dashboard-instructions {
  background-color: #b5afb2;
  padding: 10px;
}

.dashboard-instructions .title {
  font-weight: 600;
  padding-left: 20px;
  font-size: 110%;
}

.dashboard-instructions .text {
  display: flex;
}

.dashboard-instructions ul {
  list-style-type: square;
}

.dashboard-side-40 {
  width: 100%;
}

.dashboard-side-60 {
  width: 100%;
}

.dashboard-side-50 {
  width: 100%;
}

@media only screen and (min-width: 850px) {
  .dashboard-side-40 {
    width: 40%;
  }
  .dashboard-side-60 {
    width: 60%;
  }
  .dashboard-side-50 {
    width: 50%;
  }
}

.cclab-dashboard-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5px;
}

.CCLAB-var-container {
  display: flex;
}

.CCLAB-var-title {
  width: 180px;
  color: #f5bb3d;
  font-weight: 600;
  font-size: 120%;
  text-shadow: 1px 1px 4px rgba(36, 38, 41, 0.8);
}

@media only screen and (min-width: 520px) {
  .CCLAB-var-title {
    width: 420px;
  }
}

@media only screen and (min-width: 850px) {
  .CCLAB-var-title {
    width: 180px;
  }
}

@media only screen and (min-width: 1270px) {
  .CCLAB-var-title {
    width: 420px;
  }
}

.search-container {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #9dafaf;
  border-radius: 15px;
  position: relative;
  display: block;
  z-index: 10;
  color: white;
  overflow: hidden;
  height: 34px;
  align-self: flex-end;
}

.search-parent {
  width: 300px;
  box-shadow: inset 5px 5px 10px #595959, inset -5px -5px 20px #a6a6a6;
  background-color: rgba(25, 25, 25, 0.5);
  border-radius: 15px;
  margin: 10px 30px 10px 10px;
}

.search-container:hover {
  border-color: #f5bb3d;
}

.search-container input {
  color: #1c1c1c;
  font-family: "Quantico";
  border: none;
  height: 34px;
  position: relative;
  padding: 0 10px;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
}

.search-container input::placeholder {
  color: #fff;
}

.search-container input:-ms-input-placeholder {
  color: #fff;
}

.search-container input::-ms-input-placeholder {
  color: #fff;
}

.dropdown-container {
  display: inline-block;
  position: relative;
  height: 34px;
  max-width: 450px;
  overflow: hidden;
  border: 1px solid #9dafaf;
  margin-right: 10px;
  border-radius: 15px;
}

.usdash-container .dropdown-container,
.glodash-container .dropdown-container {
  max-width: 100%;
}

.dropdown-container select {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  color: #1c1c1c;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: 36px;
  padding: 0 10px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-style: none;
}

.dropdown-container:after {
  position: absolute;
  pointer-events: none;
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
  color: #1c1c1c;
}

.dropdown-container:hover {
  border: 1px solid #f5bb3d;
}

#new_heatmap .highcharts-grid-line,
#old_heatmap .highcharts-grid-line {
  stroke: none;
}

.cclab-stats-container1 {
  display: flex;
  flex-direction: column;
  margin: 8px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1250px) {
  .cclab-stats-container1 {
    flex-direction: row;
    margin-top: 10px;
  }
}

.cclab-stats-container2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 150px;
  width: 100%;
}

.dash-stats-container2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 175px;
  width: 100%;
}

.dash-stats-container1 {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

@media only screen and (min-width: 850px) {
  .dash-stats-container1 {
    flex-direction: row;
  }
}

.dash-stat-box {
  padding: 20px;
  width: 100%;
  margin: 8px;
  background-size: cover;
  background-position: center;
  box-shadow: 4px 4px 10px rgba(23, 28, 28, 0.6);
  color: #f2f2f2;
  text-shadow: 1px 1px 4px rgba(36, 38, 41, 0.8);
  border-radius: 3px;
}

@media only screen and (min-width: 850px) {
  .usdash-container .dash-stats-container1, .glodash-container .dash-stats-container1 {
    margin-bottom: 8px;
  }
  .usdash-container .dash-stat-box, .glodash-container .dash-stat-box {
    margin: 0;
  }
  .usdash-container .dash-stat-box-1, .glodash-container .dash-stat-box-1 {
    margin: 0 10px 0 0;
  }
  .usdash-container .dash-stat-box-2, .glodash-container .dash-stat-box-2 {
    margin: 0 10px;
  }
  .usdash-container .dash-stat-box-3, .glodash-container .dash-stat-box-3 {
    margin: 0 20px 0 10px;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1250px) {
  .us-comparison-container .dash-stat-box, .glo-comparison-container .dash-stat-box {
    margin: 0;
  }
  .us-comparison-container .dash-stat-box-1, .glo-comparison-container .dash-stat-box-1 {
    margin: 0 10px 0 0;
  }
  .us-comparison-container .dash-stat-box-2, .glo-comparison-container .dash-stat-box-2 {
    margin: 0 10px;
  }
  .us-comparison-container .dash-stat-box-3, .glo-comparison-container .dash-stat-box-3 {
    margin: 0 20px 0 10px;
    padding-right: 0;
  }
}

.dash-stat-box-1 {
  background-image: url("../../cclab/images/texture-orange-1.jpg");
  margin: 0 5px 5px 0;
}

.dash-stat-box-2 {
  background-image: url("../../cclab/images/texture-orange-2.jpg");
  margin: 0 0 5px 5px;
}

.dash-stat-box-3 {
  background-image: url("../../cclab/images/texture-orange-3.jpg");
  padding-bottom: 10px;
  margin: 5px 5px 0 0;
}

.dash-stat-box-4 {
  background-image: url("../../cclab/images/texture-orange-4.jpg");
  margin: 5px 0 0 5px;
}

.cclab-stat-label-container {
  height: 50%;
}

.dash-stat-label-container {
  height: 50px;
}

.cclab-stat-label {
  font-family: "Bungee";
  font-size: 80%;
  line-height: 1.4;
}

.dash-stat-label {
  font-family: "Bungee";
  font-size: 100%;
  line-height: 1.4;
}

.cclab-stat-sublabel {
  font-size: 90%;
  font-weight: 600;
}

.cclab-stat-value {
  font-size: 200%;
  font-weight: 600;
}

.dash-stat-value {
  font-size: 200%;
  font-weight: 600;
  height: 90px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.glodash-container .dashboard-level-1 .dash-info {
  min-height: 110px;
}

.usdash-container .dashboard-level-1 .dash-info {
  min-height: 90px;
}

.cclab-footer {
  background-color: #1c1c1c;
  height: 30px;
  color: white;
  text-align: center;
  font-family: "Quantico", "sans-serif";
}

.error {
  position: relative;
  text-align: center;
  font-size: 130%;
  background-color: rgba(205, 27, 24, 0.8);
  z-index: 9;
  color: white;
  box-shadow: inset 5px 5px 10px #891210, inset -5px -5px 20px #ec625f;
  border-radius: 15px;
  margin: -12px;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 850px) {
  .dashboard-breakdown {
    width: 50%;
  }
}

hr {
  margin-bottom: 10px;
  margin-top: 0;
  background-color: #737373;
  height: 3px;
  border: none;
}

.pies-container {
  display: flex;
  justify-content: space-around;
}

.cclab-pie .highcharts-data-label text {
  fill: #1c1c1c;
}

#us_dash_sex .highcharts-data-label text,
#glo_dash_sex .highcharts-data-label text {
  fill: #ffffff;
  font-size: 14px;
}

.chart-inset {
  margin: 8px;
  background-position: center;
  background-size: cover;
  box-shadow: inset 5px 5px 10px #a6a6a6, inset -5px -5px 20px #cccccc;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  flex: 1;
}

.dash-texture {
  background-image: url("../../cclab/images/texture-white-large.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 4px 4px 10px rgba(23, 28, 28, 0.6);
  padding: 10px;
  border-radius: 3px;
}

.dash-info {
  padding: 10px;
  margin: 10px;
  background-color: rgba(25, 25, 25, 0.5);
  color: #fff;
  box-shadow: inset 5px 5px 10px #595959, inset -5px -5px 20px #a6a6a6;
  padding: 20px;
  border-radius: 15px;
}

.dash-attention {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  background-color: rgba(25, 25, 25, 0.8);
  box-shadow: inset 5px 5px 10px #1a1a1a, inset -5px -5px 20px #666666;
  padding: 20px;
  border-radius: 15px;
}

.yellow-font {
  color: #fdc64b;
  font-size: 110%;
}

#usdash_map .highcharts-legend-item:hover text {
  color: #fdc64b;
  fill: black;
}

#usdash_map .highcharts-map-series .highcharts-point {
  stroke: #776222;
  cursor: pointer;
}

#usdash_map .selected-element {
  fill: #3c9080 !important;
  color: #3c9080 !important;
  stroke: #000 !important;
  stroke-width: 20px !important;
}

#glodash_map .selected-element {
  fill: #3c9080 !important;
  color: #3c9080 !important;
  stroke: #000 !important;
  stroke-width: 20px !important;
}

#glodash_map .highcharts-point {
  cursor: pointer;
}

.look-checks-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 850px) {
  .look-checks-container {
    flex-direction: row;
  }
}

.look-checks-line {
  display: flex;
  flex: 1;
}

.look-check-container {
  width: 100%;
  margin: 3px;
  background-color: rgba(25, 25, 25, 0.5);
  color: #fff;
  box-shadow: inset 5px 5px 10px #595959, inset -5px -5px 20px #a6a6a6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.look-check {
  height: 40px;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.7);
  border-radius: 0 0 10px 10px;
}

.look-check-title {
  text-align: center;
  font-size: 70%;
  padding: 5px;
  border-radius: 10px 10px 0 0;
  display: none;
}

@media only screen and (min-width: 1250px) {
  .look-check-title {
    display: block;
  }
}

.look-check-title-small {
  text-align: center;
  font-size: 70%;
  padding: 5px;
  border-radius: 10px 10px 0 0;
}

@media only screen and (min-width: 1250px) {
  .look-check-title-small {
    display: none;
  }
}

.check-yes {
  background-color: rgba(61, 92, 63, 0.8);
  background-image: url(../../cclab/images/yes-100.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.check-no {
  background-color: rgba(200, 55, 57, 0.8);
  background-image: url(../../cclab/images/no-100.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.lookup-dash-info {
  display: flex;
  flex-direction: column;
}

.lookup-info-title {
  flex-basis: 180px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 110%;
}

.lookup-line-chart .highcharts-tracker-line {
  stroke-width: 5px;
}

.glo-comparison-container .search-container input,
.us-comparison-container .search-container input {
  background-color: rgba(255, 255, 255, 0.7);
}

.glo-comparison-container .search-container input::placeholder,
.us-comparison-container .search-container input::placeholder {
  color: #1c1c1c;
}

.glo-comparison-container .search-container input:-ms-input-placeholder,
.us-comparison-container .search-container input:-ms-input-placeholder {
  color: #1c1c1c;
}

.glo-comparison-container .search-container input::-ms-input-placeholder,
.us-comparison-container .search-container input::-ms-input-placeholder {
  color: #1c1c1c;
}
