.node-box-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 3fr;
  padding: 30px 0;
}

.node-index-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.node-index-container p {
  color: #e0fcff;
}

.node-box-text {
  max-width: 600px;
}

.graph-instructions {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 0 20px;
}

.graph-instructions h5 {
  margin: 10px 0 0;
}

.graph-instructions ul:nth-child(1) {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .graph-instructions ul:nth-child(1) {
    margin-bottom: 13px;
  }
}

.graph-instructions ul:nth-child(2) {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .graph-instructions ul:nth-child(2) {
    margin-top: 13px;
  }
}

.graph-instructions li {
  padding-bottom: 10px;
}

.graph-instructions .notes {
  font-size: 80%;
}

.node-container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  flex-direction: column-reverse;
  background-color: #2e3838;
  padding: 0 clamp(5px, 5vw, 50px);
  height: 150vh;
}

@media only screen and (min-width: 768px) {
  .node-container {
    height: 85vh;
    flex-direction: row;
  }
}

.node-container #context_container {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  color: #e0fcff;
  background-color: #222a2a;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 2px 4px 10px rgba(23, 28, 28, 0.9);
}

.node-container #context_container .context-title-container {
  font-size: clamp(1em, 3vw, 1.2em);
  font-weight: 500;
  margin-bottom: 20px;
}

.node-container #context_container .context-title-container .context-title {
  display: inline;
}

.node-container #context_container .context-title-container .node-item {
  display: inline;
  margin: 5px;
  color: #1a94ff;
  font-style: italic;
}

.node-container #context_container .simplebar-scrollbar:before {
  background-color: white;
}

.node-container #context_container #context_wrapper {
  max-height: 85vh;
  padding: 20px;
}

.node-container .simplebar-vertical {
  margin: 10px 5px;
}

.node-container .nodes {
  -webkit-box-flex: 2;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 2;
  /* OLD - Firefox 19- */
  -webkit-flex: 2;
  /* Chrome */
  -ms-flex: 2;
  /* IE 10 */
  flex: 2;
}

.node-container #graph-container .node-controls {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  float: right;
  width: clamp(250px, 100%, 400px);
}

.node-container #graph-container .search-container {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #9dafaf;
  position: relative;
  display: block;
  z-index: 10;
  color: #e0fcff;
  overflow: hidden;
  height: 34px;
  align-self: flex-end;
  margin-bottom: 10px;
}

.node-container #graph-container .search-container:hover {
  border-color: #1a94ff;
}

.node-container #graph-container .search-container input {
  color: #e0fcff;
  border: none;
  height: 34px;
  position: relative;
  padding: 0 10px;
  display: block;
  background-color: rgba(46, 56, 56, 0.8);
  width: calc(100% - 20px);
}

@media only screen and (min-width: 768px) {
  .node-container #graph-container .search-container {
    width: inherit;
  }
}

.node-container #selected-nodes {
  position: absolute;
  z-index: 10;
  padding-top: 40px;
}

.node-container #selected-nodes .selected-node {
  background-color: #0070D1;
  padding: 3px 10px;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0.5px 0.5px 5px rgba(23, 28, 28, 0.9);
}

@media only screen and (min-width: 768px) {
  .node-container #selected-nodes {
    padding-top: 0px;
  }
}

.node-container .zoom-button {
  position: relative;
  cursor: pointer;
  z-index: 10;
  color: #e0fcff;
  background-color: rgba(46, 56, 56, 0.8);
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #9dafaf;
  align-self: flex-end;
  height: 40px;
  width: 40px;
}

.node-container .zoom-in {
  border-radius: 10px 10px 0 0;
}

.node-container .zoom-out {
  border-radius: 0 0 10px 10px;
}

.node-container .zoom-button:hover {
  color: #2e3838;
  background-color: #1a94ff;
  border-color: #1a94ff;
}

#node-legend {
  background-color: #2e3838;
  padding: 20px 50px;
  color: #e0fcff;
  text-align: center;
}

#node-legend .legend-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

#node-legend .legend-item {
  display: inline-flex;
  margin-bottom: 5px;
  margin-right: 20px;
  white-space: nowrap;
}

#slider_container {
  z-index: 10;
}

.slider-container {
  display: inline-block;
  position: relative;
  top: -15px;
  margin-top: 10px;
  width: 100%;
}

.slider-container .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3px;
  width: calc(100% - 167px);
  background: #9dafaf;
  border-radius: 5px;
  outline: none;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #2e3838;
  border-width: 2px;
  border-color: #9dafaf;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
}

.slider-container .slider::-webkit-slider-thumb:hover {
  background: #1a94ff;
  border-color: #1a94ff;
}

.slider-container .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2e3838;
  border-width: 2px;
  border-color: #9dafaf;
  border-style: solid;
  cursor: pointer;
}

.slider-container .slider::-moz-range-thumb:hover {
  background: #1a94ff;
  border-color: #1a94ff;
}

.slider-container .slider-output {
  display: inline-block;
  position: relative;
  width: 130px;
  top: 3px;
  color: #e0fcff;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #9dafaf;
  padding: 5px 10px;
  margin-left: 15px;
}

.slider-container .slider-output:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #9dafaf;
  border-bottom: 7px solid transparent;
  content: "";
}

.note-container {
  margin-bottom: 15px;
}

.note-container .reference {
  text-align: end;
  font-size: 80%;
}
