{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>{{ title }} - Navigate Obscurity</title>
<meta name="description" content="{{ abstract }}">
<meta property="og:image"
  content="https://www.navigateobscurity.com/static/nodes/images/deadhouse-gates-social.jpg" />
<meta property="og:title" content="{{ title }} - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/notes/deadhouse-gates" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/notes/deadhouse-gates" />
<meta name="twitter:title" content="{{ title }} - Navigate Obscurity" />
<meta name="twitter:description" content="{{ abstract }}" />
<meta name="twitter:image"
  content="https://www.navigateobscurity.com/static/nodes/images/deadhouse-gates-social.jpg" />

<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>
<!-- simplebar for custom styled scroll bars -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"/>
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<!-- We use sigma to visualise the graph -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.2/sigma.require.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.2/plugins/sigma.parsers.gexf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.2/plugins/sigma.renderers.parallelEdges.min.js"></script>
<!-- We use highcharts for additional charts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/wordcloud.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<script type="module" src={% static "nodes/js/node-helpers.js" %}></script>
<script type="module" src={% static "worlddata/js/chartOptions.js" %} defer></script>

<link rel='stylesheet' type="text/css" href={% static "nodes/css/nodes.css" %}>
<link rel='stylesheet' type="text/css" href={% static "nodes/css/dg.css" %}>
<link rel='stylesheet' type="text/css" href={% static "worlddata/css/highcharts.css" %}>

<!-- using defer to load after the html -->
<script type="module" src={% static "nodes/js/dg.js" %}></script> 
<noscript>
  <style>
    /**
    * Reinstate scrolling for non-JS clients
    */
    .simplebar-content-wrapper {
      overflow: auto;
    }
  </style>
</noscript>
{% endblock %}

{% block content %}
<section class="banner-container">
  <h1 class="header-title-banner">{{title}} by Steven Erikson</h1>
</section>
<!-- Intro -->
<section>
  <div class="container limited-width">
    <p>
        In the Seven Cities continent a rebellion is brewing with a prophecy, an obscure goddess, high mages, local warlords and ex-Malazan militants all playing a role. The Malazan Empire will try to supress it strengthening its presence in the area with a newly appointed Fist and his forces. Two bridgeburners embark on a quest across the same continent with a hidden agenda. A noble, a historian and a thug form an unlikely partnership as they are enslaved and sent to what promises to be a transformative journey. An ancient warrior is on a mission to uncover his past while his companion is deliberately keeping it obscure. A horde of shapeshifters converge on a path fighting for ascension. Paths will be crossed, ankles will be broken, prophecies will be fulfilled, innocents will be crucified, assassins will be unleashed, soldiers will be betrayed, and children will die. This is the second installment of the Malazan Book of the Fallen.
    </p>

  </div>
</section>
<div class="spacer"></div>
<!-- summary stats -->
<section>
  <div class="container stat-container">
    <div class="stat">
      <div class="stat-value-container">
        <img class="stat-icon" src="{% static 'nodes/icons/text.svg' %}" alt="text-icon">
        <div class="stat-value">276,056</div>
      </div>
      <div class="stat-label">written words</div>
    </div>
    <div class="stat">
      <div class="stat-value-container">
        <img class="stat-icon" src="{% static 'nodes/icons/audio.svg' %}" alt="audiobook-icon">
        <div class="stat-value">34:06:03</div>
      </div>
      <div class="stat-label">long audio</div>
    </div>
    <div class="stat">
      <div class="stat-value-container">
        <img class="stat-icon" src="{% static 'nodes/icons/people.svg' %}" alt="people-icon">
        <div class="stat-value">86</div>
      </div>
      <div class="stat-label">characters</div>
    </div>
    <div class="stat">
      <div class="stat-value-container">
        <img class="stat-icon" src="{% static 'nodes/icons/death.svg' %}" alt="death-icon">
        <div class="stat-value">26%</div>
      </div>
      <div class="stat-label">death rate</div>
    </div>
  </div>
</section>

<div class="spacer"></div>

<!-- Notes -->
<div class="container" style="padding-bottom:0">
  <h2 style="margin-bottom: 0;">What happened?</h2>
  <p style="margin-top:0">According to my notes.</p>
</div>

{% include "./graph-instructions-percent.html" %}

<!-- Graph -->
<section class="node-container">
  <div id="context_container" class="nodes-text"> </div>
  <div id="graph-container" class="nodes" style="width:100%;">
    <div id="selected-nodes"></div>
    <div class="node-controls">
      <div id="slider_container"></div>
      <div class="search-container">
        <input id="search-input" list="nodes-datalist" placeholder="Search for a node">
      </div>
      <datalist id="nodes-datalist"></datalist>
      <button type="button" id="zoom-in-button" class="zoom-button zoom-in">+</button>
      <button type="button" id="zoom-out-button" class="zoom-button zoom-out">-</button>
    </div>

  </div>
</section>
<!-- Legend -->
<section id="node-legend">
</section>

<div class="spacer"></div>

<!-- Bubbles -->
<section>
  <div class="container">
    <h2 style="margin-bottom:0;">Who took the spotlight?</h2>
    <p style="margin-top:0;">Mentions by name or alias.</p>
    <div id="bubbles" class="bubbles"></div>
  </div>
</section>

<div class="spacer"></div>

<!-- map -->
<section>
  <div class="container">
  <h2 style="margin-bottom: 0;">Where did they come from, where did they go?</h2>
  <p style="margin-top: 0;">It's hard to be accurate here, so treat the points below as educated guesses.</p>
  <div class="map-section-container">
    <div class="map-container">
      <img class="main-map" src="{% static 'nodes/images/dg-seven_cities.jpg' %}" alt="Seven cities map">
      <img id="coltaine" class="map-overlay" src="{% static 'nodes/images/dg-coltaine.png' %}" alt="Seven cities map">
      <img id="felisin" class="map-overlay" src="{% static 'nodes/images/dg-felisin.png' %}" alt="Seven cities map">
      <img id="fiddler" class="map-overlay" src="{% static 'nodes/images/dg-fiddler.png' %}" alt="Seven cities map">
      <img id="gesler"class="map-overlay" src="{% static 'nodes/images/dg-gesler.png' %}" alt="Seven cities map">
      <img  id="icarium" class="map-overlay" src="{% static 'nodes/images/dg-icarium.png' %}" alt="Seven cities map">
      <img id="kalam" class="map-overlay" src="{% static 'nodes/images/dg-kalam.png' %}" alt="Seven cities map">
    </div>
    <div class="map-legend">
      <div class="legend-item coltaine"">
        <div class="legend-dot"></div>
        <div class="legend-label">The Chain of Dogs</div>
      </div>
      <div class="legend-item felisin">
        <div class="legend-dot"></div>
        <div class="legend-label">Felisin, Heboric, Baudin</div>
      </div>
      <div class="legend-item gesler">
        <div class="legend-dot"></div>
        <div class="legend-label">Gesler, Stormy, Truth</div>
      </div>
      <div class="legend-item kalam">
        <div class="legend-dot"></div>
        <div class="legend-label">Kalam</div>
      </div>
      <div class="legend-item fiddler">
        <div class="legend-dot"></div>
        <div class="legend-label">Fiddler, Apsalar, Crokus</div>
      </div>
      <div class="legend-item icarium">
        <div class="legend-dot"></div>
        <div class="legend-label">Icarium, Mappo</div>
      </div>
    </div>
  </div>
</div>
</section>

<div class="spacer"></div>

<!-- Wordcloud -->
<section>
  <div class="container">
    <h2 style="margin-bottom:0;">Most used phrases</h2>
    <p style="margin-top:0;">Word combinations after excluding character names.</p>
    <div id="wordcloud"></div>
</div>
</section>


{% include "main/section-comments.html" %}

{% endblock %}