{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>{{ title }} - Navigate Obscurity</title>
<meta name="description" content="{{ abstract }}">
<meta property="og:image" content="https://www.navigateobscurity.com/static/nodes/images/guns-germs-and-steel-social.jpg" />
<meta property="og:title" content="{{ title }} - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/notes/guns-germs-and-steel" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/notes/guns-germs-and-steel" />
<meta name="twitter:title" content="{{ title }} - Navigate Obscurity" />
<meta name="twitter:description" content="{{ abstract }}" />
<meta name="twitter:image" content="https://www.navigateobscurity.com/static/nodes/images/guns-germs-and-steel-social.jpg" />

<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>
<!-- simplebar for custom styled scroll bars -->
<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<!-- We use sigma to visualise the graph -->
<script src={% static "nodes/js/sigma.min.js" %}></script>
<script src={% static "nodes/js/sigma.parsers.gexf.min.js" %}></script>
<script src={% static "nodes/js/sigma.renderers.parallelEdges.min.js" %}></script>

<script src={% static "nodes/js/node-helpers.js" %}></script>

<link rel='stylesheet' type="text/css" href={% static "nodes/css/nodes.css" %}>
<noscript>
  <style>
    /**
    * Reinstate scrolling for non-JS clients
    */
    .simplebar-content-wrapper {
      overflow: auto;
    }
  </style>
</noscript>
{% endblock %}

{% block content %}
<section class="banner-container">
  <h1 class="header-title-banner">{{title}} by Jared Diamond</h1>
</section>
<!-- Intro -->
<section>
  <div class="container limited-width">
    <p>
        Why did societies develop in different ways and how did certain societies manage to dominate over others throughout the years? The advantages of the dominators are usually down to guns, germs and steel, but why were not those things equally available across societies? Jared Diamond argues that such inequalities are not caused by qualitative differences amongst the people themselves, but are instead dictated by their environments. From the availability of wild animals and plants for the development of food production that allowed the rise of populations, to the particular geography of a society’s environment that allowed or inhibited contact with others and the transfer of goods, ideas, and diseases, it is these external environmental factors that resulted in the wild societal inequalities we ended up with in the last few centuries.
    </p>

  </div>
</section>
<!-- How to use -->
<section class="container">
  <div class="graph-instructions">
    <h5>How to use:</h5>
    <div class="two-column-text notes">
      <ul>
        <li> Hover over a node to see its name, and which other nodes it connects to. </li>
        <li> Click on a node to see all relevant notes. </li>
        <li> Click on a second node to only see notes related to both nodes. </li>
        <li> Click on the background to reset all selections. </li>
      </ul>
      <ul>
        <li> Use the search box to find a node - suggestions will be shown when you start typing. </li>
        <li> Click on the + / - buttons to zoom in and out. </li>
        <li> Click and drag the background to move the view of the graph.</li>
      </ul>
    </div>
  </div>
</section>

<!-- Graph -->
<section class="node-container">
  <div id="context-container" class="nodes-text"> </div>
  <div id="graph-container" class="nodes" style="width:100%;">
    <div id="selected-nodes"></div>
    <div class="node-controls">
      <div id="slider_container"></div>
      <div class="search-container">
        <input id="search-input" list="nodes-datalist" placeholder="Search for a node">
      </div>
      <datalist id="nodes-datalist"></datalist>
      <button type="button" id="zoom-in-button" class="zoom-button zoom-in">+</button>
      <button type="button" id="zoom-out-button" class="zoom-button zoom-out">-</button>
    </div>

  </div>
</section>
<!-- Legend -->
<section id="node-legend">
</section>
<!-- Comments -->
<section>
  <div class="container">
    <hr>
    <div class="comment-container">
      {% for comment in comments %}
      {% if comment.approved_comment %}
      <div class="comment-author">{{ comment.author }}</div>
      <div class="comment-date">{{ comment.created_date }}</div>
      {{ comment.message|linebreaks }}
      {% endif %}
      {% empty %}
      <p>No comments here yet :(</p>
      {% endfor %}
    </div>
    <hr>
    <div class="comment-form-container">
      <h3>Leave a comment</h3>
      <form method="post">
        {% csrf_token %}
        <div>
          {{comment_form.author}}
        </div>
        <div>
          {{ comment_form.message }}
        </div>
        <div>
          <button class="button" type="submit" formmethod="post">Post comment</button>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  let static_url = "{% get_static_prefix %}",
    ggs_graph = "nodes/gexf/ggs.gexf",
    ggs_graph_gexf = static_url + ggs_graph,
    context = "nodes/csv/GGS-context.csv",
    ggs_context = static_url + context,
    context_links = "nodes/csv/GGS-context-links.csv",
    ggs_context_links = static_url + context_links;

  let selected = [];
  MiniBarOptions = {
    barType: "default",
    minBarSize: 100,
    alwaysShowBars: true,
  };

  sigma.classes.graph.addMethod('neighbors', function (nodeId) {
    let k,
      neighbors = {},
      index = this.allNeighborsIndex[nodeId] || {};

    for (k in index)
      neighbors[k] = this.nodesIndex[k];

    return neighbors;
  });

  // Initialise sigma with settings
  var s = new sigma({
    renderers: [
      {
        type: 'canvas',
        container: document.getElementById('graph-container'),
        freeStyle: true
      }
    ],
    settings: {
        minNodeSize: 1,
        maxNodeSize: 20,
        minEdgeSize: 0.1,
        maxEdgeSize: 3,
        defaultEdgeType: "curve", // only works on canvas renderer
        defaultLabelColor: "#dffcff",
        labelColor:"#dffcff",
        // labelHoverBGColor: "default",
        defaultHoverLabelBGColor: "#171c1c",
        defaultLabelHoverColor: "#dffcff",
        font: "Poppins",
        drawLabels: false,
        mouseWheelEnabled: false,
        doubleClickEnabled: false,
        touchEnabled: false,
    },
  });

  // Load all notes
  Promise.all([
    d3.csv(ggs_context),
    d3.csv(ggs_context_links),
  ]).then(function (files) {

    var contexts = files[0],
      context_links = files[1];

    // Load data to the graph
    sigma.parsers.gexf(ggs_graph_gexf, s,
      function (s) {
        // Add various parameters to nodes and edges
        s.graph.nodes().forEach(function (n) {
          n.label = fCapital(n.label);
          n.color = getColor[n.attributes["modularity class"]];
          n.originalColor = n.color;
          n.inactiveColor = "#455454";
          n.selectedColor = "#DDDDDD";
        });
        s.graph.edges().forEach(function (e) {
          e.originalColor = e.color;
          e.inactiveColor = "#455454";
        });
        s.refresh();
        populateSearchList(s.graph.nodes());

        // Add event listeners to buttons
        var inputBox = document.getElementById('search-input');
        inputBox.addEventListener("change", searchChange);

        var zoomInButton = document.getElementById('zoom-in-button');
        zoomInButton.addEventListener("click", zoomIn);
        var zoomOutButton = document.getElementById('zoom-out-button');
        zoomOutButton.addEventListener("click", zoomOut);
      });

    updateContextText(contexts, context_links, selected);
    createLegend();

    function searchChange(e) {
      var value = e.target.value;

      // Add node to selected
      s.graph.nodes().forEach(function (n) {
        if (n.label == value) {
          if (!selected[n.id]) {
            selected[n.id] = n;
          }
        }
      });
      nodeSelect(s, selected, contexts, context_links, files[0], files[1]);
    }

    function zoomIn() {
      var c = s.camera;
      c.goTo({
        ratio: c.ratio / c.settings('zoomingRatio')
      });
    }

    function zoomOut() {
      var c = s.camera;
      c.goTo({
        ratio: c.ratio * c.settings('zoomingRatio')
      });
    }

    // Click event for node
    s.bind('clickNode', function (e) {
      // Add or remove from selected array
      if (!selected[e.data.node.id]) {
        selected[e.data.node.id] = e.data.node;
      } else {
        delete selected[e.data.node.id];
      }

      nodeSelect(s, selected, contexts, context_links, files[0], files[1]);
    });

    // Mouse over event
    s.bind('overNode', function (e) {
      nodeHover(s, e.data.node, selected, files[0], files[1]);
    });

    // Mouse out event
    s.bind('outNode', function (e) {
      nodeHoverOut(s, selected, files[0], files[1]);
    });

    // When the background is clicked, we reset the graph
    s.bind('clickStage', function (e) {
      selected = [];
      resetStates(s);
      showSelectedNodes(selected);
      updateContextText(contexts, context_links, selected);
      s.refresh();
    });

    function createLegend() {
      var categories = [
        { class: "2", name: "Food production" },
        { class: "0", name: "Locations" },
        { class: "1", name: "People" },
        { class: "6", name: "Societies" },
        { class: "5", name: "Conflict" },
        { class: "4", name: "Guns, germs and steel" },
        { class: "3", name: "Environment" },
        
      ];

      var container = document.getElementById('node-legend');

      //Object.keys(categories).forEach(function (key) {
      for (var cat of categories) {
        var legend_item = document.createElement("div");
        legend_item.classList.add('legend-item');

        var legend_dot = document.createElement("div");
        legend_dot.classList.add('legend-dot');
        legend_dot.style["background-color"] = getColor[cat.class];
        legend_item.appendChild(legend_dot);

        var legend_label = document.createElement("div");
        legend_label.classList.add('legend-label');
        legend_label.innerHTML = cat.name;
        legend_item.appendChild(legend_label);

        container.appendChild(legend_item);
      }
    }

    function populateSearchList(nodes) {
      var container = document.getElementById('nodes-datalist');
      nodes.forEach(function (n) {
        var item = document.createElement('option');
        item.value = n.label;
        container.appendChild(item);
      });
    }

  }).catch(function (error) {
    console.log(error);
  })

  getColor = {
    "0": "#0070D1",
    "1": "#66B8FF",
    "2": "#FFFF4D",
    "3": "#23CA23",
    "4": "#D1158F",
    "5": "#CC1919",
    "6": "#9D61D1"
  };
</script>
{% endblock %}