{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>{{ title }} - Navigate Obscurity</title>
<meta name="description" content="{{ abstract }}">
<meta property="og:image" content="https://www.navigateobscurity.com/static/nodes/images/guns-germs-and-steel-social.jpg" />
<meta property="og:title" content="{{ title }} - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/notes/guns-germs-and-steel" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/notes/guns-germs-and-steel" />
<meta name="twitter:title" content="{{ title }} - Navigate Obscurity" />
<meta name="twitter:description" content="{{ abstract }}" />
<meta name="twitter:image" content="https://www.navigateobscurity.com/static/nodes/images/guns-germs-and-steel-social.jpg" />

<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>
<!-- simplebar for custom styled scroll bars -->
<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<!-- We use sigma to visualise the graph -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.2/sigma.require.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.2/plugins/sigma.parsers.gexf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.2/plugins/sigma.renderers.parallelEdges.min.js"></script>

<script src={% static "nodes/js/node-helpers.js" %}></script>

<link rel='stylesheet' type="text/css" href={% static "nodes/css/nodes.css" %}>
<!-- using defer to load after the html -->
<script type="text/javascript" src={% static "nodes/js/ggs.js" %} defer></script> 
<noscript>
  <style>
    /**
    * Reinstate scrolling for non-JS clients
    */
    .simplebar-content-wrapper {
      overflow: auto;
    }
  </style>
</noscript>
{% endblock %}

{% block content %}
<section class="banner-container">
  <h1 class="header-title-banner">{{title}} by Jared Diamond</h1>
</section>
<!-- Intro -->
<section>
  <div class="container limited-width">
    <p>
        Why did societies develop in different ways and how did certain societies manage to dominate over others throughout the years? The advantages of the dominators are usually down to guns, germs and steel, but why were not those things equally available across societies? Jared Diamond argues that such inequalities are not caused by qualitative differences amongst the people themselves, but are instead dictated by their environments. From the availability of wild animals and plants for the development of food production that allowed the rise of populations, to the particular geography of a society’s environment that allowed or inhibited contact with others and the transfer of goods, ideas, and diseases, it is these external environmental factors that resulted in the wild societal inequalities we ended up with in the last few centuries.
    </p>

  </div>
</section>
<!-- How to use -->
{% include "./graph-instructions.html" %}

<!-- Graph -->
<section class="node-container">
  <div id="context_container" class="nodes-text"> </div>
  <div id="graph-container" class="nodes" style="width:100%;">
    <div id="selected-nodes"></div>
    <div class="node-controls">
      <div id="slider_container"></div>
      <div class="search-container">
        <input id="search-input" list="nodes-datalist" placeholder="Search for a node">
      </div>
      <datalist id="nodes-datalist"></datalist>
      <button type="button" id="zoom-in-button" class="zoom-button zoom-in">+</button>
      <button type="button" id="zoom-out-button" class="zoom-button zoom-out">-</button>
    </div>

  </div>
</section>
<!-- Legend -->
<section id="node-legend">
</section>
{% include "main/section-comments.html" %}
{% endblock %}