<!-- How to use -->
<section class="container">
    <div class="graph-instructions">
      <h5>How to use:</h5>
      <div class="two-column-text notes">
        <ul>
          <li> Hover over a node to see its name, and which other nodes it connects to. </li>
          <li> Click on a node to see all relevant notes. </li>
          <li> Click on a second node to only see notes related to both nodes. </li>
          <li> No more than two nodes can be selected at a time. </li>
        </ul>
        <ul>
          <li> Click on a selected node to deselect it or click on the background to reset all selections. </li>
          <li> Use the search box to find a node - suggestions will be shown when you start typing. </li>
          <li> Click on the + or - button to zoom in and out. </li>
          <li> Click and drag the background to move the view of the graph.</li>
        </ul>
      </div>
    </div>
  </section>