{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>{{ title }} - Navigate Obscurity</title>
<meta name="description" content="{{ abstract }}">
<meta property="og:image" content="https://www.navigateobscurity.com/static/nodes/images/head-strong-social.jpg" />
<meta property="og:title" content="{{ title }} - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/notes/head-strong" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/notes/head-strong" />
<meta name="twitter:title" content="{{ title }} - Navigate Obscurity" />
<meta name="twitter:description" content="{{ abstract }}" />
<meta name="twitter:image" content="https://www.navigateobscurity.com/static/nodes/images/head-strong-social.jpg" />

<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>
<!-- simplebar for custom styled scroll bars -->
<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<!-- We use sigma to visualise the graph -->
<script src={% static "nodes/js/sigma.min.js" %}></script>
<script src={% static "nodes/js/sigma.parsers.gexf.min.js" %}></script>
<script src={% static "nodes/js/sigma.renderers.parallelEdges.min.js" %}></script>

<script src={% static "nodes/js/node-helpers.js" %}></script>

<link rel='stylesheet' type="text/css" href={% static "nodes/css/nodes.css" %}>

<!-- using defer to load after the html -->
<script type="text/javascript" src={% static "nodes/js/head-strong.js" %} defer></script> 
<noscript>
  <style>
    /**
    * Reinstate scrolling for non-JS clients
    */
    .simplebar-content-wrapper {
      overflow: auto;
    }
  </style>
</noscript>
{% endblock %}

{% block content %}
<section class="banner-container">
  <h1 class="header-title-banner">{{title}} by Dave Asprey</h1>
</section>
<!-- Intro -->
<section>
  <div class="container limited-width">
    <p>
      Everything we do, from breathing, to exercising and daydreaming requires energy. All energy is produced in
      the cellular level, and is produced on demand – it cannot be stored. Therefore, everything you do always
      antagonises this limited resource of energy. Higher level functions such as creativity and rational thinking
      are not essential for surviving – at least not like breathing, moving and digestion are – and as a result
      they score lower in the energy priority list. At the same time, such higher level functions require a lot of
      energy. So how do you achieve and maintain peak mental performance and clarity of thought? By boosting your
      energy production and minimising the energy expenditure of other functions.
    </p>

  </div>
</section>
<!-- How to use -->
<section class="container">
  <div class="graph-instructions">
    <h5>How to use:</h5>
    <div class="two-column-text notes">
      <ul>
        <li> Hover over a node to see its name, and which other nodes it connects to. </li>
        <li> Click on a node to see all relevant notes. </li>
        <li> Click on a second node to only see notes related to both nodes. </li>
        <li> Click on the background to reset all selections. </li>
      </ul>
      <ul>
        <li> Use the search box to find a node - suggestions will be shown when you start typing. </li>
        <li> Click on the + / - buttons to zoom in and out. </li>
        <li> Click and drag the background to move the view of the graph.</li>
      </ul>
    </div>
  </div>
</section>

<!-- Graph -->
<section class="node-container">
  <div id="context_container" class="nodes-text"> </div>
  <div id="graph-container" class="nodes" style="width:100%;">
    <div id="selected-nodes"></div>
    <div class="node-controls">
      <div class="search-container">
        <input id="search-input" list="nodes-datalist" placeholder="Search for a node">
      </div>
      <datalist id="nodes-datalist"></datalist>
      <button type="button" id="zoom-in-button" class="zoom-button zoom-in">+</button>
      <button type="button" id="zoom-out-button" class="zoom-button zoom-out">-</button>
    </div>

  </div>
</section>
<!-- Legend -->
<section id="node-legend">
</section>
<!-- Comments -->
<section>
  <div class="container">
    <hr>
    <div class="comment-container">
      {% for comment in comments %}
      {% if comment.approved_comment %}
      <div class="comment-author">{{ comment.author }}</div>
      <div class="comment-date">{{ comment.created_date }}</div>
      {{ comment.message|linebreaks }}
      {% endif %}
      {% empty %}
      <p>No comments here yet :(</p>
      {% endfor %}
    </div>
    <hr>
    <div class="comment-form-container">
      <h3>Leave a comment</h3>
      <form method="post">
        {% csrf_token %}
        <div>
          {{comment_form.author}}
        </div>
        <div>
          {{ comment_form.message }}
        </div>
        <div>
          <button class="button" type="submit" formmethod="post">Post comment</button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}