@import "../../../../main/static/main/scss/variables.scss";
@import "../../../../main/static/main/scss/mixins.scss";
@import "../../../../main/static/main/scss/parents.scss";

.node-box-container {
  @include displayGrid;
  grid-gap: 50px;
  grid-template-columns: (1fr 3fr);
  padding: 30px 0;
}
.node-index-container {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  p {
    color: $almost-white;
  }
}
.node-box-text {
  max-width: 600px;
}
.graph-instructions {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 0 20px;
  h5 {
    margin: 10px 0 0;
  }
  ul {
    &:nth-child(1) {
      margin-bottom: 0;
      @media only screen and (min-width: $mobile-breakpoint) {
        margin-bottom: 13px;
      }
    }
    &:nth-child(2) {
      margin-top: 0;
      @media only screen and (min-width: $mobile-breakpoint) {
        margin-top: 13px;
      }
    }
  }
  li {
    padding-bottom: 10px;
  }
  .notes {
    font-size: 80%;
  }
}
.node-container {
  @include displayFlex;
  flex-direction: column-reverse;
  background-color: $dark-grey;
  padding: 0 $base-margin;
  height: 150vh;
  @media only screen and (min-width: $mobile-breakpoint) {
    height: 85vh;
    flex-direction: row;
  }
  #context_container {
    @include flex(1);
    color: $almost-white;
    background-color: $darker-grey;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 2px 4px 10px $navbar-color;
    .context-title-container {
        font-size: clamp(1em, 3vw, 1.2em);
        font-weight: 500;
        margin-bottom: 20px;
      .context-title {
        display: inline;
      }
      .node-item {
        display: inline;
        margin: 5px;
        color: $bright-blue;
        font-style: italic;
      }
    }
    .simplebar-scrollbar:before {
      background-color: hsl(0, 0%, 100%);
    }
    #context_wrapper {
      max-height: 85vh;
      padding: 20px;
    }
  }
  .simplebar-vertical {
    margin: 10px 5px;
  }
  .nodes {
    @include flex(2);
  }
  #graph-container {
    .node-controls {
      @include displayFlex;
      flex-direction: column;
      float: right;
      width: clamp(250px, 100%, 400px);
    }
    .search-container {
      border-radius: 10px;
      border-width: 1px;
      border-style: solid;
      border-color: $light-grey;
      position: relative;
      display: block;
      z-index: 10;
      color: $almost-white;
      overflow: hidden;
      height: 34px;
      align-self: flex-end;
      margin-bottom: 10px;
      &:hover {
        border-color: $bright-blue;
      }

      input {
        color: $almost-white;
        border: none;
        height: 34px;
        position: relative;
        padding: 0 10px;
        display: block;
        background-color: $dark-grey-opacity;
        width: calc(100% - 20px);
      }
      @media only screen and (min-width: $mobile-breakpoint) {
        width: inherit;
      }
    }
  }
  .zoom-button {
    position: relative;
    cursor: pointer;
    z-index: 10;
    color: $almost-white;
    background-color: $dark-grey-opacity;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: $light-grey;
    align-self: flex-end;
    height: 40px;
    width: 40px;
  }
  .zoom-in {
    border-radius: 10px 10px 0 0;
  }
  .zoom-out {
    border-radius: 0 0 10px 10px;
  }
  .zoom-button:hover {
    color: $dark-grey;
    background-color: $bright-blue;
    border-color: $bright-blue;
  }
}
#node-legend {
  background-color: $dark-grey;
  padding: 20px 50px;
  color: $almost-white;
  text-align: center;
}
.legend-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.legend-item {
  display: inline-flex;
  margin-bottom: 5px;
  margin-right: 20px;
  white-space: nowrap;
}

#slider_container {
  z-index: 10;
}
.slider-container {
  display: inline-block;
  position: relative;
  top: -15px;
  margin-top: 10px;
  width: 100%;

  .slider {
    @include appearance(none);
    height: 3px;
    width: calc(100% - 167px);
    background: $light-grey;
    border-radius: 5px;
    outline: none;
    @include transition(opacity 0.2s);

    &::-webkit-slider-thumb {
      @include appearance(none);
      width: 25px;
      height: 25px;
      background: $dark-grey;
      border-width: 2px;
      border-color: $light-grey;
      border-style: solid;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background: $bright-blue;
        border-color: $bright-blue;
      }
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $dark-grey;
      border-width: 2px;
      border-color: $light-grey;
      border-style: solid;
      cursor: pointer;
      &:hover {
        background: $bright-blue;
        border-color: $bright-blue;
      }
    }
  }

  .slider-output {
    display: inline-block;
    position: relative;
    width: 130px;
    top: 3px;
    color: $almost-white;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: $light-grey;
    padding: 5px 10px;
    margin-left: 15px;

    &:after {
      position: absolute;
      top: 8px;
      left: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid $light-grey;
      border-bottom: 7px solid transparent;
      content: "";
    }
  }
}
.note-container {
  margin-bottom: 15px;
  .reference{
    text-align: end;
    font-size: 80%;
  }
}
