{% extends 'cclab/layout.html' %}
{% load static %}

{% block styles %}
    <!-- Meta -->
    <title>Cooperation & Conflict Lab - Navigate Obscurity</title>
    <meta name="description"
        content="How do we navigate the fundamental tensions between cooperation and conflict that are inherent to social living? The Cooperation and Conflict Lab investigates these process across a variety of systems, from humans food sharing to cooperation in multicellularity and cancer.">
    <meta property="og:image"
        content="https://www.navigateobscurity.com/static/cclab/images/cooperation-conflict-lab.jpg" />
    <meta property="og:title" content="Cooperation & Conflict Lab" />
    <meta property="og:url" content="https://www.navigateobscurity.com/cooperation-conflict-lab" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://www.navigateobscurity.com/cooperation-conflict-lab" />
    <meta name="twitter:title" content="Cooperation & Conflict Lab" />
    <meta name="twitter:description"
        content="How do we navigate the fundamental tensions between cooperation and conflict that are inherent to social living? The Cooperation and Conflict Lab investigates these process across a variety of systems, from humans food sharing to cooperation in multicellularity and cancer." />
    <meta name="twitter:image"
        content="https://www.navigateobscurity.com/static/cclab/images/cooperation-conflict-lab.jpg" />

    <!-- We use d3 libraries to load data -->
    <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
    <script src="https://d3js.org/d3-fetch.v1.min.js"></script>

    <!-- We use highcharts for visualizations -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/coloraxis.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>

    <script src={% static "worlddata/js/chart-helpers.js" %}></script>

    <link rel='stylesheet' type="text/css" href={% static "cclab/css/highcharts.css" %}>
    {% endblock %}

    {% block content %}

    <!-- Variable lookup - global cohort -->

    <div class="data-container">
        <h1>Global cohorts - variable lookup</h1>
        <div class="lookup-dash-info-container">
            <div class="lookup-dash-info">
                <datalist id="look_glo_datalist"></datalist>
                <div style="width: 300px; margin-right:30px;">

                    <div class="search-container">
                        <input id="look_glo_input" list="look_glo_datalist" placeholder="Search for a variable">
                    </div>
                </div>
                <div class="lookup-dash-info">
                    <div style="display: inline-flex; padding-bottom: 10px;">
                        <div class="yellow-font lookup-info-title"> Keyword: </div>
                        <div id="look_glo_key" class="look-text" style="font-size:110%;"></div>
                    </div>
                    <div style="display: inline-flex;">
                        <div class="yellow-font lookup-info-title"> Description: </div>
                        <div id="look_glo_desc" class="look-text" style="font-size:110%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yellow-font" style="background-color: #8c8c8c; padding:0 10px 10px;">Available at the following
            time points:</div>
        <div class="look-checks-container">
            <div class="look-check-container">
                <div class="look-check-title">06 Mar (t1)</div>
                <div class="look-check check-yes"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">14 Mar (t2)</div>
                <div class="look-check check-yes"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">24 March (t3)</div>
                <div class="look-check check-yes"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">03 Apr (t4)</div>
                <div class="look-check check-yes"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">17 Apr (t5)</div>
                <div class="look-check check-yes"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">02 May (t6)</div>
                <div class="look-check check-yes"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">16 May (t7)</div>
                <div class="look-check check-yes"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">30 May (t8)</div>
                <div class="look-check check-yes"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">13 Jun (t9)</div>
                <div class="look-check check-yes"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">27 Jun (t10)</div>
                <div class="look-check check-no"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">11 Jul (t11)</div>
                <div class="look-check check-yes"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">25 Jul (t12)</div>
                <div class="look-check check-yes"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">08 Aug (t13)</div>
                <div class="look-check check-no"></div>
            </div>
            <div class="look-check-container">
                <div class="look-check-title">22 Aug (t14)</div>
                <div class="look-check check-yes"></div>
            </div>
        </div>
        <div id="look_glo_int_chart" class="lookup-line-chart"></div>
        <div id="look_glo_str_chart"></div>
        <a class="cclab-button" href="https://www.cooperationintheapocalypse.org/#data">return to data</a>
    </div>
    

    <script>
        var static_url = "{% get_static_prefix %}";

        file_glo_look = "cclab/csv/CCLAB-lookup-glo-lookup.csv";
        glo_look_path = static_url + file_glo_look;
        file_glo_desc = "cclab/csv/CCLAB-lookup-glo-descriptions.csv";
        glo_desc_path = static_url + file_glo_desc;
        file_glo_int = "cclab/csv/CCLAB-lookup-glo-int.csv";
        glo_int_path = static_url + file_glo_int;
        file_glo_str = "cclab/csv/CCLAB-lookup-glo-string.csv";
        glo_str_path = static_url + file_glo_str;

        // Lookup for global cohort
        var lookupGlo = Promise.all([
            d3.csv(glo_look_path),
            d3.csv(glo_desc_path),
            d3.csv(glo_int_path),
            d3.csv(glo_str_path)
        ]).then(function (files) {

            let all_dates = ["03-06-2020", "03-14-2020", "03-24-2020", "04-03-2020", "04-17-2020", "05-02-2020", "05-16-2020", "05-30-2020", "06-13-2020", "06-27-2020", "07-11-2020", "07-25-2020", "08-08-2020", "08-22-2020"];
            const all_variables = [...new Set(files[1].map(d => d.key))];
            let descriptions_lookup = [];
            for (let row of files[1]) {
                descriptions_lookup[row.key] = row.description;
            }
            let excluded = ["the", "The", "on", "of", "and", "was", "is", "my", "it", "from", "to", "in", "about", "I", "that", "be", "for", "would", "were", "me", "have", "at", "so", "not", "My", "as", "more", "i", "what", "we", "had", "with", "by", "how", "did", "do", "a", "it", "that", "then", "this", "there", "than", "get", "but", "don't", "i'm", "am", "she", "he", "or", "an", "you", "if", "its", "it's"]

            let variable = "Stress";
            let variableInt = "Stress";
            let variableStr = "Cause";
            let variableType = "number";

            varKey = document.getElementById("look_glo_key");
            varKey.innerHTML = variable;
            varDesc = document.getElementById("look_glo_desc");
            varDesc.innerHTML = descriptions_lookup[variable];

            setChecks();
            hideChart();
            let initial_average_data = getIntData();
            let initial_wordcloud_data = getStringData();

            function getStringData() {
                let text = "";
                let colorIndxs = [4, 22, 17, 21, 2, 11, 19, 15];
                let j =0;

                for (let row of files[3]) {
                    if (row.Measure == variableStr) {
                        text = row.t1.toLowerCase() + " " + row.t2.toLowerCase() + " " + row.t3.toLowerCase() + " " + row.t4.toLowerCase() + " " + row.t5.toLowerCase() + " " + row.t6.toLowerCase() + " " + row.t7.toLowerCase() + " " + row.t8.toLowerCase() + " " + row.t9.toLowerCase() + " " + row.t10.toLowerCase() + " " + row.t11.toLowerCase() + " " + row.t12.toLowerCase() + " " + row.t13.toLowerCase() + " " + row.t14.toLowerCase();
                    }
                }
                lines = text.split(/[,\. ]+/g),
                    allData = lines.reduce((arr, word) => {
                        let obj = Highcharts.find(arr, obj => obj.name === word);
                        if (obj) {
                            obj.weight += 1;
                        } else {
                            obj = {
                                name: word,
                                weight: 1,
                                colorIndex: colorIndxs[j]
                            };
                            arr.push(obj);
                            if (j == 7) {
                                j = 0;
                            } else {
                                j++;
                            }
                        }
                        return arr;
                    }, []);
                new_data = [];
                allData.forEach(function (arrayItem) {
                    if (arrayItem.weight > 1 && !excluded.includes(arrayItem.name)) {
                        new_data.push(arrayItem);
                    }
                });
                new_data.sort(function (a, b) {
                    return parseFloat(b.weight) - parseFloat(a.weight);
                });
                let new_data_reduced = new_data.slice(0, 100);

                return new_data_reduced;
            }
            function getIntData() {
                var new_data = [];
                for (let row of files[2]) {
                    if (row.Measure == variable) {
                        new_data = [[Date.UTC(2020, 02, 06, 0, 0, 0), +row.t1],
                        [Date.UTC(2020, 02, 14, 0, 0, 0), +row.t2],
                        [Date.UTC(2020, 02, 24, 0, 0, 0), +row.t3],
                        [Date.UTC(2020, 03, 03, 0, 0, 0), +row.t4],
                        [Date.UTC(2020, 03, 17, 0, 0, 0), +row.t5],
                        [Date.UTC(2020, 04, 02, 0, 0, 0), +row.t6],
                        [Date.UTC(2020, 04, 16, 0, 0, 0), +row.t7],
                        [Date.UTC(2020, 04, 30, 0, 0, 0), +row.t8],
                        [Date.UTC(2020, 05, 13, 0, 0, 0), +row.t9],
                        [Date.UTC(2020, 05, 27, 0, 0, 0), +row.t10],
                        [Date.UTC(2020, 06, 11, 0, 0, 0), +row.t11],
                        [Date.UTC(2020, 06, 25, 0, 0, 0), +row.t12],
                        [Date.UTC(2020, 07, 08, 0, 0, 0), +row.t13],
                        [Date.UTC(2020, 07, 22, 0, 0, 0), +row.t14]]
                    }
                }

                // to hide 0's
                new_data.forEach(function (element, index) {
                    if (element[1] === 0) {
                        new_data[index][1] = null;
                    }
                });

                return new_data;

            }
            function hideChart() {
                intChartEl = document.getElementById('look_glo_int_chart');
                strChartEl = document.getElementById('look_glo_str_chart');

                if (variableType == "number") {
                    strChartEl.classList.add("hidden");
                    intChartEl.classList.remove("hidden");
                } else {
                    strChartEl.classList.remove("hidden");
                    intChartEl.classList.add("hidden");
                }
            }

            let int_chart = Highcharts.chart('look_glo_int_chart', {
                chart: {
                    type: 'spline',
                    height: 320,
                },
                title: {
                    text: null
                },
                xAxis: {
                    type: 'datetime',
                    minPadding: 0.05,
                    maxPadding: 0.05,
                    tickPositions: [1583452800000, 1585872000000, 1588377600000, 1590796800000, 1593216000000, 1595635200000, 1598054400000]
                },
                yAxis: {
                    title: {
                        text: 'Average score',
                    },
                },
                plotOptions: {
                    spline: {
                        lineWidth: 4,
                        marker: {
                            enabled: true,
                            radius: 5
                        },
                        label: {
                            enabled: false
                        }
                    },
                    series: {
                        groupPadding: 0.1,
                        color: '#FF0000'
                    }
                },
                tooltip: {
                    valueDecimals: 2
                },
                series: [{
                    id: "average",
                    name: "Average score",
                    colorIndex: 22,
                    data: initial_average_data,
                    label: {
                        enabled: false,
                        format: ''
                    },
                }],
                legend: {
                    enabled: false
                }
            });
            let wordcloud = Highcharts.chart('look_glo_str_chart', {
                series: [{
                    type: 'wordcloud',
                    data: initial_wordcloud_data,
                    name: 'Occurrences',
                }],
                title: {
                    text: null
                }
            });

            // Dropdowns
            let glo_var_input = document.getElementById("look_glo_input");
            glo_var_input.addEventListener("change", varChange);
            populateSearchList(all_variables, "look_glo_datalist");

            // Update chart data on variable change
            function varChange() {
                // update variables
                let searchInput = document.getElementById("look_glo_input");
                variable = searchInput.value;
                variableType = getVarType();

                // clear search
                searchInput.value = '';

                // update
                setChecks();
                varKey.innerHTML = variable;
                varDesc.innerHTML = descriptions_lookup[variable];
                if (variableType == "number") {
                    variableInt = variable;
                    let newIntData = getIntData();
                    int_chart.series[0].setData(newIntData);
                } else if (variableType == "text") {
                    variableStr = variable;
                    let newStrData = getStringData();
                    wordcloud.series[0].setData(newStrData);
                }
                hideChart();
            }
            function getVarType() {
                for (let row of files[1]) {
                    if (row.key == variable && row.type == "int") {
                        return "number";
                    } else if (row.key == variable && row.type == "string") {
                        return "text";
                    }
                }
                console.log("variable type not found for " + variable);
                return "";
            }
            function populateSearchList(variables, containerId) {
                var container = document.getElementById(containerId);
                container.innerHTML = '';
                variables.forEach(function (v) {
                    var item = document.createElement('option');
                    item.value = v;
                    item.label = descriptions_lookup[v];
                    container.appendChild(item);
                });
            }

            function setChecks() {
                allCheckElements = document.getElementsByClassName("look-check");

                for (let el of allCheckElements) {
                    el.classList.remove("check-yes");
                    el.classList.remove("check-no");
                }

                let look = [];
                for (let row of files[0]) {
                    if (row.Name == variable) {
                        look.push(row.t1);
                        look.push(row.t2);
                        look.push(row.t3);
                        look.push(row.t4);
                        look.push(row.t5);
                        look.push(row.t6);
                        look.push(row.t7);
                        look.push(row.t8);
                        look.push(row.t9);
                        look.push(row.t10);
                        look.push(row.t11);
                        look.push(row.t12);
                        look.push(row.t13);
                        look.push(row.t14);
                    }
                }

                for (let i = 0; i < allCheckElements.length; i++) {
                    if (look[i] == 1) {
                        allCheckElements[i].classList.add("check-yes");
                    } else {
                        allCheckElements[i].classList.add("check-no");
                    }
                }
            }


        })
            .catch(function (error) {
                console.log(error);
            })

    </script>
{% endblock %}