{% extends 'cclab/layout.html' %}
{% load static %}

{% block styles %}
    <!-- Meta -->
    <title>Cooperation & Conflict Lab - Navigate Obscurity</title>
    <meta name="description"
        content="How do we navigate the fundamental tensions between cooperation and conflict that are inherent to social living? The Cooperation and Conflict Lab investigates these process across a variety of systems, from humans food sharing to cooperation in multicellularity and cancer.">
    <meta property="og:image"
        content="https://www.navigateobscurity.com/static/cclab/images/cooperation-conflict-lab.jpg" />
    <meta property="og:title" content="Cooperation & Conflict Lab" />
    <meta property="og:url" content="https://www.navigateobscurity.com/cooperation-conflict-lab" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://www.navigateobscurity.com/cooperation-conflict-lab" />
    <meta name="twitter:title" content="Cooperation & Conflict Lab" />
    <meta name="twitter:description"
        content="How do we navigate the fundamental tensions between cooperation and conflict that are inherent to social living? The Cooperation and Conflict Lab investigates these process across a variety of systems, from humans food sharing to cooperation in multicellularity and cancer." />
    <meta name="twitter:image"
        content="https://www.navigateobscurity.com/static/cclab/images/cooperation-conflict-lab.jpg" />

{% endblock %}

{% block content %}
    
    <!-- Variable lookup - global cohort -->
<section class="index-container">
    <h1>Data</h1>
    <div class="data-text">So far, we have run 2 data collection rounds. The first round consisted of 2 global cohorts 
        (mainly based in Europe and North America) and run from the 6th of March, 2020 (shortly before the COVID-19 
        outbreak was declared a global pandemic) until the 22nd of August, 2020. The second round consists a US based 
        representative cohort, started running on the 26th of September, 2020 and is still ongoing. Below you can find 
        various tools and visualisations to explore this data and some of our analysis so far.</div>
    <h2>US cohort: 26 September, 2020 - today</h2>
    <div class="index-item">
        <div class="index-layout-img us-summary-image"></div>
        <div class="index-item-details">
            <div class="index-title">Summary of findings</div>
            <div class="index-description">We examined how people’s willingness to help others and their perceived interdependence with others changed during the COVID-19 pandemic.</div>
            <a class="cclab-button" href="/cooperation-conflict-lab/us-summary">See more</a>
        </div>
    </div>
    <div class="index-item">
        <div class="index-layout-img us-lookup-image"></div>
        <div class="index-item-details">
            <div class="index-title">Variable lookup</div>
            <div class="index-description">915 participants were asked 918 questions across 16 timepoints. Find out what we asked, when we asked it, and how participants responded.</div>
            <a class="cclab-button" href="/cooperation-conflict-lab/us-variable-lookup">See more</a>
        </div>
    </div>
    <div class="index-item">
        <div class="index-layout-img us-comparison-image"></div>
        <div class="index-item-details">
            <div class="index-title">Variable comparison</div>
            <div class="index-description">Pick any two of our variables and a time point. You will be provided with 4 different visualisations to help you explore their relationship.</div>
            <a class="cclab-button" href="/cooperation-conflict-lab/us-variable-comparison">See more</a>
        </div>
    </div>

    <h2>Global cohorts: 6 March 2020 - 22 August 2020</h2>
    <div class="index-item">
        <div class="index-layout-img glo-lookup-image"></div>
        <div class="index-item-details">
            <div class="index-title">Variable lookup</div>
            <div class="index-description">1018 participants were asked 491 questions across 14 timepoints. Find out what we asked, when we asked it, and how participants responded.</div>
            <a class="cclab-button" href="/cooperation-conflict-lab/global-variable-lookup">See more</a>
        </div>
    </div>
    <div class="index-item">
        <div class="index-layout-img glo-comparison-image"></div>
        <div class="index-item-details">
            <div class="index-title">Variable comparison</div>
            <div class="index-description">Pick any two of our variables and a time point. You will be provided with 4 different visualisations to help you explore their relationship.</div>
            <a class="cclab-button" href="/cooperation-conflict-lab/global-variable-comparison">See more</a>
        </div>
    </div>
    
</section>
    

    





<section class="index-container" style="margin: auto; padding: 70px;">
    <div>So far, we have run 2 data collection rounds. The first round consisted of 2 global cohorts 
        (mainly based in Europe and North America) and run from the 6th of March, 2020 (shortly before the COVID-19 
        outbreak was declared a global pandemic) until the 22nd of August, 2020. The second round consists a US based 
        representative cohort, started running on the 26th of September, 2020 and is still ongoing. Below you can find 
        various tools and visualisations to explore this data and some of our analysis so far.</div>
    <h2>US cohort: 26 September, 2020 - today</h2>
    <div style=" display: flex; flex-direction: row; margin-bottom: 70px;">
        <div style="height: 200px; width: 270px; background: url(https://navigateobscurity.com/static/cclab/images/US-summary.jpg); background-position: top; background-size: cover;"></div>
        <div style="align-self: center; padding-left: 20px; max-width: 500px;">
            <div style="font-size: 120%; font-weight: 600; color: #242629;">Summary of findings</div>
            <div style="margin-top: 10px;">We examined how people’s willingness to help others and their perceived interdependence with others changed during the COVID-19 pandemic.</div>
            <a style="display: inline-block; background-color: #c83639; padding: 8px 20px; color: #fff; text-decoration: none; text-transform: uppercase; font-weight: 600; margin-top: 15px;" href="https://navigateobscurity.com/cooperation-conflict-lab/us-summary">See more</a>
        </div>
    </div>
    <div style=" display: flex; flex-direction: row; margin-bottom: 70px;">
        <div style="height: 200px; width: 270px; background: url(https://navigateobscurity.com/static/cclab/images/us-lookup.jpg); background-position: top; background-size: cover;"></div>
        <div style="align-self: center; padding-left: 20px; max-width: 500px;">
            <div style="font-size: 120%; font-weight: 600; color: #242629;">Variable lookup</div>
            <div style="margin-top: 10px;">915 participants were asked 879 questions across 15 timepoints. Find out what we asked, when we asked it, and how participants responded.</div>
            <a style="display: inline-block; background-color: #c83639; padding: 8px 20px; color: #fff; text-decoration: none; text-transform: uppercase; font-weight: 600; margin-top: 15px;" href="https://navigateobscurity.com/cooperation-conflict-lab/us-variable-lookup">See more</a>
        </div>
    </div>
    <div style=" display: flex; flex-direction: row; margin-bottom: 70px;">
        <div style="height: 200px; width: 270px; background: url(https://navigateobscurity.com/static/cclab/images/us-comparison.jpg); background-position: top; background-size: cover;"></div>
        <div style="align-self: center; padding-left: 20px; max-width: 500px;">
            <div style="font-size: 120%; font-weight: 600; color: #242629;">Variable comparison</div>
            <div style="margin-top: 10px;">Pick any two of our variables and a time point. You will be provided with 4 different visualisations to help you explore their relationship.</div>
            <a style="display: inline-block; background-color: #c83639; padding: 8px 20px; color: #fff; text-decoration: none; text-transform: uppercase; font-weight: 600; margin-top: 15px;" href="https://navigateobscurity.com/cooperation-conflict-lab/us-variable-comparison">See more</a>
        </div>
    </div>

    <h2>Global cohorts: 6 March 2020 - 22 August 2020</h2>
    <div style=" display: flex; flex-direction: row; margin-bottom: 70px;">
        <div style="height: 200px; width: 270px; background: url(https://navigateobscurity.com/static/cclab/images/glo-lookup.jpg); background-position: top; background-size: cover;"></div>
        <div style="align-self: center; padding-left: 20px; max-width: 500px;">
            <div style="font-size: 120%; font-weight: 600; color: #242629;">Variable lookup</div>
            <div style="margin-top: 10px;">1018 participants were asked 491 questions across 14 timepoints. Find out what we asked, when we asked it, and how participants responded.</div>
            <a style="display: inline-block; background-color: #c83639; padding: 8px 20px; color: #fff; text-decoration: none; text-transform: uppercase; font-weight: 600; margin-top: 15px;" href="https://navigateobscurity.com/cooperation-conflict-lab/global-variable-lookup">See more</a>
        </div>
    </div>
    <div style=" display: flex; flex-direction: row; margin-bottom: 70px;">
        <div style="height: 200px; width: 270px; background: url(https://navigateobscurity.com/static/cclab/images/glo-comparison.jpg); background-position: top; background-size: cover;"></div>
        <div style="align-self: center; padding-left: 20px; max-width: 500px;">
            <div style="font-size: 120%; font-weight: 600; color: #242629;">Variable comparison</div>
            <div style="margin-top: 10px;">Pick any two of our variables and a time point. You will be provided with 4 different visualisations to help you explore their relationship.</div>
            <a style="display: inline-block; background-color: #c83639; padding: 8px 20px; color: #fff; text-decoration: none; text-transform: uppercase; font-weight: 600; margin-top: 15px;" href="https://navigateobscurity.com/cooperation-conflict-lab/global-variable-comparison">See more</a>
        </div>
    </div>
    
</section>







{% endblock %}