.footer-container {
    position: relative;
    height: 100vh;
    background-image: url(../images/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    @include background-size(cover); 
  }
  .footer-title {
    position: absolute;
    bottom: 5vh;
    left: 20px;
    padding-left: 10px;
    border-left: 5px solid $bright-blue;
    color: $darker-grey;
    font-size: 150%;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
    word-break: break-word;
    @media (min-width: $mobile-breakpoint) {
      left:50px;
    }
  }
  .bottom-bar {
    background-color: black;
    height: 20px;
    margin:0;
    padding:5px;
    color: $almost-white;
    font-size: 80%;
    text-align: center;

    p {
      display: inline;
      margin:0;
    }
    a {
      color: $almost-white;
      text-transform: none;
      font-style: italic;

      img {
        position: relative;
        top: 3px;
        margin-left: 5px;
        height: 15px;
        width: 15px;
      }
    }
  }