.footer-container {
    position: relative;
    height: 100vh;
    background-image: url(../images/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    @include background-size(cover); 
  }
  .footer-title {
    position: absolute;
    bottom: 5vh;
    padding-left: 10px;
    border-left: 5px solid $bright-blue;
    color: $darker-grey;
    font-size: clamp(0.8rem, 3vw, 1.8rem);
    font-weight: 600;
    word-break: break-word;
    margin-left:$base-margin;
  }
  .bottom-bar {
    background-color: black;
    height: 20px;
    margin:0;
    padding:5px;
    color: $almost-white;
    font-size: clamp(0.4rem, 2vw, 0.9rem);
    text-align: center;

    p {
      display: inline;
      margin:0;
    }
    a {
      color: $almost-white;
      text-transform: none;
      font-style: italic;

      img {
        position: relative;
        top: 2px;
        margin-left: 5px;
        height: 90%;
      }
    }
  }