{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>{{ title }} - Navigate Obscurity</title>
<meta name="description" content="{{ abstract }}">
<meta property="og:image" content="https://www.navigateobscurity.com/static/worlddata/images/biodiversity-social.jpg" />
<meta property="og:title" content="{{ title }} - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/data/biodiversity" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/data/biodiversity" />
<meta name="twitter:title" content="{{ title }} - Navigate Obscurity" />
<meta name="twitter:description" content="{{ abstract }}" />
<meta name="twitter:image"
    content="https://www.navigateobscurity.com/static/worlddata/images/biodiversity-social.jpg" />

<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>

<link rel='stylesheet' type="text/css" href={% static "worlddata/css/data.css" %}>
<link rel='stylesheet' type="text/css" href={% static "worlddata/css/highcharts.css" %}>
<script type="module" src={% static "worlddata/js/chartOptions.js" %}></script>
<!-- using defer to load after the html -->
<script type="module" src={% static "worlddata/js/biodiversity.js" %} defer></script> 
{% endblock %}

{% block content %}
<section class="banner-container">
    <h1 class="header-title-banner">{{title}}</h1>
</section>
<!-- Biomass pie -->
<section>
    <div class="container limited-width">
        <p>
            Below you can see the breakdown of the total weight of living organisms (biomass) estimated to be currently
            living on Earth. Biomass is here counted in gigatons of carbon.
        </p>
        <p>
            You can use the filters on the right to look at all Taxa (broad biological categories) or to concentrate on
            animals. You can also filter according to territories: terrestrial - including birds and soil, terrestrial
            deep subsurface - deeper than 8m from the surface, marine - oceans, lakes, rivers etc, and marine deep
            subsurface which extends up to around 6km underneath the seafloor.
        </p>
        <p>
            There is an argument here for removing from these estimations the 300 gt of tree trunks and stems which are
            mostly non-living lignified tissue, and the viruses, archaea and bacteria of the deep subterranian levels
            (both terrestrial and marine) as these organisms are metabolically dormant. It's worth noting, that even
            without tree trunks and stems, plants still dominate the global biomass of Earth with 150 gt.
        </p>
    </div>
    <figure>
        <div class="container chart-container biomass-pie legend-right filters-right">
            <div class="chart-options" style="min-width:260px">
                <div class="chart-filters"></div>
                <div class="chart-legend wide-screen-legend"></div>
            </div>
            <div id="pie_chart" class="pie" style="width:100%"></div>
            <div class="chart-options mobile-legend" style="min-width:260px">
                <div class="chart-legend"></div>
            </div>
        </div>
    </figure>
    <div class="source-text">
        <p>
            *Source:
            <a href="http://www.pnas.org/content/115/25/6506" target="_blank">Yinon M. Bar-On, Rob Phillips, and Ron
                Milo. 2018. "The
                biomass distribution on Earth". Proceedings of the National Academy of Sciences of the United States of
                America.</a>
        </p>
    </div>
</section>
<!-- Biomass and population scatter plot -->
<section>
    <div class="container limited-width">
        <p>
            Here you can see the correlation between the total population of taxa, and their corresponding biomass. Note
            that populations are presented in powers of ten, so every step indicates a tenfold increase of population. 
        </p>
    </div>
    <figure>
        <div class="container chart-container biomass-scatter legend-below">
            <div id="scatter_plot" class="scatter" style="width:100%;"></div>
            <div class="chart-options">
                <div class="chart-legend"></div>
            </div>
        </div>
    </figure>
    <div class="source-text">
        <p>
            *Source:
            <a href="http://www.pnas.org/content/115/25/6506" target="_blank">Yinon M. Bar-On, Rob Phillips, and Ron
                Milo. 2018. "The
                biomass distribution on Earth". Proceedings of the National Academy of Sciences of the United States of
                America.</a>
        </p>
    </div>
</section>
<!-- Comments -->
<section>
    <div class="container">
        <hr>
        <div class="comment-container">
            {% for comment in comments %}
            {% if comment.approved_comment %}
            <div class="comment-author">{{ comment.author }}</div>
            <div class="comment-date">{{ comment.created_date }}</div>
            {{ comment.message|linebreaks }}
            {% endif %}
            {% empty %}
            <p>No comments here yet :(</p>
            {% endfor %}
        </div>
        <hr>
        <div class="comment-form-container">
            <h3>Leave a comment</h3>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{comment_form.author}}
                </div>
                <div>
                    {{ comment_form.message }}
                </div>
                <div>
                    <button type="submit" class="button" formmethod="post">Post comment</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}