{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>{{ title }} - Navigate Obscurity</title>
<meta name="description" content="{{ abstract }}">
<meta property="og:image" content="https://www.navigateobscurity.com/static/worlddata/images/biodiversity-social.jpg" />
<meta property="og:title" content="{{ title }} - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/data/biodiversity" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/data/biodiversity" />
<meta name="twitter:title" content="{{ title }} - Navigate Obscurity" />
<meta name="twitter:description" content="{{ abstract }}" />
<meta name="twitter:image"
    content="https://www.navigateobscurity.com/static/worlddata/images/biodiversity-social.jpg" />

<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>

<!-- We use highcharts for visualizations -->
<script src="https://code.highcharts.com/highcharts.js"></script>

<script src={% static "worlddata/js/chart-helpers.js" %}></script>

<link rel='stylesheet' type="text/css" href={% static "worlddata/css/data.css" %}>
<link rel='stylesheet' type="text/css" href={% static "worlddata/css/highcharts.css" %}>
{% endblock %}

{% block content %}
<section class="banner-container">
    <h1 class="header-title-banner">{{title}}</h1>
</section>
<!-- Biomass pie -->
<section>
    <div class="container limited-width">
        <p>
            Below you can see the breakdown of the total weight of living organisms (biomass) estimated to be currently
            living on Earth. Biomass is here counted in gigatons of carbon.
        </p>
        <p>
            You can use the filters on the right to look at all Taxa (broad biological categories) or to concentrate on
            animals. You can also filter according to territories: terrestrial - including birds and soil, terrestrial
            deep subsurface - deeper than 8m from the surface, marine - oceans, lakes, rivers etc, and marine deep
            subsurface which extends up to around 6km underneath the seafloor.
        </p>
        <p>
            There is an argument here for removing from these estimations the 300 gt of tree trunks and stems which are
            mostly non-living lignified tissue, and the viruses, archaea and bacteria of the deep subterranian levels
            (both terrestrial and marine) as these organisms are metabolically dormant. It's worth noting, that even
            without tree trunks and stems, plants still dominate the global biomass of Earth with 150 gt.
        </p>
    </div>
    <figure>
        <div class="container chart-container biomass-pie legend-right filters-right">
            <div class="chart-options" style="min-width:260px">
                <div class="chart-filters"></div>
                <div class="chart-legend wide-screen-legend"></div>
            </div>
            <div id="pie_chart" class="pie" style="width:100%"></div>
            <div class="chart-options mobile-legend" style="min-width:260px">
                <div class="chart-legend"></div>
            </div>
        </div>
    </figure>
    <div class="source-text">
        <p>
            *Source:
            <a href="http://www.pnas.org/content/115/25/6506" target="_blank">Yinon M. Bar-On, Rob Phillips, and Ron
                Milo. 2018. "The
                biomass distribution on Earth". Proceedings of the National Academy of Sciences of the United States of
                America.</a>
        </p>
    </div>
</section>
<!-- Biomass and population scatter plot -->
<section>
    <div class="container limited-width">
        <p>
            Here you can see the correlation between the total population of taxa, and their corresponding biomass. Note
            that populations are presented in powers of ten, so every step indicates a tenfold increase of population. 
        </p>
    </div>
    <figure>
        <div class="container chart-container biomass-scatter legend-below">
            <div id="scatter_plot" class="scatter" style="width:100%;"></div>
            <div class="chart-options">
                <div class="chart-legend"></div>
            </div>
        </div>
    </figure>
    <div class="source-text">
        <p>
            *Source:
            <a href="http://www.pnas.org/content/115/25/6506" target="_blank">Yinon M. Bar-On, Rob Phillips, and Ron
                Milo. 2018. "The
                biomass distribution on Earth". Proceedings of the National Academy of Sciences of the United States of
                America.</a>
        </p>
    </div>
</section>
<!-- Comments -->
<section>
    <div class="container">
        <hr>
        <div class="comment-container">
            {% for comment in comments %}
            {% if comment.approved_comment %}
            <div class="comment-author">{{ comment.author }}</div>
            <div class="comment-date">{{ comment.created_date }}</div>
            {{ comment.message|linebreaks }}
            {% endif %}
            {% empty %}
            <p>No comments here yet :(</p>
            {% endfor %}
        </div>
        <hr>
        <div class="comment-form-container">
            <h3>Leave a comment</h3>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{comment_form.author}}
                </div>
                <div>
                    {{ comment_form.message }}
                </div>
                <div>
                    <button type="submit" class="button" formmethod="post">Post comment</button>
                </div>
            </form>
        </div>
    </div>
</section>


<script>
    var static_url = "{% get_static_prefix %}";
    file_donut = "worlddata/csv/biodiversity-pie.csv";
    donut_path = static_url + file_donut;
    file_scatter = "worlddata/csv/biomass-scatter.csv";
    scatter_path = static_url + file_scatter;

    var pieChart = d3.csv(donut_path)
        .then(function (data) {

            // Get unique values for various columns of data
            const all_taxons = [...new Set(data.map(d => d.Taxon))].sort()
            const all_territories = [...new Set(data.map(d => d.Territory))].sort()
            const all_categories = [...new Set(data.map(d => d.Category))].sort()

            var defaultTaxon = "All";
            var defaultTerritory = "All";
            var taxon = defaultTaxon;
            var territory = defaultTerritory;

            var container_class = '.biomass-pie';

            function get_data() {
                var new_data = [];

                for (let row of data) {
                    if ((row.Taxon == taxon) && (row.Territory == territory)) {
                        new_data.push({ id: row.Category, name: row.Category, y: +row.Biomass, colorIndex: getColor[row.Category] });
                    }
                }
                return new_data;
            }

            initial_data = get_data();

            var chart = Highcharts.chart('pie_chart', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    height: 400
                },
                title: {
                    text: null
                },
                tooltip: {
                    formatter: function () {
                        var title = fCapital(this.key);
                        var sName = this.series.name;
                        var sValue = this.y;
                        var per = this.percentage.toFixed(1);

                        return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>' + sName + ': ' + sValue + 'gt <br> Percentage: ' + per + '%</text>';
                    },
                    useHTML: true
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false,
                            //format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: "Biomass",
                    innerSize: '30%',
                    data: initial_data
                }],
                annotations: [{
                    labels: [{
                        point: '0'
                    }]
                }, {
                    visible: false,
                }]
            },
            )
            // Initialise legend
            chart_points = chart.series[0].data;
            createLegend(chart_points, chart_points, container_class);

            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(".chart-filters");

            // Create a taxon dropdown
            var taxonName = "taxon",
                taxonWidth = "100px";
            addDropdown(filters, taxonName, taxonWidth, taxonChange, all_taxons, taxon);

            // Update chart data on taxon change
            function taxonChange() {
                taxon = document.getElementById(taxonName + "-select").value;
                chart.series[0].setData(get_data());
                var legend_data = chart.series[0].data;
                createLegend(legend_data, legend_data, container_class);
            }

            // Create a territory dropdown
            var territoryName = "territory",
                territoryWidth = "250px";
            addDropdown(filters, territoryName, territoryWidth, territoryChange, all_territories, territory);

            // Update chart data on territory change
            function territoryChange() {
                territory = document.getElementById(territoryName + "-select").value;
                chart.series[0].setData(get_data());
                var legend_data = chart.series[0].data;
                createLegend(legend_data, legend_data, container_class);
            }
        })
        .catch(function (error) {
            console.log(error);
        })

    var scatterPlot = d3.csv(scatter_path)
        .then(function (data) {

            // Get unique values for various columns of data
            const all_categories = [...new Set(data.map(d => d.group))].sort()

            var container_class = '.biomass-scatter';

            function get_data() {
                var new_data = [];
                var i = 0;
                for (let row of data) {
                    new_data.push({ name: row.group, y: +row.Mass, x: +row.power, colorIndex: getColor[row.group] });
                    i += 1;
                }
                return new_data;
            }

            initial_data = get_data();

            var chart = Highcharts.chart('scatter_plot', {
                chart: {
                    type: 'scatter',
                    zoomType: 'xy',
                    height: 400
                },
                title: {
                    text: null
                },
                tooltip: {
                    useHTML: true
                },
                xAxis: {
                    labels: {
                        formatter: function () {
                            return ('<div class="highcharts-axis-html-labels"><text>10<sup >' + this.value + '</sup></text></div>')
                        },
                        useHTML: true,
                    },
                    title: {
                        enabled: true,
                        text: 'Population'
                    },
                    startOnTick: true,
                    endOnTick: true,
                },
                yAxis: {
                    title: {
                        text: 'Biomass (gt of C)'
                    }
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 30,
                            states: {
                                hover: {
                                    enabled: true,
                                    radiusPlus: 10,
                                },
                                select: {
                                    enabled: true,
                                    radiusPlus: 10
                                }
                            }
                        },
                        opacity: 0.6,
                        tooltip: {
                            headerFormat: '',
                            pointFormatter: function () {
                                var sName = fCapital(this.name);
                                var biomass = this.y;
                                var populance = this.x;

                                return '<text><span style="font-size:1.1em"><strong>' + sName + '</strong></span><br>Biomass: ' + biomass + 'gt <br> Population: 10<sup>' + populance + '</sup> organisms</text>';
                            },
                            useHTML: true
                        },
                        stickyTracking: false
                    }
                },
                series: [{
                    allowPointSelect: true,
                    data: initial_data,
                    showInLegend: false
                }],
            })

            chart_points = chart.series[0].data;
            createLegend(chart_points, chart_points, container_class);
        })
        .catch(function (error) {
            console.log(error);
        })

    // To keep colors consistent
    var getColor = {
        'Plants': '24',
        'Bacteria': '5',
        'Fungi': '0',
        'Archaea': '16',
        'Protists': '38',
        'Animals': '30',
        'Viruses': '12',
        'Fish': '3',
        'Livestock': '28',
        'Humans': '30',
        'Wild mammals': '9',
        'Wild birds': '1',
        'Arthropods': '17',
        'Annelids': '19',
        'Molluscs': '36',
        'Cnidarians': '23',
        'Nematodes': '40'
    };

</script>

{% endblock %}