{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>{{ title }} - Navigate Obscurity</title>
<meta name="description" content="{{ abstract }}">
<meta property="og:image" content="https://www.navigateobscurity.com/static/worlddata/images/covid19-social.jpg" />
<meta property="og:title" content="{{ title }} - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/data/covid-19" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/data/covid-19" />
<meta name="twitter:title" content="{{ title }} - Navigate Obscurity" />
<meta name="twitter:description" content="{{ abstract }}" />
<meta name="twitter:image" content="https://www.navigateobscurity.com/static/worlddata/images/covid19-social.jpg" />

<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>

<!-- We use highcharts for visualizations -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<link rel='stylesheet' type="text/css" href={% static "worlddata/css/highcharts.css" %}>
<link rel='stylesheet' type="text/css" href={% static "worlddata/css/data.css" %}>
<script type="module" src={% static "worlddata/js/chartOptions.js" %}></script>

<!-- using defer to load after the html -->
<script type="module" src={% static "worlddata/js/covid19.js" %} defer></script> 

{% endblock %}

{% block content %}
<section class="banner-container">
    <h1 class="header-title-banner">{{title}}</h1>
</section>

<!-- Viz 1 - Dashboard with map, area and bars -->
<section>
    <div id="migration_map2"></div> 
    <div id="covid_intro" class="container limited-width">
        <p id="last_update"> <strong>Last update:</strong></p>
        <div class="q-o-n-container" style="display: flex;">
            <div class="tabs-container">
                <div class="tab-button tab-active">Questions</div>
                <div class="tab-button">Obscurity</div>
                <div class="tab-button">Navigation</div>
            </div>
            <div class="text-container">
                <div class="dash-questions">
                    <p style="margin-top: 0;">
                        Half of the following statements are false. Find out which by interacting with the
                        visualisation dashboard below.
                    </p>
                    <ul style="margin-bottom: 0;">
                        <li>
                            During the first two years of the pandemic, Chile had a 50% increase in its total yearly 
                            death toll (from all causes) compared to the average of the previous five years.
                        </li>
                        <li>
                            The COVID-19 death toll for New Zealand in 2021 and 2022 was similar to its yearly death toll 
                            of suicide (you might need to check some <a
                            href="{% url 'worlddata:'|add:'death' %}" target="_blank">death data
                        </a> for this).
                        </li>
                        <li>
                            USA had about 3 times more COVID-19 cases in the begining of 2022 compared to the same time the year before 
                            (with about the same amount of tests carried out).
                        </li>
                        <li>
                            Australia had approximatelly 25% more total deaths (from all causes) in 2021 and 2022 compared to the average 
                            of the previous 5 years.
                        </li>
                        <li>
                            Russia, Cuba, and the US have approximately the same vaccination rate.
                        </li>
                        <li>
                            More people died from covid-19 in 2020, than the number of deaths caused by wars,
                            violent crimes, terrorism, and drug abuse combined in a year (you might need to check some <a
                                href="{% url 'worlddata:'|add:'death' %}" target="_blank">death data
                            </a> for this).
                        </li>
                    </ul>
                </div>
                <div class="hide dash-obscurity">
                    <p style="margin-top: 0;">
                        Cases numbers are the confirmed cases, so the number of people who have tested positive to covid-19. Of course,
                        since the beginning of the pandemic, we know that this number is not accurate, as not everyone gets tested and /
                        or recorded in official figures. Testing strategies have differed significantly across countries and stages of
                        the pandemic impacting significantly the confirmed cases figures.
                    </p>
                    <p>
                        Death data might be a better metric to gauge the impact of the pandemic at a certain time, but again it is not
                        perfect. Covid-19 deaths are counted slightly differently in different places. Sometimes even on the same place
                        in
                        different times. For instance, in the UK, up until the 12 of August of 2020 all deaths following a positive
                        covid-19
                        test were counted in the covid-19 death sum. Then, officials decided to only include deaths occurring up until
                        28
                        days after the initial positive test cutting down the total number of deaths by over 5 thousand. In many other
                        countries, covid-19 needs to be specifically listed in the causes of death of a patient. And of course, covid-19
                        is
                        rarely the only cause of death, so how do I even know what the patient died from?! First of all, take a deep
                        breath
                        and relax. You can’t know, but the professionals filling out those death certificates have had some practice.
                        This
                        is not a new problem. Terminally ill people are very often challenged in multiple fronts. Another way to look at
                        death data, is to simply sum up all deaths occurring over a week and compare the total weekly sums with previous
                        years. The gross simplification here is that any excess deaths this year should correspond to covid-19’s impact.
                        True, but impact is not just people directly dying from covid-19, but also from the side effects of the
                        pandemic.
                        Like hospitals being full, patients avoiding to visit them out of fear and so on.
                    </p>
                    <p>
                        To get an idea of how bad the health care system was hit, we can look at the number of people who were hospitalised
                        or even put into ICUs (intensive care units) due to covid-19. We have 2 different kinds of metrics here, one about
                        the total number of patients in hospitals (or ICUs) in any given time, and another about new admissions. I am
                        showing data for the first kind of data where possible, but you might notice that we only have new admissions data
                        for some countries, others only report on hospitalizations or ICUS but not both, and for many countries we do not
                        have any relevant data at all.
                    </p>
                    </div>
                <div class="hide dash-navigation">
                    <p style="margin-top: 0;">
                        Although not all data matches, it still gives us an indication of what is going on. So, play with the parameters and
                        use the map to get a rough idea of what is going on around the world. Different policies and metrics make it harder
                        to simply compare numbers between countries, but ultimately, the numbers are more useful if seen like body weight
                        readings. Sure, you can compare your number with everyone else’s, but it’s probably more useful to just compare it
                        with the one you had a week ago, a month ago or a year ago.
                    </p>
                    <p>
                        In this regard, the various bar charts should give you an idea of how cases or deaths compare to the past few weeks
                        or months. These graphs are primarily useful to detect spikes and plateaus of the disease spread and impact.
                    
                    </p>
                    <p style="margin-bottom: 0;">
                        The weekly death toll is a clear testament that something is going on the past couple of years that we should be
                        paying attention to. Beyond debates of how deadly the virus is, whether the patients were old and sickly and would
                        die by the flu instead, or whether it even exists or not, here is a clear metric of the cost of life of the pandemic
                        and how we handle it.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <figure>
        <div class="dashboard">
        <div class="container dashboard-container-horizontal covid-dashboard">
            <div class="dashboard-container-vertical dashboard-level-1">
                <div class="dashboard-container-horizontal dashboard-side-60">
                    <div class="chart-container-dashboard covid-map filters-on-top">
                        <div class="dashboard-side" style="height: inherit;">
                            <div class="dark-bg">
                                <div class="chart-options chart-options-map" style="max-width:100%; padding-left:0;">
                                    <div class="chart-filters"
                                        style="display: flex; flex-direction: row-reverse; justify-content: flex-end; height: 50px;">
                                        <div class="dashboard-command">Click on the map to select a country</div>
                                    </div>
                                </div>
                                <div id="covid_map" class="map" style="width:100%;padding-bottom: 20px; "></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="dashboard-side-40 dashboard-side">
                    <div class="side-chart-container" style="max-width:100%; ">
                        <div class="dashboard-profile" style="margin: 0px 10px 10px;">
                            <div class="dashboard-profile-country">
                                <p>World</p>
                            </div>
                            <div class="profile-container">
                                <div>
                                    <div class="profile-item">
                                        <div class="profile-title">Total</div>
                                    </div>
                                    <div class="profile-item">
                                        <div class="profile-label">Cases:</div>
                                        <div id="stat_cases" class="profile-value"></div>
                                        <div class="i-info tooltip">
                                            <div class="tooltiptext">
                                                <div style="font-weight: 600;">Total cases</div>
                                                <div class="profile-item">
                                                    <div class="profile-label">2020:</div>
                                                    <div id="stat_cases_2020" class="profile-value"></div>
                                                </div>
                                                <div class="profile-item">
                                                    <div class="profile-label">2021:</div>
                                                    <div id="stat_cases_2021" class="profile-value"></div>
                                                </div>
                                                <div class="profile-item">
                                                    <div class="profile-label">2022:</div>
                                                    <div id="stat_cases_2022" class="profile-value"></div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-item">
                                        <div class="profile-label">Deaths:</div>
                                        <div id="stat_deaths" class="profile-value"></div>
                                        <div class="i-info tooltip">
                                            <div class="tooltiptext">
                                                <div style="font-weight: 600;">Total deaths</div>
                                                <div class="profile-item">
                                                    <div class="profile-label">2020:</div>
                                                    <div id="stat_deaths_2020" class="profile-value"></div>
                                                </div>
                                                <div class="profile-item">
                                                    <div class="profile-label">2021:</div>
                                                    <div id="stat_deaths_2021" class="profile-value"></div>
                                                </div>
                                                <div class="profile-item">
                                                    <div class="profile-label">2022:</div>
                                                    <div id="stat_deaths_2022" class="profile-value"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-item">
                                        <div class="profile-label">Fully vaccinated:</div>
                                        <div id="stat_vaccination_share" class="profile-value"></div>
                                    </div>
                                    <div class="profile-item">
                                        <div class="profile-label">+ booster shot:</div>
                                        <div id="stat_booster_share" class="profile-value"></div>
                                    </div>
                                    
                                </div>
                                <div class="profile-column2">
                                    <div class="profile-item">
                                        <div class="profile-title">New (7 day average)</div>
                                    </div>
                                    <div class="profile-item">
                                        <div class="profile-label">Cases per 1m:</div>
                                        <div id="stat_cases_pc" class="profile-value"></div>
                                    </div>
                                    <div class="profile-item">
                                        <div class="profile-label">Deaths per 1m:</div>
                                        <div id="stat_deaths_pc" class="profile-value"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-chart-container cases-chart" style="margin-bottom:0;">
                        <div class="chart-options" style="max-width:100%; ">
                            <div class="dashboard-title">
                                Cases
                            </div>                
                        </div>
                        <div class="chart-container-dashboard bars-all filters-on-top bars">
                            <div id="cases_bars_all" class="bars" style="width:100%;"></div>
                        </div>
                        <div class="chart-container-dashboard bars-30 filters-on-top bars">
                            <div id="cases_bars_26" class="bars" style="width:100%;"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="dashboard-container-vertical dashboard-level-2">
                <div class="dashboard-container-horizontal dashboard-side-60">
                    <div class="covid-deaths-tests-container dashboard-container-vertical dashboard-side">
                        <div class="side-chart-container covid-deaths-tests">
                            <div class="chart-options" style="max-width:100%; ">
                                <div class="dashboard-title">
                                    Hospitalizations
                                </div>                
                            </div>
                            <div class="chart-container-dashboard bars-all filters-on-top area">
                                <div id="hospital_bars_all" class="bars" style="width:100%;"></div>
                                <div id="hospital_all_error" class="error1">No data available</div>
                            </div>
                            <div class="chart-container-dashboard bars-30 filters-on-top bars">
                                <div id="hospital_bars_26" class="bars" style="width:100%;"></div>
                                <div id="hospital_26_error" class="error2">No data available</div>
                            </div>
                        </div>
                        <div class="side-chart-container covid-deaths-tests"
                            style="z-index: 1;">
                            <div class="chart-options" style="max-width:100%; ">
                                <div class="dashboard-title">
                                    Deaths
                                </div>                
                            </div>
                            <div class="chart-container-dashboard bars-all filters-on-top area">
                                <div id="deaths_bars_all" class="bars" style="width:100%;"></div>
                            </div>
                            <div class="chart-container-dashboard bars-30 filters-on-top bars">
                                <div id="deaths_bars_26" class="bars" style="width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-side-40 dashboard-side">
                    <div class=" filters-on-top">
                        <div  class="chart-container-dashboard side-chart-container covid-excess filters-on-top bar-line">
                            <div class="chart-options" style="max-width:100%; ">
                                <div class="dashboard-title">
                                    Weekly death toll for all causes
                                </div> 
                            </div> 
                            <div id="excess_deaths" class="bars" style="width:100%;"></div>
                            <div class="chart-options" style="max-width:100%">
                                <div class="chart-legend"></div>
                            </div>
                            <div id="excess_error" class="error">No data available</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="source-text">
                <p>
                    *Sources:
                    Confirmed, deaths, recovered, active data: <a href="https://github.com/CSSEGISandData/COVID-19"
                        target="_blank">Johns Hopkins University.</a><span id="JHU_date"> Downloaded</span>
                    <br />
                    Test & vaccination data: <a href="https://github.com/owid/covid-19-data" target="_blank">Our World
                        in Data.</a>
                    <span id="Test_date"> Downloaded</span> <br />
                    Historical weekly death toll: <a href="https://www.mortality.org/" target="_blank">Human Mortality
                        Database. University of California, Berkeley (USA), and Max Planck Institute for Demographic
                        Research (Germany).</a>
                    Downloaded at 14/10/2022.
                </p>
            </div>
        </div>
    </div>
    </figure>

</section>

<!-- Viz 2 - lockdown map -->
<div class="container limited-width">
    <p>
        Wherever you were, chances are that sometime during 2020 you were told to stay home. Some governments
        merely outlined recommendations for the public, but most enforced rules to make citizens comply. Here you can
        see a rough visualization of government responses when it came to public movement restrictions. For simplicity I
        am only using 4 broad categories of responses, but you can find more specific information by hovering over each
        country. The four categories range from no restrictions imposed (although recommendations were typically made),
        to
        movement restrictions only in parts of the country, to restrictions for the whole country but only in particular
        times (curfew), to restrictions in the whole country all of the time (lockdown). Of course, many more government
        responses were put in place at the same time like banning gatherings, imposing social distancing rules, closing
        businesses etc, but the scope of this visualisation remains solely the movement restriction policies.
    </p>
</div>
<section>
    <figure>
        <!-- <div class="container dashboard-container-vertical covid-dashboard">
            <div class="dashboard-container-horizontal"> -->
        <div class="container chart-container lockdown-map filters-on-top">
            <div class="chart-options chart-options-map" style="max-width:100%">
                <div class="chart-filters">

                </div>
            </div>
            <div id="lockdown_map" class="map" style="width:100%;"></div>
            <div class="chart-options" style="max-width:100%">
                <div class="secondary-legend"></div>
            </div>
        </div>


        <div class="source-text">
            <p>
                *Source:
                <a href="https://github.com/OxCGRT/covid-policy-tracker" target="_blank">Oxford University.</a>
                Downloaded at 10/01/2021
            </p>
        </div>
    </figure>
</section>
<!-- Comments -->
<section>
    <div class="container">
        <hr>
        <div class="comment-container">
            {% for comment in comments %}
            {% if comment.approved_comment %}
            <div class="comment-author">{{ comment.author }}</div>
            <div class="comment-date">{{ comment.created_date }}</div>
            {{ comment.message|linebreaks }}
            {% endif %}
            {% empty %}
            <p>No comments here yet :(</p>
            {% endfor %}
        </div>
        <hr>
        <div class="comment-form-container">
            <h3>Leave a comment</h3>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{comment_form.author}}
                </div>
                <div>
                    {{ comment_form.message }}
                </div>
                <div>
                    <button type="submit" class="button" formmethod="post">Post comment</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}