{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>{{ title }} - Navigate Obscurity</title>
<meta name="description" content="{{ abstract }}">
<meta property="og:image" content="https://www.navigateobscurity.com/static/worlddata/images/covid19-social.jpg" />
<meta property="og:title" content="{{ title }} - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/data/covid-19" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/data/covid-19" />
<meta name="twitter:title" content="{{ title }} - Navigate Obscurity" />
<meta name="twitter:description" content="{{ abstract }}" />
<meta name="twitter:image" content="https://www.navigateobscurity.com/static/worlddata/images/covid19-social.jpg" />

<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>

<!-- We use highcharts for visualizations -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>

<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<script src={% static "worlddata/js/chart-helpers.js" %}></script>

<link rel='stylesheet' type="text/css" href={% static "worlddata/css/highcharts.css" %}>
<link rel='stylesheet' type="text/css" href={% static "worlddata/css/data.css" %}>
{% endblock %}

{% block content %}
<section class="banner-container">
    <h1 class="header-title-banner">{{title}}</h1>
</section>
<!-- Viz 1 - Map - Today values -->
<section>
    <div class="container limited-width">
        <p> <strong>Last updated 02/05/2020.</strong></p>
        <p>
            Below you can see a snapshot of the current situation. Due to some data gathering lag, the data is about 1-2
            days older than the last update date. The 4 main metrics are the confirmed coronavirus cases (Confirmed),
            deaths following a coronavirus infection (Deaths), complete recoveries following a coronavirus infection
            (Recovered), and currently infected people (Active), i.e. confirmed cases that have not been fatal, nor have
            they recovered yet. Apart from absolute numbers, I am also providing these metrics per 1 million people to
            get
            a better idea of how impacted a country is. 1000 deaths in a country with a 5m population means something
            very different to the same number of deaths in a country with a 500m population. Lastly, I am providing two
            rates, death rate: the ratio of cases that develop to fatalities, and recovery rate: the ratio of recovered
            patients to the total cases.
        </p>
        <p>
            Note that these numbers give us a decent overview of the situation, but are still far from accurate. The
            number of confirmed cases depends heavily on the extend of testing each country deploys and that varies
            widely. In addition, there is mounting evidence that a large proportion of infected people never develop any
            symptoms (around
            <a href="https://www.buzzfeed.com/albertonardelli/coronavirus-testing-iceland" target="_blank">50% in
                Iceland</a>,
            <a href="https://www.theguardian.com/commentisfree/2020/mar/20/eradicated-coronavirus-mass-testing-covid-19-italy-vo"
                target="_blank">50% in an Italian example</a>,
            <a href="https://www.ijidonline.com/article/S1201-9712(20)30139-9/pdf" target="_blank">30% at a Japanese
                case study</a>,
            <a href="https://www.eurosurveillance.org/content/10.2807/1560-7917.ES.2020.25.10.2000180"
                target="_blank">18% in Princess Diamond</a>),
            which means it’s less likely to even think to get tested. All this tells us that the actual cases are much
            more numerous than the confirmed cases (a study argues that about
            <a href="https://science.sciencemag.org/content/early/2020/03/24/science.abb3221" target="_blank">
                86% of cases where undetected in pre lockdown Wuhan</a>).
            The number of deaths, however, should be much more accurate.
        </p>
    </div>
    <figure>
        <div class="container chart-container covid-map filters-on-top">
            <div class="chart-options chart-options-map" style="max-width:100%">
                <div class="chart-filters"></div>
            </div>
            <div id="covid_map" class="map" style="width:100%;"></div>

            <div class="source-text">
                <p>
                    *Source:
                    <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">Johns Hopkins University.</a>
                    Downloaded 02/05/2020.
                </p>
            </div>
        </div>
    </figure>

</section>

<!-- Viz 2 tracking change -->
<section>
    <div class="container limited-width">
        <p>
            The map above gives us a snapshot of the situation and a comparative view for the different countries, but
            does not help us understand how the epidemic is progressing. For that, we will need to track and visualise
            change. In the charts below you can see day by day change in two ways. On the top chart you can see the
            accumulating numbers for the different parameters. Visualised are the “active”, “recovered” and “death”
            cases, which when added up make up the "confirmed" cases. So, the whole visualised area represents the total
            confirmed cases. Since the numbers are accumulating, the total area will only go up, so the points of
            interest here are how steep the increase is, and when the “active” cases number starts flattening out and
            eventually reducing being replaced by “recovered” cases.
        </p>
        <p>
            On the bottom chart, you can see the day by day (non accumulative) change on the same metrics. The new
            “confirmed” cases minus the new “recovered” cases and “death” cases gives us the new “active” cases. So,
            this chart can be read as a change of “active” cases per day. The first positive indication here is the
            flattening of new “confirmed” cases, and then eventually, having more “recoveries” than “confirmed” cases in
            a daily basis. You might see the background of the chart changing colours. This reflects a change in the
            government response regarding restrictions of movement. What each colour means is shown on the legend, and
            further information on each category can be found on the section below where a map is provided for the
            different government responses.
        </p>
        <p>
            Hopefully it will all make more sense visually. To see what a hopeful visualisation looks like, just select
            China, or South Korea (Korea, South) from the dropdown. For a less hopeful visualisation have a look at
            USA.

        </p>
    </div>
    <figure>
        <div class="container chart-container covid-area filters-on-top">
            <div class="chart-options" style="max-width:100%">
                <div class="chart-filters"></div>
            </div>
            <div id="covid_area" style="width:100%;"></div>

        </div>
        <div class="container chart-container covid-bars filters-on-top">
            <div id="covid_bars" style="width:100%;"></div>
            <div class="chart-options" style="max-width:100%">
                <div class="chart-legend"></div>
                <div class="secondary-legend"></div>
            </div>
        </div>
        <div class="source-text">
            <p>
                *Sources:
                <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">Johns Hopkins University</a> (cases
                data).
                Downloaded 02/05/2020. <br>
                <a href="https://github.com/OxCGRT/covid-policy-tracker" target="_blank">Oxford University</a>
                (government response
                data).
                Downloaded 30/04/2020

            </p>
        </div>
    </figure>
</section>
<!-- Viz 3 - lockdown map -->
<div class="container limited-width">
    <p>
        Wherever you were, chances are that sometime during March or April you were told to stay home. Some governments
        merely outlined recommendations for the public, but most enforced rules to make citizens comply. Here you can
        see a rough visualization of government responses when it came to public movement restriction. For simplicity I
        am only using 4 broad categories of responses, but you can find more specific information by hovering over each
        country. The four categories range from no restrictions imposed (although recommendations are always made), to
        movement restrictions only in parts of the country, to restrictions for the whole country but only in particular
        times (curfew), to restrictions in the whole country all of the time (lockdown). Of course, many more government
        responses were put in place at the same time like banning gatherings, imposing social distancing rules, closing
        businesses etc, but the scope of this visualisation remains solely the movement restriction policies.
    </p>
</div>
<section>
    <figure>
        <div class="container chart-container lockdown-map filters-on-top">
            <div class="chart-options chart-options-map" style="max-width:100%">
                <div class="chart-filters"></div>
            </div>
            <div id="lockdown_map" class="map" style="width:100%;"></div>
            <div class="chart-options" style="max-width:100%">
                <div class="secondary-legend"></div>
            </div>

            <div class="source-text">
                <p>
                    *Source:
                    <a href="https://github.com/OxCGRT/covid-policy-tracker" target="_blank">Oxford University.</a>
                    Downloaded 30/04/2020
                </p>
            </div>
        </div>
    </figure>
</section>
<!-- Comments -->
<section>
    <div class="container">
        <hr>
        <div class="comment-container">
            {% for comment in comments %}
            {% if comment.approved_comment %}
            <div class="comment-author">{{ comment.author }}</div>
            <div class="comment-date">{{ comment.created_date }}</div>
            {{ comment.message|linebreaks }}
            {% endif %}
            {% empty %}
            <p>No comments here yet :(</p>
            {% endfor %}
        </div>
        <hr>
        <div class="comment-form-container">
            <h3>Leave a comment</h3>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{comment_form.author}}
                </div>
                <div>
                    {{ comment_form.message }}
                </div>
                <div>
                    <button type="submit" class="button" formmethod="post">Post comment</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    var static_url = "{% get_static_prefix %}";
    file_map_covid = "worlddata/csv/covid-map.csv";
    covid_map_path = static_url + file_map_covid;
    file_area_covid = "worlddata/csv/covid-time.csv";
    covid_area_path = static_url + file_area_covid;
    file_covid_lockdown = "worlddata/csv/covid-lockdown.csv";
    covid_lockdown_path = static_url + file_covid_lockdown;
    file_covid_lockdown_notes = "worlddata/csv/covid-lockdown-notes.csv";
    covid_lockdown_notes_path = static_url + file_covid_lockdown_notes;

    var CovidMap = d3.csv(covid_map_path)
        .then(function (data) {
            // All filterable options
            const all_parameters = ["Confirmed cases",
                "Confirmed cases per 1 million",
                "Deaths",
                "Deaths per 1 million",
                "Death rate",
                "Recovered",
                "Recovery rate",
                "Active",
                "Active per 1 million"];

            // Default values
            var parameter = "Deaths per 1 million";

            var container_class = ".covid-map";
            var initial_data = [];

            function get_data() {
                var new_data = [];
                for (let row of data) {
                    var val = 0;
                    if (row.Country != "World") {
                        if (parameter == "Confirmed cases") {
                            val = row.Confirmed;
                        } else if (parameter == "Confirmed cases per 1 million") {
                            val = row.Confirmed_pc;
                        } else if (parameter == "Deaths") {
                            val = row.Deaths;
                        } else if (parameter == "Deaths per 1 million") {
                            val = row.Deaths_pc;
                        } else if (parameter == "Death rate") {
                            val = row.Death_rate;
                        } else if (parameter == "Recovered") {
                            val = row.Recovered;
                        } else if (parameter == "Recovery rate") {
                            val = row.Recovered_rate;
                        } else if (parameter == "Active") {
                            val = row.Active;
                        } else if (parameter == "Active per 1 million") {
                            val = row.Active_pc;
                        }

                        new_data.push({ country: getCountryCode(row.Country), value: +val });
                    }
                }
                return new_data;
            }

            intial_data = get_data();

            // Initiate the chart
            var chart = Highcharts.mapChart('covid_map', {
                chart: {
                    styledMode: true,
                    height: 500
                },
                title: {
                    text: null
                },
                mapNavigation: {
                    enabled: true,
                    enableMouseWheelZoom: false,
                    enableButtons: true,
                },
                colorAxis: {
                    tickInterval: 25,
                    max: 100,
                    min: 0,
                    stops: [
                        [0, '#0074D9'],
                        [0.35, '#2ECC40'],
                        [0.5, '#DDDDDD'],
                        [0.65, '#FFDC00'],
                        [0.95, '#FF4136']
                    ],
                },
                tooltip: {
                    formatter: function () {
                        var title = fCapital(this.key);
                        var value = this.point.value;
                        var text = "";
                        if (parameter == "Confirmed cases") {
                            let val = numberFormatterSeparator(value);
                            text = val + " confirmed cases";
                        } else if (parameter == "Confirmed cases per 1 million") {
                            let val = numberFormatterInteger(value);
                            text = val + " confirmed cases per 1 million people";
                        } else if (parameter == "Deaths") {
                            let val = numberFormatterSeparator(value);
                            text = val + " deaths";
                        } else if (parameter == "Deaths per 1 million") {
                            let val = numberFormatterInteger(value);
                            text = val + " deaths per 1 million people";
                        } else if (parameter == "Death rate") {
                            let val = numberFormatterPercentage(value);
                            text = val + "% of confirmed cases have escalated to death";
                        } else if (parameter == "Recovered") {
                            let val = numberFormatterSeparator(value);
                            text = val + " have recovered";
                        } else if (parameter == "Recovery rate") {
                            let val = numberFormatterPercentage(value);
                            text = val + "% of all confirmed cases have recovered";
                        } else if (parameter == "Active") {
                            let val = numberFormatterSeparator(value);
                            text = val + " are currently infected";
                        } else if (parameter == "Active per 1 million") {
                            let val = numberFormatterInteger(value);
                            text = val + " are currently infected per 1 million people";
                        }
                        return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>' + text + '</text>';
                    },
                    useHTML: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    mapData: Highcharts.maps['custom/world'],
                    data: intial_data,
                    joinBy: ['iso-a3', 'country'], // first var: type of geographical data, second: data column name
                }]
            });

            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(container_class + " .chart-filters");

            // Create a parameter dropdown
            var parameterName = "covid-map-parameter",
                parameterWidth = "300px";
            addDropdown(filters, parameterName, parameterWidth, parameterChange, all_parameters, parameter);

            // Update chart data on cause change
            function parameterChange() {
                parameter = document.getElementById(parameterName + "-select").value;
                updateColorOrder();
                updateColorStops();
                chart.series[0].setData(get_data());
            }

            // adjust color stops according to parameter
            function updateColorStops() {
                if (parameter == "Confirmed cases") {
                    chart.colorAxis[0].update({
                        tickInterval: 25000,
                        max: 100000,
                        min: 0,
                    }, false)
                } else if (parameter == "Confirmed cases per 1 million") {
                    chart.colorAxis[0].update({
                        tickInterval: 200,
                        max: 1000,
                        min: 0,
                    }, false)
                } else if (parameter == "Deaths") {
                    chart.colorAxis[0].update({
                        tickInterval: 1000,
                        max: 5000,
                        min: 0,
                    }, false)
                } else if (parameter == "Deaths per 1 million") {
                    chart.colorAxis[0].update({
                        tickInterval: 25,
                        max: 100,
                        min: 0,
                    }, false)
                } else if (parameter == "Death rate") {
                    chart.colorAxis[0].update({
                        tickInterval: 2,
                        max: 10,
                        min: 0,
                    }, false)
                } else if (parameter == "Recovered") {
                    chart.colorAxis[0].update({
                        tickInterval: 2000,
                        max: 10000,
                        min: 0,
                    }, false)
                } else if (parameter == "Recovery rate") {
                    chart.colorAxis[0].update({
                        tickInterval: 10,
                        max: 50,
                        min: 0,
                    }, false)
                } else if (parameter == "Active") {
                    chart.colorAxis[0].update({
                        tickInterval: 10000,
                        max: 50000,
                        min: 0,
                    }, false)
                } else if (parameter == "Active per 1 million") {
                    chart.colorAxis[0].update({
                        tickInterval: 200,
                        max: 1000,
                        min: 0,
                    }, false)
                }
            }

            function updateColorOrder() {
                if (parameter == "Confirmed cases") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#0074D9'],
                            [0.35, '#2ECC40'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#FFDC00'],
                            [0.95, '#FF4136']
                        ],
                    }, false)
                } else if (parameter == "Confirmed cases per 10,000") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#0074D9'],
                            [0.35, '#2ECC40'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#FFDC00'],
                            [0.95, '#FF4136']
                        ],
                    }, false)
                } else if (parameter == "Deaths") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#0074D9'],
                            [0.35, '#2ECC40'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#FFDC00'],
                            [0.95, '#FF4136']
                        ],
                    }, false)
                } else if (parameter == "Deaths per 10,000") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#0074D9'],
                            [0.35, '#2ECC40'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#FFDC00'],
                            [0.95, '#FF4136']
                        ],
                    }, false)
                } else if (parameter == "Death rate") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#0074D9'],
                            [0.35, '#2ECC40'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#FFDC00'],
                            [0.95, '#FF4136']
                        ],
                    }, false)
                } else if (parameter == "Recovered") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#FF4136'],
                            [0.35, '#FFDC00'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#2ECC40'],
                            [0.95, '#0074D9']
                        ],
                    }, false)
                } else if (parameter == "Recovery rate") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#FF4136'],
                            [0.35, '#FFDC00'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#2ECC40'],
                            [0.95, '#0074D9']
                        ],
                    }, false)
                } else if (parameter == "Active") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#0074D9'],
                            [0.35, '#2ECC40'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#FFDC00'],
                            [0.95, '#FF4136']
                        ],
                    }, false)
                } else if (parameter == "Active per 10,000") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#0074D9'],
                            [0.35, '#2ECC40'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#FFDC00'],
                            [0.95, '#FF4136']
                        ],
                    }, false)
                }
            }


        })
        .catch(function (error) {
            console.log(error);
        })

    var covidArea = Promise.all([
        d3.csv(covid_area_path),
        d3.csv(covid_lockdown_path),
    ]).then(function (files) {
        // d3.csv(covid_area_path)
        //     .then(function (data) {
        // All filterable options
        const all_measures = [...new Set(files[0].map(d => d.Parameter))].sort()
        const all_countries = [...new Set(files[0].map(d => d.Country))].sort()
        const all_metrics = [...new Set(files[0].map(d => d.Value))].sort()

        const all_dates = ["22/01/2020",
            "23/01/2020",
            "24/01/2020",
            "25/01/2020",
            "26/01/2020",
            "27/01/2020",
            "28/01/2020",
            "29/01/2020",
            "30/01/2020",
            "31/01/2020",
            "01/02/2020",
            "02/02/2020",
            "03/02/2020",
            "04/02/2020",
            "05/02/2020",
            "06/02/2020",
            "07/02/2020",
            "08/02/2020",
            "09/02/2020",
            "10/02/2020",
            "11/02/2020",
            "12/02/2020",
            "13/02/2020",
            "14/02/2020",
            "15/02/2020",
            "16/02/2020",
            "17/02/2020",
            "18/02/2020",
            "19/02/2020",
            "20/02/2020",
            "21/02/2020",
            "22/02/2020",
            "23/02/2020",
            "24/02/2020",
            "25/02/2020",
            "26/02/2020",
            "27/02/2020",
            "28/02/2020",
            "29/02/2020",
            "01/03/2020",
            "02/03/2020",
            "03/03/2020",
            "04/03/2020",
            "05/03/2020",
            "06/03/2020",
            "07/03/2020",
            "08/03/2020",
            "09/03/2020",
            "10/03/2020",
            "11/03/2020",
            "12/03/2020",
            "13/03/2020",
            "14/03/2020",
            "15/03/2020",
            "16/03/2020",
            "17/03/2020",
            "18/03/2020",
            "19/03/2020",
            "20/03/2020",
            "21/03/2020",
            "22/03/2020",
            "23/03/2020",
            "24/03/2020",
            "25/03/2020",
            "26/03/2020",
            "27/03/2020",
            "28/03/2020",
            "29/03/2020",
            "30/03/2020",
            "31/03/2020",
            "01/04/2020",
            "02/04/2020",
            "03/04/2020",
            "04/04/2020",
            "05/04/2020",
            "06/04/2020",
            "07/04/2020",
            "08/04/2020",
            "09/04/2020",
            "10/04/2020",
            "11/04/2020",
            "12/04/2020",
            "13/04/2020",
            "14/04/2020",
            "15/04/2020",
            "16/04/2020",
            "17/04/2020",
            "18/04/2020",
            "19/04/2020",
            "20/04/2020",
            "21/04/2020",
            "22/04/2020",
            "23/04/2020",
            "24/04/2020",
            "25/04/2020",
            "26/04/2020",
            "27/04/2020",
            "28/04/2020",
            "29/04/2020",
            "30/04/2020",
            "01/05/2020"];


        // Default values
        var metric = "absolute",
            country = "World";

        var area_container_class = ".covid-area";
        var bar_container_class = ".covid-bars";
        var initial_data = [];
        var initial_bar_data = [];
        var xAxisBands = [];

        var getColor = {
            "Active": "4",
            "Deaths": "6",
            "Recovered": "9",
            "Confirmed": "0"
        };

        function get_data() {
            var new_data = [];
            for (let row of files[0]) {
                if (row.Value == metric && row.Country == country && row.Parameter != "Confirmed") {
                    var day_data = [];
                    for (let day in all_dates) {
                        day_data[day] = +row[all_dates[day]];
                    }
                    new_data.push({ id: row.Parameter, name: row.Parameter, data: day_data, colorIndex: getColor[row.Parameter] })
                }
            }
            return new_data;
        }

        function get_bar_data() {
            var new_data = [];
            for (let row of files[0]) {
                if (row.Value == "change" && row.Country == country && row.Parameter != "Active") {
                    var day_data = [];
                    if (row.Parameter == "Confirmed") {
                        for (let day in all_dates) {
                            day_data[day] = +row[all_dates[day]];
                        }
                    } else {
                        for (let day in all_dates) {
                            day_data[day] = +row[all_dates[day]] * -1;
                        }
                    }
                    new_data.push({ id: row.Parameter, name: row.Parameter, data: day_data, colorIndex: getColor[row.Parameter] })
                }
            }
            return new_data;
        }

        function get_bands() {
            var new_bands = [];
            for (let row of files[1]) {
                if (row.Country == country) {
                    var oldDayValue = 0,
                        newDayValue = 0,
                        from = 0,
                        to = 0,
                        started = false,
                        cssClass = '';

                    var i;
                    for (i = 0; i < all_dates.length; i++) {
                        newDayValue = row[all_dates[i]];
                        if (newDayValue != oldDayValue) {
                            if (!started) {
                                started = true;
                                from = i;
                                if (newDayValue == 1) {
                                    cssClass = 'restricted-band'
                                } else if (newDayValue == 2) {
                                    cssClass = 'curfew-band'
                                } else {
                                    cssClass = 'lockdown-band'
                                }
                            } else {
                                to = i;
                                new_bands.push({ from: from, to: to, className: cssClass })
                                if (newDayValue != 0) {
                                    from = i;
                                    to = 0;
                                    if (newDayValue == 1) {
                                        cssClass = 'restricted-band'
                                    } else if (newDayValue == 2) {
                                        cssClass = 'curfew-band'
                                    } else {
                                        cssClass = 'lockdown-band'
                                    }
                                } else {
                                    started = false;
                                }
                            }
                        }
                        oldDayValue = newDayValue;
                    }
                    if (started && to == 0) {
                        new_bands.push({ from: from, to: all_dates.length, className: cssClass })
                    }
                }
            }
            return new_bands;
        }

        xAxisBands = get_bands();
        initial_data = get_data();
        initial_bar_data = get_bar_data();

        var area_chart = Highcharts.chart('covid_area', {
            chart: {
                type: 'area',
                styledMode: true,
                height: 300,
                marginBottom: 20
            },
            title: {
                text: null
            },
            xAxis: {
                categories: all_dates,
                tickInterval: 10,
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Accumulative number of cases'
                },
            },
            tooltip: {
                split: false,
                valueSuffix: ' millions'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    findNearestPointBy: 'xy',
                    fillOpacity: 0.8,
                    marker: {
                        enabled: false,

                    },
                    trackByArea: true
                },
            },
            tooltip: {
                formatter: function () {
                    var title = fCapital(this.key);
                    var value = numberFormatterInteger(this.y);
                    var total = numberFormatterInteger(this.total);
                    var area = fCapital(this.series.name);

                    return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>' + area + " (accumulative): " + value +
                        '<br/> With total confirmed cases: ' + total;
                },
                useHTML: true
            },
            series: initial_data,
            credits: {
                enabled: false
            },
            legend: {
                enabled: false
            }
        });
        var chartXAxis = {
            categories: all_dates,
            tickInterval: 10,
            labels: {
                enabled: false
            },
            title: {
                enabled: false
            },
            plotBands: xAxisBands,
        };

        var bar_chart = Highcharts.chart('covid_bars', {
            chart: {
                type: 'column',
                styledMode: true,
                height: 300,
                marginLeft: 95,
            },
            title: {
                text: null
            },
            xAxis: chartXAxis,
            yAxis: {
                title: {
                    text: 'Daily change in "active" cases'
                },
            },
            tooltip: {
                formatter: function () {
                    var sum = 0,
                        cont = this,
                        series = cont.series.chart.series,
                        each = Highcharts.each,
                        ind = 0;
                    each(series, function (p, i) {
                        ind = all_dates.indexOf(cont.x)
                        sum += p.yData[ind];
                    });
                    var title = fCapital(this.x),
                        name = (this.series.name == "Deaths") ? "death" : fLower(this.series.name),
                        value = (this.y >= 0) ? numberFormatterInteger(this.y) : numberFormatterInteger(this.y * -1),
                        total = numberFormatterInteger(sum);

                    if (sum < 0) {
                        return '<b>' + title + '</b><br/>Daily increase in ' + name + ' cases: ' + value + '<br/>' +
                            'Total change to active cases: ' + total;
                    } else {
                        return '<b>' + title + '</b><br/>Daily increase in ' + name + ' cases: ' + value + '<br/>' +
                            'Total change to active cases: +' + total;
                    }
                },
                useHTML: true,
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    borderRadius: 3,
                    pointPadding: 0
                },
                series: {
                    groupPadding: 0.1,
                }
            },
            series: initial_bar_data,

            credits: {
                enabled: false
            },
            legend: {
                enabled: false
            }
        });


        area_chart_points = area_chart.series;
        bar_chart_points = bar_chart.series;
        var legend = createMultiLegend(area_chart_points, bar_chart_points, bar_container_class);

        // legend for background - lockdown info
        $legend2Container = $('.covid-bars .secondary-legend');
        var legendItems = [{ name: 'Some movement restrictions', colorIndex: 27 },
        { name: 'Curfew', colorIndex: 18 },
        { name: 'Lockdown', colorIndex: 11 }];

        // Append legend items
        $legend2Container.append('<div>Background: &nbsp &nbsp</div>')
        for (let point of legendItems) {
            $legend2Container.append('<div class="legend-item"><div class="dot legend-color-' + point.colorIndex + '" ></div><div class="serieName" id="">' + fCapital(point.name) + '</div></div>');
        }

        // Dropdowns
        // Define dropdown container
        var filters = document.querySelector(area_container_class + " .chart-filters");

        // Create a country dropdown
        var countryName = "area-country",
            countryWidth = "320px";
        addDropdown(filters, countryName, countryWidth, countryChange, all_countries, country);

        // Update chart data on country change
        function countryChange() {
            country = document.getElementById(countryName + "-select").value;

            var area_loops = area_chart.series.length;
            var bar_loops = bar_chart.series.length;
            var updated_area_data = get_data();
            var updated_bar_data = get_bar_data();
            var updated_plot_bands = get_bands();

            // First empty the existing data
            for (var i = 0; i < area_loops; i++) {
                area_chart.series[0].remove(false);
            }
            for (var i = 0; i < bar_loops; i++) {
                bar_chart.series[0].remove(false);
            }
            // Then add the updated data
            for (var i = 0; i < updated_area_data.length; i++) {
                area_chart.addSeries(updated_area_data[i], false);
            }
            for (var i = 0; i < updated_bar_data.length; i++) {
                bar_chart.addSeries(updated_bar_data[i], false);
            }
            chartXAxis.plotBands = updated_plot_bands;
            bar_chart.update({
                xAxis: chartXAxis
            });

            area_chart.redraw();
            bar_chart.redraw();
        }
    })

        .catch(function (error) {
            console.log(error);
        })

    var LockdownMap = Promise.all([
        d3.csv(covid_lockdown_path),
        d3.csv(covid_lockdown_notes_path),
    ])
        .then(function (files) {
            // All filterable options
            const all_countries = [...new Set(files[0].map(d => d.Country))].sort()
            const all_dates = ["22/01/2020",
                "23/01/2020",
                "24/01/2020",
                "25/01/2020",
                "26/01/2020",
                "27/01/2020",
                "28/01/2020",
                "29/01/2020",
                "30/01/2020",
                "31/01/2020",
                "01/02/2020",
                "02/02/2020",
                "03/02/2020",
                "04/02/2020",
                "05/02/2020",
                "06/02/2020",
                "07/02/2020",
                "08/02/2020",
                "09/02/2020",
                "10/02/2020",
                "11/02/2020",
                "12/02/2020",
                "13/02/2020",
                "14/02/2020",
                "15/02/2020",
                "16/02/2020",
                "17/02/2020",
                "18/02/2020",
                "19/02/2020",
                "20/02/2020",
                "21/02/2020",
                "22/02/2020",
                "23/02/2020",
                "24/02/2020",
                "25/02/2020",
                "26/02/2020",
                "27/02/2020",
                "28/02/2020",
                "29/02/2020",
                "01/03/2020",
                "02/03/2020",
                "03/03/2020",
                "04/03/2020",
                "05/03/2020",
                "06/03/2020",
                "07/03/2020",
                "08/03/2020",
                "09/03/2020",
                "10/03/2020",
                "11/03/2020",
                "12/03/2020",
                "13/03/2020",
                "14/03/2020",
                "15/03/2020",
                "16/03/2020",
                "17/03/2020",
                "18/03/2020",
                "19/03/2020",
                "20/03/2020",
                "21/03/2020",
                "22/03/2020",
                "23/03/2020",
                "24/03/2020",
                "25/03/2020",
                "26/03/2020",
                "27/03/2020",
                "28/03/2020",
                "29/03/2020",
                "30/03/2020",
                "31/03/2020",
                "01/04/2020",
                "02/04/2020",
                "03/04/2020",
                "04/04/2020",
                "05/04/2020",
                "06/04/2020",
                "07/04/2020",
                "08/04/2020",
                "09/04/2020",
                "10/04/2020",
                "11/04/2020",
                "12/04/2020",
                "13/04/2020",
                "14/04/2020",
                "15/04/2020",
                "16/04/2020",
                "17/04/2020",
                "18/04/2020",
                "19/04/2020",
                "20/04/2020",
                "21/04/2020",
                "22/04/2020",
                "23/04/2020",
                "24/04/2020",
                "25/04/2020",
                "26/04/2020",
                "27/04/2020",
                "28/04/2020",
                "29/04/2020",
                "30/04/2020",
                "01/05/2020"];

            // Default values
            var date = "01/05/2020";

            var container_class = ".lockdown-map";
            var initial_data = [];

            function get_data() {
                var new_data = [];
                for (let row of files[0]) {
                    if (row.Country != "World") {
                        var val = row[date];
                        new_data.push({ country: getCountryCode(row.Country), value: +val });
                    }
                }
                return new_data;
            }

            function get_note(country, code) {
                var note = "";
                for (let row of files[1]) {
                    if (getCountryCode(row.Country) == country && row.Code == code) {
                        note = row.Note;
                    }
                }
                if (note == "" && code == 1) { note = "Some movement restrictions applied, but not universally." }
                else if (note == "" && code == 2) { note = "General curfew in place." }
                else if (note == "" && code == 3) { note = "Under lockdown." }
                else if (note == "" && code == 0) { note = "No known movement restrictions enforced." }

                return note;
            }

            intial_data = get_data();

            // Initiate the chart
            var chart = Highcharts.mapChart('lockdown_map', {
                chart: {
                    styledMode: true,
                    height: 500
                },
                title: {
                    text: null
                },
                mapNavigation: {
                    enabled: true,
                    enableMouseWheelZoom: false,
                    enableButtons: true,
                },
                colorAxis: {
                    tickInterval: 1,
                    max: 3,
                    min: 0,
                    stops: [
                        [0, '#DDDDDD'],
                        [0.33, '#794f99'],
                        [0.66, '#e58939'],
                        [0.95, '#a52721']
                    ],
                },
                tooltip: {
                    formatter: function () {
                        var title = fCapital(this.key);
                        var value = this.point.value;
                        var note = get_note(this.point.country, this.point.value);
                        var textArray = addLineBreaks(note, 60);
                        var text = textArray[0];
                        if (textArray.length > 1) {
                            for (i = 1; textArray.length > i; i++) {
                                text = text + "<br/>" + textArray[i];
                            }
                        }
                        return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>' + text + '</text>';
                    },
                    useHTML: true
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                series: [{
                    mapData: Highcharts.maps['custom/world'],
                    data: intial_data,
                    joinBy: ['iso-a3', 'country'], // first var: type of geographical data, second: data column name
                }]
            });
            // Create legend
            $legendContainer = $('.lockdown-map .secondary-legend');
            var legendItems = [{ name: "No restrictions", colorIndex: 28 },
            { name: 'Some movement restrictions', colorIndex: 27 },
            { name: 'Curfew', colorIndex: 18 },
            { name: 'Lockdown', colorIndex: 11 }];

            // Append legend items
            for (let point of legendItems) {
                $legendContainer.append('<div class="legend-item"><div class="dot legend-color-' + point.colorIndex + '" ></div><div class="serieName" id="">' + fCapital(point.name) + '</div></div>');
            }

            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(container_class + " .chart-filters");

            // // Create a date dropdown
            var dateName = "lockdown-map-date",
                dateWidth = "300px";
            addDropdown(filters, dateName, dateWidth, dateChange, all_dates, date);

            // // Update chart data on date change
            function dateChange() {
                date = document.getElementById(dateName + "-select").value;
                chart.series[0].setData(get_data());
            }
        })
        .catch(function (error) {
            console.log(error);
        })


</script>
{% endblock %}