{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>{{ title }} - Navigate Obscurity</title>
<meta name="description" content="{{ abstract }}">
<meta property="og:image" content="https://www.navigateobscurity.com/static/worlddata/images/death-social.jpg" />
<meta property="og:title" content="{{ title }} - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/data/death" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/data/death" />
<meta name="twitter:title" content="{{ title }} - Navigate Obscurity" />
<meta name="twitter:description" content="{{ abstract }}" />
<meta name="twitter:image" content="https://www.navigateobscurity.com/static/worlddata/images/death-social.jpg" />

<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>

<!-- We use highcharts for visualizations -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>

<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<script src={% static "worlddata/js/chart-helpers.js" %}></script>

<link rel='stylesheet' type="text/css" href={% static "worlddata/css/highcharts.css" %}>
<link rel='stylesheet' type="text/css" href={% static "worlddata/css/data.css" %}>
{% endblock %}

{% block content %}
<section class="banner-container">
    <h1 class="header-title-banner">{{title}}</h1>
</section>

<section>
    <!-- Viz 1 - Causes of death -->
    <div class="container limited-width">
        <p>
            Good to have some perspective on what is killing us.
            Also, pretty interesting to see how causes of death change according to country,
            income level, age and sex.
        </p>
        <p>
            All data is from 2017. Numbers are actual total numbers.
            The measures available below are death – total number of casualties, and
            DALYs – disability adjusted life years lost which are calculated by adding years lived with disability
            (YLLs) & years lived with disability (YLDs),
            so basically healthy years lost due to the particular cause.
        </p>
        <p>
            Many of the causes are clickable so you can see the breakdowns of each cause category.
        </p>
    </div>
    <figure>
        <div class="container chart-container death-tree filters-on-top">
            <div class="chart-options" style="max-width:100%">
                <div class="chart-filters"></div>
            </div>
            <div id="death_tree" class="treemap" style="width:100%;"></div>
        </div>
    </figure>

    <div class="source-text">
        <p>
            *Source:
            <a href="http://ghdx.healthdata.org/gbd-results-tool">The Global Health Data Exchange. </a>
            Downloaded 19/10/2019.
        </p>
    </div>

    <!-- Viz 2 - Historical causes of death -->
    <div class="container limited-width">
        <p>
            Unfortunately we do not have equally good data for older periods,
            but see a similar - although rougher - break down of major causes of death
            for the US in 1900.
        </p>
    </div>
    <figure>
        <div class="container chart-container old-death-tree">
            <div id="old_death_tree" class="treemap" style="width:100%;"></div>
        </div>
    </figure>
    <div class="source-text">
        <p>
            *Source:
            <a href="https://www.nejm.org/doi/full/10.1056/NEJMp1113569">The New England Journal of Medicine. </a>
            Downloaded 06/11/2018.
        </p>
    </div>
    <!-- Viz 3 - Causes of death by geography -->
    <div class="container limited-width">
        <p>
            Causes of death differ wildly according to geography -
            partly because they differ wildly according to income level as we saw above.
            Have a look for instance at the big killers: cardiovascular disease and cancer.
            And compare those to something like HIV, maternal and neonatal disorders, 
            or nutritional deficiencies.
        </p>
    </div>
    <figure>
        <div class="container chart-container death-map filters-on-top">
            <div class="chart-options chart-options-map" style="max-width:100%">
                <div class="chart-filters"></div>
            </div>
            <div id="death_map" class="map" style="width:100%;"></div>
        </div>
    </figure>
    <div class="source-text">
        <p>
            *Source:
            <a href="http://ghdx.healthdata.org/gbd-results-tool">The Global Health Data Exchange. </a>
            Downloaded 19/10/2019.
        </p>
    </div>
    <!-- Viz 4 - Risks for causes of death -->
    <div class="container limited-width">
        <p>
            Below you can see risks that have been identified as causes of
            conditions leading to death or disability. All these risks are completely preventable.
            Note that risks overlap significantly and that there is  good amount of casualties /
            incidents that have not been associated with any risks. So minimising
            the associated risks cannot eliminate the possibility of a disease / condition occurring,
            but it definitely helps.
        </p>
    </div>
    <figure>
        <div class="container chart-container death-bars filters-on-top">
            <div class="chart-options" style="max-width:100%">
                <div class="chart-filters"></div>
                <div class="chart-legend"></div>
            </div>
            <div id="death_bars" class="chart" style="width:100%;"></div>
        </div>
    </figure>
    <div class="source-text">
        <p>
            *Source:
            <a href="http://ghdx.healthdata.org/gbd-results-tool">The Global Health Data Exchange. </a>
            Downloaded 19/10/2019.
        </p>
    </div>

</section>
<!-- Comments -->
<section>
    <div class="container">
        <hr>
        <div class="comment-container">
            {% for comment in comments %}
            {% if comment.approved_comment %}
            <div class="comment-author">{{ comment.author }}</div>
            <div class="comment-date">{{ comment.created_date }}</div>
            {{ comment.message|linebreaks }}
            {% endif %}
            {% empty %}
            <p>No comments here yet :(</p>
            {% endfor %}
        </div>
        <hr>
        <div class="comment-form-container">
            <h3>Leave a comment</h3>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{comment_form.author}}
                </div>
                <div>
                    {{ comment_form.message }}
                </div>
                <div>
                    <button type="submit" class="button" formmethod="post">Post comment</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    var static_url = "{% get_static_prefix %}";
    file_old_death = "worlddata/csv/death-old.csv";
    old_death_path = static_url + file_old_death;
    file_treemap_death = "worlddata/csv/death-tree-2017.csv";
    death_treemap_path = static_url + file_treemap_death;
    file_map_death = "worlddata/csv/death-map-2017.csv";
    death_map_path = static_url + file_map_death;
    file_bars_death = "worlddata/csv/death-bars-2017.csv";
    death_bars_path = static_url + file_bars_death;

    var DeathTree = d3.csv(death_treemap_path)
        .then(function (data) {
            // All filterable options
            const all_measures = [...new Set(data.map(d => d.measure))].sort()
            const all_locations = [...new Set(data.map(d => d.location))].sort()
            const all_sexes = [...new Set(data.map(d => d.sex))].sort()
            const all_ages = [...new Set(data.map(d => d.age))].sort()
            const all_causes = ["Acute glomerulonephritis",
                "Adverse effects of medical treatment",
                "African trypanosomiasis",
                "Alcohol use disorders",
                "Alzheimer's disease and other dementias",
                "Animal contact",
                "Anxiety disorders",
                "Aortic aneurysm",
                "Atrial fibrillation and flutter",
                "Attention-deficit/hyperactivity disorder",
                "Autism spectrum disorders",
                "Bipolar disorder",
                "Bladder cancer",
                "Brain and nervous system cancer",
                "Breast cancer",
                "Cancer",
                "Cardiomyopathy and myocarditis",
                "Cardiovascular diseases",
                "Cervical cancer",
                "Chagas disease",
                "Chronic kidney disease",
                "Chronic respiratory diseases",
                "Colon and rectum cancer",
                "Conduct disorder",
                "Conflict and terrorism",
                "Cystic echinococcosis",
                "Cysticercosis",
                "Dengue",
                "Depressive disorders",
                "Diabetes and kidney diseases",
                "Diabetes mellitus",
                "Diarrheal diseases",
                "Digestive diseases",
                "Drowning",
                "Drug use disorders",
                "Eating disorders",
                "Ebola",
                "Endocarditis",
                "Enteric infections",
                "Environmental heat and cold exposure",
                "Epilepsy",
                "Esophageal cancer",
                "Executions and police conflict",
                "Exposure to forces of nature",
                "Exposure to mechanical forces",
                "Falls",
                "Fire, heat, and hot substances",
                "Food-borne trematodiases",
                "Foreign body",
                "Gallbladder and biliary tract cancer",
                "Headache disorders",
                "HIV/AIDS",
                "Hodgkin lymphoma",
                "Hypertensive heart disease",
                "Idiopathic developmental intellectual disability",
                "Interpersonal violence",
                "Intestinal nematode infections",
                "Invasive Non-typhoidal Salmonella (iNTS)",
                "Ischemic heart disease",
                "Kidney cancer",
                "Larynx cancer",
                "Leishmaniasis",
                "Leprosy",
                "Leukemia",
                "Lip and oral cavity cancer",
                "Liver cancer",
                "Lower respiratory infections",
                "Lymphatic filariasis",
                "Malaria",
                "Malignant skin melanoma",
                "Maternal and neonatal disorders",
                "Maternal disorders",
                "Mental disorders",
                "Mesothelioma",
                "Motor neuron disease",
                "Multiple myeloma",
                "Multiple sclerosis",
                "Musculoskeletal disorders",
                "Nasopharynx cancer",
                "Neglected tropical diseases and malaria",
                "Neonatal disorders",
                "Neurological disorders",
                "Non-Hodgkin lymphoma",
                "Non-melanoma skin cancer",
                "Non-rheumatic valvular heart disease",
                "Nutritional deficiencies",
                "Onchocerciasis",
                "Other cardiovascular and circulatory diseases",
                "Other infectious diseases",
                "Other intestinal infectious diseases",
                "Other malignant neoplasms",
                "Other mental disorders",
                "Other neglected tropical diseases",
                "Other neoplasms",
                "Other neurological disorders",
                "Other non-communicable diseases",
                "Other pharynx cancer",
                "Other transport injuries",
                "Other unintentional injuries",
                "Otitis media",
                "Ovarian cancer",
                "Pancreatic cancer",
                "Parkinson's disease",
                "Peripheral artery disease",
                "Poisonings",
                "Prostate cancer",
                "Rabies",
                "Respiratory infections and tuberculosis",
                "Rheumatic heart disease",
                "Road injuries",
                "Schistosomiasis",
                "Schizophrenia",
                "Self-harm",
                "Sense organ diseases",
                "Sexually transmitted infections excluding HIV",
                "Skin and subcutaneous diseases",
                "Stomach cancer",
                "Stroke",
                "Substance use disorders",
                "Testicular cancer",
                "Thyroid cancer",
                "Tracheal, bronchus, and lung cancer",
                "Trachoma",
                "Transport injuries",
                "Tuberculosis",
                "Typhoid and paratyphoid",
                "Unintentional injuries",
                "Upper respiratory infections",
                "Uterine cancer",
                "Yellow fever",
                "Zika virus",
            ]

            //Default values for filters
            var measure = "Deaths",
                location = "Global",
                sex = "Both",
                age = "All Ages";

            var container_class = ".death-tree";
            var initial_data = [];

            function get_data() {
                var new_data = [];
                var i = 0;
                var parent = "";
                for (let row of data) {
                    if (row.age == age && row.sex == sex && row.measure == measure && row.location == location) {
                        for (cause of all_causes) {
                            if (row[cause] > 0) {
                                var parent = "";
                                if (cause == "Tuberculosis"
                                    || cause == "Lower respiratory infections"
                                    || cause == "Upper respiratory infections"
                                    || cause == "Otitis media") {
                                    parent = "Respiratory infections and tuberculosis";
                                } else if (cause == "Diarrheal diseases"
                                    || cause == "Typhoid and paratyphoid"
                                    || cause == "Other intestinal infectious diseases"
                                    || cause == "Invasive Non-typhoidal Salmonella (iNTS)") {
                                    parent = "Enteric infections";
                                } else if (cause == "Malaria"
                                    || cause == "Chagas disease"
                                    || cause == "Leishmaniasis"
                                    || cause == "African trypanosomiasis"
                                    || cause == "Schistosomiasis"
                                    || cause == "Cystic echinococcosis"
                                    || cause == "Cysticercosis"
                                    || cause == "Lymphatic filariasis"
                                    || cause == "Onchocerciasis"
                                    || cause == "Trachoma"
                                    || cause == "Dengue"
                                    || cause == "Yellow fever"
                                    || cause == "Rabies"
                                    || cause == "Intestinal nematode infections"
                                    || cause == "Leprosy"
                                    || cause == "Food-borne trematodiases"
                                    || cause == "Ebola"
                                    || cause == "Zika virus"
                                    || cause == "Other neglected tropical diseases") {
                                    parent = "Neglected tropical diseases and malaria";
                                } else if (cause == "Neonatal disorders"
                                    || cause == "Maternal disorders") {
                                    parent = "Maternal and neonatal disorders";
                                }
                                else if (cause == "Bladder cancer"
                                    || cause == "Brain and nervous system cancer"
                                    || cause == "Breast cancer"
                                    || cause == "Cervical cancer"
                                    || cause == "Colon and rectum cancer"
                                    || cause == "Esophageal cancer"
                                    || cause == "Gallbladder and biliary tract cancer"
                                    || cause == "Kidney cancer"
                                    || cause == "Larynx cancer"
                                    || cause == "Leukemia"
                                    || cause == "Lip and oral cavity cancer"
                                    || cause == "Liver cancer"
                                    || cause == "Malignant skin melanoma"
                                    || cause == "Nasopharynx cancer"
                                    || cause == "Non-melanoma skin cancer"
                                    || cause == "Other pharynx cancer"
                                    || cause == "Ovarian cancer"
                                    || cause == "Pancreatic cancer"
                                    || cause == "Prostate cancer"
                                    || cause == "Stomach cancer"
                                    || cause == "Testicular cancer"
                                    || cause == "Thyroid cancer"
                                    || cause == "Tracheal, bronchus, and lung cancer"
                                    || cause == "Uterine cancer"
                                    || cause == "Mesothelioma"
                                    || cause == "Hodgkin lymphoma"
                                    || cause == "Non-Hodgkin lymphoma"
                                    || cause == "Multiple myeloma"
                                    || cause == "Other malignant neoplasms"
                                    || cause == "Other neoplasms") {
                                    parent = "Cancer";
                                } else if (cause == "Ischemic heart disease"
                                    || cause == "Rheumatic heart disease"
                                    || cause == "Non-rheumatic valvular heart disease"
                                    || cause == "Stroke"
                                    || cause == "Hypertensive heart disease"
                                    || cause == "Cardiomyopathy and myocarditis"
                                    || cause == "Aortic aneurysm"
                                    || cause == "Atrial fibrillation and flutter"
                                    || cause == "Endocarditis"
                                    || cause == "Peripheral artery disease"
                                    || cause == "Other cardiovascular and circulatory diseases") {
                                    parent = "Cardiovascular diseases";
                                } else if (cause == "Alzheimer's disease and other dementias"
                                    || cause == "Motor neuron disease"
                                    || cause == "Multiple sclerosis"
                                    || cause == "Other neurological disorders"
                                    || cause == "Parkinson's disease"
                                    || cause == "Epilepsy"
                                    || cause == "Headache disorders") {
                                    parent = "Neurological disorders";
                                } else if (cause == "Anxiety disorders"
                                    || cause == "Attention-deficit/hyperactivity disorder"
                                    || cause == "Autism spectrum disorders"
                                    || cause == "Bipolar disorder"
                                    || cause == "Depressive disorders"
                                    || cause == "Idiopathic developmental intellectual disability"
                                    || cause == "Other mental disorders"
                                    || cause == "Schizophrenia"
                                    || cause == "Conduct disorder"
                                    || cause == "Eating disorders") {
                                    parent = "Mental disorders";
                                } else if (cause == "Alcohol use disorders"
                                    || cause == "Drug use disorders") {
                                    parent = "Substance use disorders";
                                } else if (cause == "Acute glomerulonephritis"
                                    || cause == "Diabetes mellitus"
                                    || cause == "Chronic kidney disease") {
                                    parent = "Diabetes and kidney diseases";
                                } else if (cause == "Road injuries"
                                    || cause == "Other transport injuries") {
                                    parent = "Transport injuries";
                                } else if (cause == "Animal contact"
                                    || cause == "Drowning"
                                    || cause == "Environmental heat and cold exposure"
                                    || cause == "Exposure to forces of nature"
                                    || cause == "Exposure to mechanical forces"
                                    || cause == "Falls"
                                    || cause == "Fire, heat, and hot substances"
                                    || cause == "Foreign body"
                                    || cause == "Poisonings"
                                    || cause == "Other unintentional injuries"
                                    || cause == "Adverse effects of medical treatment") {
                                    parent = "Unintentional injuries";
                                } else {
                                    parent = "";
                                }

                                if (parent == "") {
                                    new_data.push({ id: cause, name: cause, value: +row[cause], colorIndex: getColor[cause] });
                                } else {
                                    new_data.push({ id: cause, name: cause, parent: parent, value: +row[cause] });
                                }
                            }
                        }
                    }
                }
                return new_data;
            }

            initial_data = get_data();

            var chart = Highcharts.chart('death_tree', {
                chart: {
                    styledMode: true,
                    type: 'treemap',
                    height: 500
                },
                title: {
                    text: null
                },
                tooltip: {
                    formatter: function () {
                        var title = fCapital(this.key);
                        var deaths = numberFormatterInteger(this.point.value);
                        var perc = this.point.value / this.series.tree.val * 100;
                        var per = numberFormatterPercentage(perc);
                        if (measure == "Deaths") {
                            return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>Total number of deaths: ' + deaths + '<br> Percentage: ' + per + '%</text>';
                        } else {
                            return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>Total number of years lost: ' + deaths + '<br> Percentage: ' + per + '%</text>';
                        }
                    },
                    useHTML: true
                },
                plotOptions: {
                    treemap: {
                        dataLabels: {
                            formatter: function () {
                                var boxWidth = this.point.shapeArgs.width;
                                var boxHeight = this.point.shapeArgs.height;
                                var maxLineHeight = (Math.floor(boxHeight / 20)) - 1;
                                var maxLineLength = boxWidth / 8;
                                var nameParts = this.point.name.split(" ");
                                var name = [];
                                var newLine = "";
                                var oldLine = "";
                                var i = 0;
                                var words = 0;
                                for (var n in nameParts) {
                                    i = +1;
                                    // If we have reached the line number (height) limit,
                                    // try to append ... dots on remaining name element
                                    // and break the for loop
                                    if (name.length == maxLineHeight) {
                                        newLine = oldLine.concat("...");
                                        if (newLine.length > maxLineLength) {
                                            newLine = "..."
                                        }
                                        oldLine = newLine;
                                        break;
                                    } else {
                                        // We keep adding name elements until we hit the width limit
                                        newLine = oldLine.concat(nameParts[n]).concat(" ");
                                        if (newLine.length > maxLineLength) {
                                            // once we hit the limit, we add previous name that was 
                                            // still under limit
                                            name.push(oldLine);
                                            // We replace so that we don't lose current element on next loop
                                            oldLine = nameParts[n].concat(" ");
                                            // There is a chance that the current element is too large and cannot 
                                            // be displayed on its own. In such cases we just want to return ... 
                                            // and exit the loop
                                            if (oldLine.length > maxLineLength) {
                                                oldLine = ("...");
                                                break;
                                            }
                                        } else {
                                            // if limit is not hit, newline becomes the oldline
                                            oldLine = newLine;
                                        }
                                    }
                                }
                                name.push(oldLine);
                                return name.join("<br/>");
                            },
                            padding: 0
                        },
                        levels: [{
                            level: 1,
                            colorKey: 'colorValue',
                        }]
                    }
                },
                series: [{
                    type: 'treemap',
                    layoutAlgorithm: 'squarified',
                    allowTraversingTree: true,
                    animationLimit: 1000,
                    dataLabels: {
                        enabled: false,
                    },
                    levelIsConstant: false,
                    levels: [{
                        level: 1,
                        dataLabels: {
                            enabled: true,
                        }
                    }],
                    data: initial_data
                }],
                credits: {
                    enabled: false
                },
            });

            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(container_class + " .chart-filters");

            // Create a measure dropdown
            var measureName = "tree-measure",
                measureWidth = "120px";
            addDropdown(filters, measureName, measureWidth, measureChange, all_measures, measure);

            // Update chart data on location change
            function measureChange() {
                measure = document.getElementById(measureName + "-select").value;
                chart.series[0].setData(get_data());
            }

            // Create a location dropdown
            var locationName = "tree-location",
                locationWidth = "300px";
            addDropdown(filters, locationName, locationWidth, locationChange, all_locations, location);

            // Update chart data on location change
            function locationChange() {
                location = document.getElementById(locationName + "-select").value;
                chart.series[0].setData(get_data());
            }

            // Create a sex dropdown
            var sexName = "tree-sex",
                sexWidth = "100px";
            addDropdown(filters, sexName, sexWidth, sexChange, all_sexes, sex);

            // Update chart data on sex change
            function sexChange() {
                sex = document.getElementById(sexName + "-select").value;
                chart.series[0].setData(get_data());
            }

            // Create a age dropdown
            var ageName = "tree-age",
                ageWidth = "120px";
            addDropdown(filters, ageName, ageWidth, ageChange, all_ages, age);

            // Update chart data on location change
            function ageChange() {
                age = document.getElementById(ageName + "-select").value;
                chart.series[0].setData(get_data());
            }
        })
        .catch(function (error) {
            console.log(error);
        })

    var oldDeathTree = d3.csv(old_death_path)
        .then(function (data) {

            function get_data() {
                var new_data = [];
                for (let row of data) {
                    new_data.push({ name: row.Cause, value: +row.Number, colorIndex: getColor[row.Cause] });
                }
                return new_data;
            }

            initial_data = get_data();

            var chart = Highcharts.chart('old_death_tree', {
                chart: {
                    styledMode: true,
                    type: 'treemap',
                    height: 300
                },
                title: {
                    text: null
                },
                tooltip: {
                    formatter: function () {
                        var title = fCapital(this.key);
                        var deaths = numberFormatterInteger(this.point.value);
                        var perc = this.point.value / this.series.tree.val * 100;
                        var per = numberFormatterPercentage(perc);
                        return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>Total number of deaths: ' + deaths + '<br> Percentage: ' + per + '%</text>';
                    },
                    useHTML: true
                },
                series: [{
                    type: 'treemap',
                    layoutAlgorithm: 'squarified',
                    data: initial_data
                }],
                credits: {
                    enabled: false
                },
            });
        })
        .catch(function (error) {
            console.log(error);
        })

    var DeathMap = d3.csv(death_map_path)
        .then(function (data) {
            // All filterable options
            const all_causes = [...new Set(data.map(d => d.cause))].sort();
            const all_years = [...new Set(data.map(d => d.year))].sort();
            const all_sexes = [...new Set(data.map(d => d.sex))].sort();
            const all_ages = [...new Set(data.map(d => d.age))].sort();
            const all_locations = ["Afghanistan",
                "Albania",
                "Algeria",
                "American Samoa",
                "Andorra",
                "Angola",
                "Antigua and Barbuda",
                "Argentina",
                "Armenia",
                "Australia",
                "Austria",
                "Azerbaijan",
                "Bahrain",
                "Bangladesh",
                "Barbados",
                "Belarus",
                "Belgium",
                "Belize",
                "Benin",
                "Bermuda",
                "Bhutan",
                "Bolivia",
                "Bosnia and Herzegovina",
                "Botswana",
                "Brazil",
                "Brunei",
                "Bulgaria",
                "Burkina Faso",
                "Burundi",
                "Cambodia",
                "Cameroon",
                "Canada",
                "Cape Verde",
                "Central African Republic",
                "Chad",
                "Chile",
                "China",
                "Colombia",
                "Comoros",
                "Congo",
                "Costa Rica",
                "Cote d'Ivoire",
                "Croatia",
                "Cuba",
                "Cyprus",
                "Czech Republic",
                "Democratic Republic of the Congo",
                "Denmark",
                "Djibouti",
                "Dominica",
                "Dominican Republic",
                "Ecuador",
                "Egypt",
                "El Salvador",
                "Equatorial Guinea",
                "Eritrea",
                "Estonia",
                "Ethiopia",
                "Federated States of Micronesia",
                "Fiji",
                "Finland",
                "France",
                "Gabon",
                "Georgia",
                "Germany",
                "Ghana",
                "Greece",
                "Greenland",
                "Grenada",
                "Guam",
                "Guatemala",
                "Guinea",
                "Guinea-Bissau",
                "Guyana",
                "Haiti",
                "Honduras",
                "Hungary",
                "Iceland",
                "India",
                "Indonesia",
                "Iran",
                "Iraq",
                "Ireland",
                "Israel",
                "Italy",
                "Jamaica",
                "Japan",
                "Jordan",
                "Kazakhstan",
                "Kenya",
                "Kiribati",
                "Kuwait",
                "Kyrgyzstan",
                "Laos",
                "Latvia",
                "Lebanon",
                "Lesotho",
                "Liberia",
                "Libya",
                "Lithuania",
                "Luxembourg",
                "Macedonia",
                "Madagascar",
                "Malawi",
                "Malaysia",
                "Maldives",
                "Mali",
                "Malta",
                "Marshall Islands",
                "Mauritania",
                "Mauritius",
                "Mexico",
                "Moldova",
                "Mongolia",
                "Montenegro",
                "Morocco",
                "Mozambique",
                "Myanmar",
                "Namibia",
                "Nepal",
                "Netherlands",
                "New Zealand",
                "Nicaragua",
                "Niger",
                "Nigeria",
                "North Korea",
                "Northern Mariana Islands",
                "Norway",
                "Oman",
                "Pakistan",
                "Palestine",
                "Panama",
                "Papua New Guinea",
                "Paraguay",
                "Peru",
                "Philippines",
                "Poland",
                "Portugal",
                "Puerto Rico",
                "Qatar",
                "Romania",
                "Russian Federation",
                "Rwanda",
                "Saint Lucia",
                "Saint Vincent and the Grenadines",
                "Samoa",
                "Sao Tome and Principe",
                "Saudi Arabia",
                "Senegal",
                "Serbia",
                "Seychelles",
                "Sierra Leone",
                "Singapore",
                "Slovakia",
                "Slovenia",
                "Solomon Islands",
                "Somalia",
                "South Africa",
                "South Korea",
                "South Sudan",
                "Spain",
                "Sri Lanka",
                "Sudan",
                "Suriname",
                "Swaziland",
                "Sweden",
                "Switzerland",
                "Syria",
                "Taiwan (Province of China)",
                "Tajikistan",
                "Tanzania",
                "Thailand",
                "The Bahamas",
                "The Gambia",
                "Timor-Leste",
                "Togo",
                "Tonga",
                "Trinidad and Tobago",
                "Tunisia",
                "Turkey",
                "Turkmenistan",
                "Uganda",
                "Ukraine",
                "United Arab Emirates",
                "United Kingdom",
                "United States",
                "Uruguay",
                "Uzbekistan",
                "Vanuatu",
                "Venezuela",
                "Vietnam",
                "Virgin Islands, U.S.",
                "Yemen",
                "Zambia",
                "Zimbabwe",
            ]

            // Default values
            var age = "All Ages",
                sex = "Both",
                cause = "HIV/AIDS",
                year = "2017";

            var container_class = ".death-map";
            var initial_data = [];

            function get_data() {
                var new_data = [];
                for (let row of data) {
                    if (row.age == age && row.sex == sex && row.cause == cause && row.year == year) {
                        for (loc of all_locations) {
                            new_data.push({ country: getCountryCode(loc), value: +row[loc] });
                        }
                    }
                }
                return new_data;
            }

            intial_data = get_data();

            // Initiate the chart
            var chart = Highcharts.mapChart('death_map', {
                chart: {
                    styledMode: true,
                    height: 500
                },
                title: {
                    text: null
                },
                mapNavigation: {
                    enabled: true,
                    enableMouseWheelZoom: false,
                    enableButtons: true,
                },
                colorAxis: {
                    tickPixelInterval: 100,
                    stops: [
                        [0, '#0074D9'],
                        [0.25, '#2ECC40'],
                        [0.5, '#DDDDDD'],
                        [0.75, '#FFDC00'],
                        [0.95, '#FF4136']
                    ],
                },
                tooltip: {
                    formatter: function () {
                        var title = fCapital(this.key);
                        var per = numberFormatterPercentage(this.point.value);
                        return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>Percentage of total deaths: ' + per + '%</text>';
                    },
                    useHTML: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    mapData: Highcharts.maps['custom/world'],
                    data: intial_data,
                    joinBy: ['iso-a3', 'country'], // first var: type of geographical data, second: data column name
                }]
            });

            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(container_class + " .chart-filters");

            // Create a cause dropdown
            var causeName = "map-cause",
                causeWidth = "300px";
            addDropdown(filters, causeName, causeWidth, causeChange, all_causes, cause);

            // Update chart data on cause change
            function causeChange() {
                cause = document.getElementById(causeName + "-select").value;
                chart.series[0].setData(get_data());
            }
            // Create a sex dropdown
            var sexName = "map-sex",
                sexWidth = "100px";
            addDropdown(filters, sexName, sexWidth, sexChange, all_sexes, sex);

            // Update chart data on sex change
            function sexChange() {
                sex = document.getElementById(sexName + "-select").value;
                chart.series[0].setData(get_data());
            }
            // Create a age dropdown
            var ageName = "map-age",
                ageWidth = "120px";
            addDropdown(filters, ageName, ageWidth, ageChange, all_ages, age);

            // Update chart data on age change
            function ageChange() {
                age = document.getElementById(ageName + "-select").value;
                chart.series[0].setData(get_data());
            }

            // Create a year dropdown
            var yearName = "map-year",
                yearWidth = "80px";
            addDropdown(filters, yearName, yearWidth, yearChange, all_years, year);

            // Update chart data on year change
            function yearChange() {
                year = document.getElementById(yearName + "-select").value;
                chart.series[0].setData(get_data());
            }
        })
        .catch(function (error) {
            console.log(error);
        })
    var DeathBars = d3.csv(death_bars_path)
        .then(function (data) {
            // All filterable options
            const all_risks = [...new Set(data.map(d => d.rei))].sort()
            const all_sexes = [...new Set(data.map(d => d.sex))].sort()
            const all_locations = [...new Set(data.map(d => d.location))].sort()
            const all_measures = [...new Set(data.map(d => d.measure))].sort()
            const all_causes = ["Cancer",
                "Cardiovascular diseases",
                "Chronic respiratory diseases",
                "Diabetes and kidney diseases",
                "Digestive diseases",
                "Enteric infections",
                "HIV/AIDS",
                "Interpersonal violence",
                "Maternal disorders",
                "Mental disorders",
                "Musculoskeletal disorders",
                "Neonatal disorders",
                "Neurological disorders",
                "Nutritional deficiencies",
                "Other infectious diseases",
                "Other non-communicable diseases",
                "Respiratory infections and tuberculosis",
                "Self-harm",
                "Sense organ diseases",
                "Sexually transmitted infections excluding HIV",
                "Substance use disorders",
                "Transport injuries",
                "Unintentional injuries",
            ]

            // Default values
            var sex = "Both",
                measure = "Deaths",
                location = "Global";

            var container_class = ".death-bars";
            var initial_data = [];

            function getBlankData() {
                return [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
            }

            function get_data() {
                var new_data = [];
                // First we create the structure by getting each cause, setting a color and providing empty data for it
                for (let cause of all_causes) {
                    new_data.push({ id: cause, name: cause, data: getBlankData(), colorIndex: getColor[cause] })
                }
                // Then we update risk data where appropriate
                for (let row of data) {
                    if (row.measure == measure && row.sex == sex && row.location == location) {
                        for (let cause of all_causes) {
                            var data_index = new_data.findIndex(x => x.name == cause);
                            var risk_index = all_risks.findIndex(x => x == row.rei);

                            new_data[data_index].data[risk_index] = +row[cause];
                        }
                    }
                }
                return new_data;
            }

            initial_data = get_data();

            var chart = Highcharts.chart('death_bars', {
                chart: {
                    type: 'bar',
                    height: 500,
                    styledMode: true,
                },
                title: {
                    text: null
                },
                xAxis: {
                    categories: all_risks
                },
                yAxis: {
                    min: 0,
                    title: null
                },
                legend: {
                    enabled: false,
                    width: '100%',
                    itemWidth: 350
                },
                tooltip: {
                    formatter: function () {
                        var cause = fCapital(this.point.series.name);
                        var risk = fCapital(this.key);
                        var val = numberFormatterInteger(this.y);
                        return '<text><span style="font-size: 1.1em"><strong>' + cause + '</strong></span><br>' + risk + ' is associated with<br>' + val + ' ' + measure + '</text>';
                    },
                    useHTML: true
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                series: initial_data
            });

            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(container_class + " .chart-filters");

            // Create a measure dropdown
            var measureName = "bars-measure",
                measureWidth = "120px";
            addDropdown(filters, measureName, measureWidth, measureChange, all_measures, measure);

            // Update chart data on cause change
            function measureChange() {
                measure = document.getElementById(measureName + "-select").value;
                var loops = chart.series.length;
                var updated_data = get_data();

                // First empty the existing data
                for (var i = 0; i < loops; i++) {
                    chart.series[0].remove(false);
                }
                // Then add the updated data
                for (var i = 0; i < updated_data.length; i++) {
                    chart.addSeries(updated_data[i], false);
                }
                chart.redraw();
            }

            // Create a location dropdown
            var locationName = "bars-location",
                locationWidth = "300px";
            addDropdown(filters, locationName, locationWidth, locationChange, all_locations, location);

            // Update chart data on age change
            function locationChange() {
                location = document.getElementById(locationName + "-select").value;
                var loops = chart.series.length;
                var updated_data = get_data();

                // First empty the existing data
                for (var i = 0; i < loops; i++) {
                    chart.series[0].remove(false);
                }
                // Then add the updated data
                for (var i = 0; i < updated_data.length; i++) {
                    chart.addSeries(updated_data[i], false);
                }
                chart.redraw();
            }

            // Create a sex dropdown
            var sexName = "bars-sex",
                sexWidth = "120px";
            addDropdown(filters, sexName, sexWidth, sexChange, all_sexes, sex);


            // Update chart data on sex change
            function sexChange() {
                sex = document.getElementById(sexName + "-select").value;
                var loops = chart.series.length;
                var updated_data = get_data();

                // First empty the existing data
                for (var i = 0; i < loops; i++) {
                    chart.series[0].remove(false);
                }
                // Then add the updated data
                for (var i = 0; i < updated_data.length; i++) {
                    chart.addSeries(updated_data[i], false);
                }
                chart.redraw();
            }
        })
        .catch(function (error) {
            console.log(error);
        })

    // To keep color of causes consistent
    var getColor = {
        'Cardiovascular diseases': '0',
        'Cancer': '1',
        'Chronic respiratory diseases': '2',
        'Pneumonia or influenza': '2',
        'Respiratory infections and tuberculosis': '3',
        'Tuberculosis': '3',
        'Neurological disorders': '4',
        'Senility': '4',
        'Diabetes and kidney diseases': '5',
        'Nephropathies': '5',
        'Digestive diseases': '6',
        'Maternal and neonatal disorders': '7',
        'Maternal disorders': '7',
        'Neonatal disorders': '27',
        'Unintentional injuries': '8',
        'Accidents': '8',
        'Enteric infections': '9',
        'Gastrointestinal infections': '9',
        'Transport injuries': '10',
        'Other non-communicable diseases': '11',
        'HIV/AIDS': '12',
        'Other infectious diseases': '13',
        'Self-harm': '14',
        'Neglected tropical diseases and malaria': '15',
        'Diphtheria': '15',
        'Interpersonal violence': '16',
        'Substance use disorders': '17',
        'Nutritional deficiencies': '18',
        'Conflict and terrorism': '19',
        'Musculoskeletal disorders': '20',
        'Sexually transmitted infections excluding HIV': '21',
        'Skin and subcutaneous diseases': '22',
        'Executions and police conflict': '23',
        'Mental disorders': '25',
        'Sense organ diseases': '26'
    };
</script>
{% endblock %}