{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>Data - Navigate Obscurity</title>
<meta name="description"
    content="Too often, I realise how little I know about this world. I am not talking about details, I am talking about the big picture. The kind of things you would expect to cover on an Earth 101 course in an alien university. So, I look for reasonably well sourced data and visualise them hoping to aid my perspective on life on Earth.">
<meta property="og:image" content="https://www.navigateobscurity.com/static/main/images/header-social.jpg" />
<meta property="og:title" content="Data - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/data" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/data" />
<meta name="twitter:title" content="Data - Navigate Obscurity" />
<meta name="twitter:description"
    content="Too often, I realise how little I know about this world. I am not talking about details, I am talking about the big picture. The kind of things you would expect to cover on an Earth 101 course in an alien university. So, I look for reasonably well sourced data and visualise them hoping to aid my perspective on life on Earth." />
<meta name="twitter:image" content="https://www.navigateobscurity.com/static/main/images/header-social.jpg" />

<link rel='stylesheet' type="text/css" href={% static "worlddata/css/data.css" %}>
{% endblock %}

{% block content %}
<section class="banner-container">
    <h1 class="header-title-banner">Get some perspective</h1>
</section>



<section class="container limited-width">
    <p>
        Too often, I realise how little I know about this world.
        I am not talking about details, I am talking about the big picture.
        The kind of things you would expect to cover on an Earth 101 course in an alien university.
        So, I look for reasonably well sourced data and visualise them
        hoping to aid my perspective on life on Earth.
    </p>
</section>
<section class="container data-index-container">
    <ul>
        {% for page in data_pages %}
        <li class="data-box-container">
            <div>
                <ul id="hexagon-grid-data-index">
                    <li class="hexagon-data-index">
                        <div class="hexagon-item">
                            <div class="hexagon-link-single">
                                <img src={{page.icon.url}} alt={{page.title}}>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="data-box-text">
                <p>{{page.abstract}}</p>
                <a class="button" href="{% url 'worlddata:'|add:page.slug %}">Explore {{page.title}}</a>

            </div>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}