{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>

<!-- We use highcharts for visualizations -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>

<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<script src={% static "worlddata/js/chart-helpers.js" %}></script>

<link rel='stylesheet' type="text/css" href={% static "worlddata/css/highcharts.css" %}>
<link rel='stylesheet' type="text/css" href={% static "worlddata/css/data.css" %}>
{% endblock %}

{% block content %}
<section class="banner-container">
    <h1 class="header-title-banner">Migration</h1>
</section>

<section>
    <div class="container limited-width">
        <p>
            In this interactive map you can get a glimpse on how many migrants and refugees are hosted in each country
            (destination of) and where they are coming from (origin of). The colours of the visualisations are based on
            population percentages. The neutral (grey color) is set to the global average (for instance, about 3.5% of
            the global population has migrated away from their country), and the max is set to double that value. This
            helps in giving us a broad idea of migration but does not highlight the extreme outliers as countries with
            a 10% and a 50% migration are painted with the same color. To find those, use the slider provided to exclude
            small values. Additionally, use the parameters to switch between destination and origin visualisations, see
            data for different years, or slice them according to income levels.
        </p>
    </div>
    <div class="chart-container migration-map filters-on-top">
        <div class="chart-options" style="max-width:100%">
            <div class="chart-filters"></div>
        </div>
        <div id="migration_map" class="map" style="width:100%;"></div>
    </div>
    <div class="source-text">
        <p>
            *Source:
            <a href="http://www.un.org/en/development/desa/population/migration/data/index.shtml">United Nations </a>
            (retrieved 02/02/2019)
        </p>
    </div>
    <div class="container limited-width">
        <p>
            And here is a breakdown of the immigrants living in each country. The size indicates larger populations, but
            you can also check the exact numbers by hovering over them. The colours have been randomly assigned and
            don’t mean anything - just there for show.
        </p>
    </div>


    <div class="source-text">
        <p>
            *Source:
            <a href="http://www.un.org/en/development/desa/population/migration/data/index.shtml">United Nations </a>
            (retrieved 02/02/2019)
        </p>
    </div>
    <div class="container limited-width">
        <p>
            Below you can see my puny attempt to roughly visualise the flow of migration between larger areas (otherwise
            it gets even more complicated). On the right (or top if you are on a mobile), the first bar chart shows how
            many people have emigrated from large areas (origin) with the colours indicating where they ended up
            (destination). The second bar chart shows the opposite – how many immigrants are living in large areas
            (destination) with the colours indicating where they came from (origin). The circular visualisation shows
            these flows with the outer bases representing the destination of immigration. Recommended way to figure it
            all out is to select an area from the bottom of the visualisation (Asia is currently selected), wait for
            parts of the visualisation to stand out, and then hover over the highlighted areas and inspect the numbers.
            It is slow, so bear with it.
        </p>
    </div>


    <div class="source-text">
        <p>
            *Source:
            <a href="http://www.un.org/en/development/desa/population/migration/data/index.shtml">United Nations </a>
            (retrieved 02/02/2019)
        </p>
        <p>
            Chord diagram visualisation based on amazing work by
            <a href="http://www.datablick.com/blog/2015/08/27/diy-chord-diagrams-in-tableau-by-noah-salvaterra"> Noah
                Salvaterra</a>
        </p>
    </div>
</section>
<section>
    <div class="container">
        <hr>
        <div class="comment-container">
            {% for comment in comments %}
            {% if comment.approved_comment %}
            <div class="comment-author">{{ comment.author }}</div>
            <div class="comment-date">{{ comment.created_date }}</div>
            {{ comment.message|linebreaks }}
            {% endif %}
            {% empty %}
            <p>No comments here yet :(</p>
            {% endfor %}
        </div>
        <hr>
        <div class="comment-form-container">
            <h3>Leave a comment</h3>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{comment_form.author}}
                </div>
                <div>
                    {{ comment_form.message }}
                </div>
                <div>
                    <button type="submit" formmethod="post">Post comment</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    var static_url = "{% get_static_prefix %}";
    file_migration_map = "worlddata/csv/migration-map.csv";
    migration_map_path = static_url + file_migration_map;


    var migrationMap = d3.csv(migration_map_path)
        .then(function (data) {
            // All filterable options
            const all_years = [...new Set(data.map(d => d.year))].sort();
            const all_incomes = [...new Set(data.map(d => d.income_level))].sort();
            const all_measures = ["Destination of migration", "Origin of migration", "Destination of refugees"];

            // Remove empty value and add an All option for the filter
            all_incomes.splice(0, 1);
            all_incomes.unshift("All");

            // Default values
            var measure = "Destination of migration",
                year = "2017",
                income = "All",
                percentage = "0";

            var container_class = ".migration-map",
                initial_data = [];

            function get_data() {
                var new_data = [],
                    per = parseFloat(percentage),
                    val = 0,
                    abs = 0;
                for (let row of data) {
                    if (measure == "Destination of migration") {
                        val = +row.migrants_destination_per;
                        abs = +row.migrants_destination;
                    } else if (measure == "Origin of migration") {
                        val = +row.migrants_origin_per;
                        abs = +row.migrants_origin;
                    } else if (measure == "Destination of refugees") {
                        val = +row.refugees_destination_per;
                        abs = +row.refugees_destination;
                    }
                    if (income == "All") { //All is not an option in our raw data
                        if (row.year == year && val > per) {
                            new_data.push({ id: row.country, country: getCountryCode(row.country), value: val, absolute: abs });
                        }
                    } else {
                        if (row.year == year && val > per && income == row.income_level) {
                            new_data.push({ id: row.country, country: getCountryCode(row.country), value: val, absolute: abs });
                        }
                    }
                }
                return new_data;
            }

            intial_data = get_data();

            // Initiate the chart
            var chart = Highcharts.mapChart('migration_map', {
                chart: {
                    styledMode: true,
                    height: 500
                },
                title: {
                    text: null
                },
                mapNavigation: {
                    enabled: true,
                    enableMouseWheelZoom: false,
                    enableButtons: true,
                },
                colorAxis: {
                    tickInterval: 1,
                    max: 7,
                    min: 0,
                    stops: [
                        [0, '#0074D9'],
                        [0.35, '#2ECC40'],
                        [0.5, '#DDDDDD'],
                        [0.65, '#FFDC00'],
                        [0.95, '#FF4136']
                    ],
                },
                tooltip: {
                    formatter: function () {
                        var title = fCapital(this.key);
                        var value = numberFormatterPercentage(this.point.value);
                        var text = "";
                        var abs = numberFormatterInteger(this.point.absolute);
                        if (measure == "Destination of migration") {
                            text = abs + " migrated into the country, <br>consisting " + value + "% of local population";
                        } else if (measure == "Origin of migration") {
                            text = abs + " migrated out of the country, <br>consisting " + value + "% of local population";
                        } else if (measure == "Destination of refugees") {
                            text = abs + " recognised refugees have arrived into the country, <br>consisting " + value + "% of local population";
                        }
                        return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>' + text + '</text>';
                    },
                    useHTML: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    mapData: Highcharts.maps['custom/world'],
                    data: intial_data,
                    joinBy: ['iso-a3', 'country'], // first var: type of geographical data, second: data column name
                }]
            });

            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(container_class + " .chart-filters");

            // Create and append measure list
            var measureSelect = document.createElement("select");
            measureSelect.id = "mapMeasureSelect";
            measureSelect.onchange = measureChange;
            filters.appendChild(measureSelect);

            // Create and append the options
            addOptions(measureSelect, all_measures, measure);

            // Update chart data on measure change
            function measureChange() {
                measure = document.getElementById("mapMeasureSelect").value;
                updateColorStops();
                chart.series[0].setData(get_data());
            }

            // Create and append year list
            var yearSelect = document.createElement("select");
            yearSelect.id = "yearAreaSelect";
            yearSelect.onchange = yearChange;
            filters.appendChild(yearSelect);

            // Create and append the options
            addOptions(yearSelect, all_years, year);

            // Update chart data on year change
            function yearChange() {
                year = document.getElementById("yearAreaSelect").value;
                chart.series[0].setData(get_data());
            }

            // Create and append income list
            var incomeSelect = document.createElement("select");
            incomeSelect.id = "mapIncomeSelect";
            incomeSelect.onchange = incomeChange;
            filters.appendChild(incomeSelect);

            // Create and append the options
            addOptions(incomeSelect, all_incomes, income);

            // Update chart data on income change
            function incomeChange() {
                income = document.getElementById("mapIncomeSelect").value;
                chart.series[0].setData(get_data());
            }

            // Create a slider
            var percentageSlider = document.createElement("input");
            percentageSlider.id = "mapPercentageSlider";
            percentageSlider.type = "range";
            percentageSlider.min = "0";
            percentageSlider.max = "50";
            percentageSlider.value = "0";
            percentageSlider.classList.add("slider");
            percentageSlider.onchange = percentageChange;
            filters.appendChild(percentageSlider);

            // Add a span to show the slider's value
            var percentageSliderOutput = document.createElement("span");
            percentageSliderOutput.id = "mapPercentageSliderOutput";
            //percentageSliderOutput.for = "mapPercentageSlider";
            percentageSliderOutput.classList.add("slider-output");
            percentageSliderOutput.innerHTML = "0%";
            filters.appendChild(percentageSliderOutput);

            // Update chart data on percentage change
            function percentageChange() {
                percentage = document.getElementById("mapPercentageSlider").value;
                document.getElementById("mapPercentageSliderOutput").innerHTML = percentage + "%";
                chart.series[0].setData(get_data());
            }

            function addOptions(parent, options, defaultValue) {
                // Create and append the options
                for (var i = 0; i < options.length; i++) {
                    var option = document.createElement("option");
                    option.value = options[i];
                    option.text = options[i];
                    // Setting default value to selected
                    if (option.value == defaultValue) {
                        option.selected = "selected";
                    }
                    parent.appendChild(option);
                }
            }

            function updateColorStops() {
                if (measure == "Destination of migration") {
                    chart.colorAxis[0].update({
                        tickInterval: 1,
                        max: 7,
                        min: 0,
                    }, false)
                } else if (measure == "Origin of migration") {
                    chart.colorAxis[0].update({
                        tickInterval: 1,
                        max: 7,
                        min: 0,
                    }, false)
                } else if (measure == "Destination of refugees") {
                    chart.colorAxis[0].update({
                        tickInterval: 0.1,
                        max: 0.7,
                        min: 0,
                    }, false)
                }
            }

        })
        .catch(function (error) {
            console.log(error);
        })
</script>
{% endblock %}