{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>{{ title }} - Navigate Obscurity</title>
<meta name="description" content="{{ abstract }}">
<meta property="og:image" content="https://www.navigateobscurity.com/static/worlddata/images/migration-social.jpg" />
<meta property="og:title" content="{{ title }} - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/data/migration" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/data/migration" />
<meta name="twitter:title" content="{{ title }} - Navigate Obscurity" />
<meta name="twitter:description" content="{{ abstract }}" />
<meta name="twitter:image" content="https://www.navigateobscurity.com/static/worlddata/images/migration-social.jpg" />

<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>

<!-- We use highcharts for visualizations -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/sankey.js"></script>
<script src="https://code.highcharts.com/modules/dependency-wheel.js"></script>

<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<script src={% static "worlddata/js/chart-helpers.js" %}></script>

<link rel='stylesheet' type="text/css" href={% static "worlddata/css/highcharts.css" %}>
<link rel='stylesheet' type="text/css" href={% static "worlddata/css/data.css" %}>
{% endblock %}

{% block content %}
<section class="banner-container">
    <h1 class="header-title-banner">{{title}}</h1>
</section>

<section>
    <div class="container limited-width">
        <p>
            In this interactive map you can get a glimpse on how many migrants and refugees are hosted in each
            country
            (destination of) and where they are coming from (origin of). The colours of the visualisations are based
            on
            population percentages. The neutral (grey color) is set to the global average (for instance, about 3.5%
            of
            the global population has migrated away from their country), and the max is set to double that value.
            This
            helps in giving us a broad idea of migration but does not highlight the extreme outliers as countries
            with
            a 10% and a 50% migration are painted with the same color. To find those, use the slider provided to
            exclude
            small values. Additionally, use the parameters to switch between destination and origin visualisations,
            see
            data for different years, or slice them according to income levels.
        </p>
    </div>
    <figure>
        <div class="container chart-container migration-map filters-on-top">
            <div class="chart-options" style="max-width:100%">
                <div class="chart-filters"></div>
            </div>
            <div id="migration_map" class="map" style="width:100%;"></div>
        </div>
    </figure>
    <div class="source-text">
        <p>
            *Source:
            <a href="http://www.un.org/en/development/desa/population/migration/data/index.shtml" target="_blank">United
                Nations </a>
            (retrieved 02/02/2019)
        </p>
    </div>
    <div class="container limited-width">
        <p>
            And here is a breakdown of migrants by country. You can switch between "Destination" to see the
            breakdown of
            immigrants living in a destination country, and "Origin" to see where people of a particular origin
            country
            emigrated to. The size indicates larger populations, but you can also check the exact numbers by
            hovering
            over them. The colours have been randomly assigned and don’t mean anything - just there for show. On the
            legend are highlighted the top five results.
        </p>
    </div>
    <figure>
        <div class="container chart-container migration-bubbles legend-right filters-right">
            <div class="chart-options" style="min-width:260px">
                <div class="chart-filters"></div>
                <div class="chart-legend wide-screen-legend">
                    <h4>Top five:</h4>
                </div>
            </div>
            <div id="migration_bubbles" class="bubbles" style="width:100%;"></div>
            <div class="chart-options mobile-legend" style="min-width:260px">
                <div class="chart-legend">
                    <h4>Top five:</h4>
                </div>
            </div>
        </div>
    </figure>

    <div class="source-text">
        <p>
            *Source:
            <a href="http://www.un.org/en/development/desa/population/migration/data/index.shtml" target="_blank">United
                Nations </a>
            (retrieved 02/02/2019)
        </p>
    </div>
    <div class="container limited-width">
        <p>
            Below you can see a rough visualization of the flow of migration between larger areas. You can choose
            between continents and regions - anything more specific gets too convoluted. The outer bases represent
            the
            total of migrants - people moving both in and out of the region - and the inside lines visualize their
            movement. Movements are coloured according to the region of origin.
        </p>
    </div>
    <figure>
        <div class="container chart-container migration-wheel legend-right filters-right">
            <div class="chart-options" style="min-width:260px">
                <div class="chart-filters"></div>
                <div class="chart-legend wide-screen-legend"></div>
            </div>
            <div id="migration_wheel" class="wheel" style="width:100%;"></div>
            <div class="chart-options mobile-legend" style="min-width:260px">
                <div class="chart-legend"></div>
            </div>
        </div>
    </figure>

    <div class="source-text">
        <p>
            *Source:
            <a href="http://www.un.org/en/development/desa/population/migration/data/index.shtml" target="_blank">United
                Nations </a>
            (retrieved 02/02/2019)
        </p>
    </div>
</section>
<section>
    <div class="container">
        <hr>
        <div class="comment-container">
            {% for comment in comments %}
            {% if comment.approved_comment %}
            <div class="comment-author">{{ comment.author }}</div>
            <div class="comment-date">{{ comment.created_date }}</div>
            {{ comment.message|linebreaks }}
            {% endif %}
            {% empty %}
            <p>No comments here yet :(</p>
            {% endfor %}
        </div>
        <hr>
        <div class="comment-form-container">
            <h3>Leave a comment</h3>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{comment_form.author}}
                </div>
                <div>
                    {{ comment_form.message }}
                </div>
                <div>
                    <button type="submit" class="button" formmethod="post">Post comment</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    var static_url = "{% get_static_prefix %}",
        file_migration_map = "worlddata/csv/migration-map.csv",
        migration_map_path = static_url + file_migration_map,
        file_migration_bubbles = "worlddata/csv/migration-bubbles.csv",
        migration_bubbles_path = static_url + file_migration_bubbles,
        file_migration_wheel = "worlddata/csv/migration-wheel.csv",
        migration_wheel_path = static_url + file_migration_wheel;



    var migrationMap = d3.csv(migration_map_path)
        .then(function (data) {
            // All filterable options
            const all_years = [...new Set(data.map(d => d.year))].sort();
            const all_incomes = [...new Set(data.map(d => d.income_level))].sort();
            const all_measures = ["Destination of migration", "Origin of migration", "Destination of refugees"];

            // Remove empty value and add an All option for the filter
            all_incomes.splice(0, 1);
            all_incomes.unshift("All");

            // Default values
            var measure = "Destination of migration",
                year = "2017",
                income = "All",
                percentage = "0";

            var container_class = ".migration-map",
                initial_data = [];

            function get_data() {
                var new_data = [],
                    per = parseFloat(percentage),
                    val = 0,
                    abs = 0;
                for (let row of data) {
                    if (measure == "Destination of migration") {
                        val = +row.migrants_destination_per;
                        abs = +row.migrants_destination;
                    } else if (measure == "Origin of migration") {
                        val = +row.migrants_origin_per;
                        abs = +row.migrants_origin;
                    } else if (measure == "Destination of refugees") {
                        val = +row.refugees_destination_per;
                        abs = +row.refugees_destination;
                    }
                    if (income == "All") { //All is not an option in our raw data
                        if (row.year == year && val > per) {
                            new_data.push({ id: row.country, country: getCountryCode(row.country), value: val, absolute: abs });
                        }
                    } else {
                        if (row.year == year && val > per && income == row.income_level) {
                            new_data.push({ id: row.country, country: getCountryCode(row.country), value: val, absolute: abs });
                        }
                    }
                }
                return new_data;
            }

            intial_data = get_data();

            // Initiate the chart
            var chart = Highcharts.mapChart('migration_map', {
                chart: {
                    styledMode: true,
                    height: 500
                },
                title: {
                    text: null
                },
                mapNavigation: {
                    enabled: true,
                    enableMouseWheelZoom: false,
                    enableButtons: true,
                },
                colorAxis: {
                    tickInterval: 1,
                    max: 7,
                    min: 0,
                    stops: [
                        [0, getIndexColor(3)],
                        [0.35, getIndexColor(23)],
                        [0.5, getIndexColor(52)],
                        [0.65, getIndexColor(9)],
                        [0.95, getIndexColor(30)]
                    ],
                },
                tooltip: {
                    formatter: function () {
                        var title = fCapital(this.key);
                        var value = numberFormatter(this.point.value);
                        var text = "";
                        var abs = numberFormatter(this.point.absolute);
                        if (measure == "Destination of migration") {
                            text = abs + " migrated into the country, <br>consisting " + value + "% of local population";
                        } else if (measure == "Origin of migration") {
                            text = abs + " migrated out of the country, <br>consisting " + value + "% of local population";
                        } else if (measure == "Destination of refugees") {
                            text = abs + " recognised refugees have arrived into the country, <br>consisting " + value + "% of local population";
                        }
                        return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>' + text + '</text>';
                    },
                    useHTML: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    mapData: Highcharts.maps['custom/world'],
                    data: intial_data,
                    joinBy: ['iso-a3', 'country'], // first var: type of geographical data, second: data column name
                }]
            });

            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(container_class + " .chart-filters");

            // Create a measure dropdown
            var measureName = "area-measure",
                measuerWidth = "250px";
            addDropdown(filters, measureName, measuerWidth, measureChange, all_measures, measure);

            // Update chart data on measure change
            function measureChange() {
                measure = document.getElementById(measureName + "-select").value;
                updateColorStops();
                chart.series[0].setData(get_data());
            }

            // Create a year dropdown
            var yearName = "area-year",
                yearWidth = "80px";
            addDropdown(filters, yearName, yearWidth, yearChange, all_years, year);

            // Update chart data on year change
            function yearChange() {
                year = document.getElementById(yearName + "-select").value;
                chart.series[0].setData(get_data());
            }

            // Create a income dropdown
            var incomeName = "area-income",
                incomeWidth = "150px";
            addDropdown(filters, incomeName, incomeWidth, incomeChange, all_incomes, income);

            // Update chart data on income change
            function incomeChange() {
                income = document.getElementById(incomeName + "-select").value;
                chart.series[0].setData(get_data());
            }

            // Create a slider
            var percentageName = "map-percentage",
                min = "0",
                max = "50",
                value = "0",
                containerWidth = 250,
                sliderWidth = 40;
            addSlider(filters, percentageName, min, max, value, containerWidth, sliderWidth, percentageChange);


            // Update chart data on percentage change
            function percentageChange() {
                percentage = document.getElementById(percentageName + "-slider").value;
                document.getElementById(percentageName + "-slider-output").innerHTML = percentage + "%";
                chart.series[0].setData(get_data());
            }

            function updateColorStops() {
                if (measure == "Destination of migration") {
                    chart.colorAxis[0].update({
                        tickInterval: 1,
                        max: 7,
                        min: 0,
                    }, false)
                } else if (measure == "Origin of migration") {
                    chart.colorAxis[0].update({
                        tickInterval: 1,
                        max: 7,
                        min: 0,
                    }, false)
                } else if (measure == "Destination of refugees") {
                    chart.colorAxis[0].update({
                        tickInterval: 0.1,
                        max: 0.7,
                        min: 0,
                    }, false)
                }
            }

        })
        .catch(function (error) {
            console.log(error);
        })

    var migrationBubbles = d3.csv(migration_bubbles_path)
        .then(function (data) {

            const all_countries = [...new Set(data.map(d => d.country_host))].sort(),

                all_parameters = ["Destination", "Origin"],
                all_years = ["1990", "1995", "2000", "2005", "2010", "2015", "2017"];

            var country = "Lebanon",
                year = "2017",
                parameter = "Destination";

            var container_class = ".migration-bubbles",
                initial_data = [],
                empty_data = [],
                colors_max = 30;

            let random_colors = [3, 9, 18, 23, 31, 37, 1, 12, 15, 26, 29, 39, 42, 5, 8, 19, 22, 32, 38, 43, 2, 10, 17, 24, 30, 40, 4, 11, 16, 25, 33, 36, 54];


            function get_data() {
                var new_data = [],
                    i = 0,
                    total_migrants = 0;
                if (parameter == "Destination") {
                    for (let row of data) {
                        if (country == row.country_host) {
                            new_data.push({ id: row.country_origin, name: row.country_origin, absolute: +row[year], value: 0, colorIndex: random_colors[i] });
                            if (i == (random_colors.length - 1)) {
                                i = 0;
                            } else {
                                i++;
                            }
                            total_migrants += +row[year];
                        }
                    }
                } else {
                    for (let row of data) {
                        if (country == row.country_origin) {
                            new_data.push({ id: row.country_host, name: row.country_host, absolute: +row[year], value: 0, colorIndex: random_colors[i] });
                            if (i == (random_colors.length - 1)) {
                                i = 0;
                            } else {
                                i++;
                            }
                            total_migrants += +row[year];
                        }
                    }
                }
                // We are calculating percentages to keep bubble sizes consistent
                for (let i in new_data) {
                    new_data[i].value = (new_data[i].absolute / total_migrants) * 100;
                }
                return new_data;
            }

            initial_data = get_data();

            var chart = Highcharts.chart('migration_bubbles', {
                chart: {
                    styledMode: true,
                    type: 'packedbubble',
                    height: '500px'
                },
                title: {
                    text: null
                },
                tooltip: {
                    useHTML: true,
                    headerFormat: '',
                    pointFormatter: function () {
                        var sName = fCapital(this.name),
                            population = numberFormatter(this.absolute),
                            text = "";
                        if (parameter == "Destination") {
                            text = population + ' people have migrated to ' + country;
                        } else {
                            text = population + ' people have migrated from ' + country;
                        }
                        return '<text><span style="font-size:1.1em"><strong>' + sName + '</strong></span><br>' + text + '</text>';
                    },
                },
                plotOptions: {
                    packedbubble: {
                        animation:
                        {
                            duration: 100
                        },
                        animationLimit: 50,
                        clip: false,
                        initialPositions: 'random',
                        minSize: 1, // These two control the min and max size of the bubbles
                        maxSize: 600,
                        zMax: 100, // These two define the scale, to keep it consistent across different variables
                        zMin: 1,   // without them, maxsize would be the biggest bubble regardless of actual value - so it could be 95% or 15% and would look the same
                        marker: {
                            states: {
                                hover: {
                                    enabled: true,
                                    radiusPlus: 10,
                                },
                                select: {
                                    enabled: true,
                                    radiusPlus: 10,
                                }
                            }
                        },
                        layoutAlgorithm: {
                            enableSimulation: true,
                            friction: 0.7,
                            gravitationalConstant: 0.02, //make the movement slower
                            maxIterations: 200, // total animation time
                            maxSpeed: 8
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: 'Migrants',
                    data: initial_data,
                    allowPointSelect: true

                }]
            });

            var legend_data = initial_data.sort((a, b) => b.value - a.value).slice(0, 5);
            chart_points = chart.series[0].data;
            createLegend(chart_points, legend_data, container_class);

            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(container_class + " .chart-filters");

            // Create a parameter dropdown
            var parameterName = "bubbles-parameter",
                parameterWidth = "250px";
            addDropdown(filters, parameterName, parameterWidth, parameterChange, all_parameters, parameter);

            // Update chart data on year change
            function parameterChange() {
                parameter = document.getElementById(parameterName + "-select").value;

                var new_data = get_data(),
                    legend_data = new_data.sort((a, b) => b.value - a.value).slice(0, 5);// only going for a top five
                chart.series[0].setData(new_data);
                chart_points = chart.series[0].data;
                createLegend(chart_points, legend_data, container_class);
            }

            // Create a country dropdown
            var countryName = "bubbles-country",
                countryWidth = "250px";
            addDropdown(filters, countryName, countryWidth, countryChange, all_countries, country);

            // Update chart data on year change
            function countryChange() {
                country = document.getElementById(countryName + "-select").value;

                var new_data = get_data(),
                    legend_data = new_data.sort((a, b) => b.value - a.value).slice(0, 5);// only going for a top five
                chart.series[0].setData(new_data);
                chart_points = chart.series[0].data;
                createLegend(chart_points, legend_data, container_class);
            }

            // Create a year dropdown
            var yearName = "bubbles-year",
                yearWidth = "80px";
            addDropdown(filters, yearName, yearWidth, yearChange, all_years, year);

            // Update chart data on year change
            function yearChange() {
                year = document.getElementById(yearName + "-select").value;

                var new_data = get_data(),
                    legend_data = new_data.sort((a, b) => b.value - a.value).slice(0, 5);

                chart.series[0].setData(new_data);
                chart_points = chart.series[0].data;
                createLegend(chart_points, legend_data, container_class);
            }

        })
        .catch(function (error) {
            console.log(error);
        })

    var migrationWheel = d3.csv(migration_wheel_path)
        .then(function (data) {
            // fix for bug of self referencing points
            (function (H) {
                var base = H.seriesTypes.sankey.prototype;

                H.seriesTypes.dependencywheel.prototype.createNode = function (id) {
                    var node = base.createNode.call(this, id);
                    node.index = this.nodes.length - 1;
                    /**
                     * Return the sum of incoming and outgoing links.
                     * @private
                     */
                    node.getSum = function () {
                        return node.linksFrom
                            .concat(node.linksTo)
                            .filter(function (link, i, links) {
                                return links.indexOf(link) === i;
                            })
                            .reduce(function (acc, link) {
                                return acc + link.weight;
                            }, 0);
                    };
                    /**
                     * Get the offset in weight values of a point/link.
                     * @private
                     */
                    node.offset = function (point) {
                        var offset = 0,
                            i,
                            links = node.linksFrom.concat(node.linksTo),
                            sliced;
                        /**
                         * @private
                         */
                        function otherNode(link) {
                            if (link.fromNode === node) {
                                return link.toNode;
                            }
                            return link.fromNode;
                        }
                        // Sort and slice the links to avoid links going out of each
                        // node crossing each other.
                        links.sort(function (a, b) {
                            return otherNode(a).index - otherNode(b).index;
                        });
                        for (i = 0; i < links.length; i++) {
                            if (otherNode(links[i]).index > node.index) {
                                links = links.slice(0, i).reverse().concat(links.slice(i).reverse());
                                sliced = true;
                                break;
                            }
                        }
                        if (!sliced) {
                            links.reverse();
                        }
                        for (i = 0; i < links.length; i++) {
                            if (links[i] === point) {
                                return offset;
                            }
                            if (links.indexOf(links[i]) === i) {
                                offset += links[i].weight;
                            }
                        }
                    };
                    return node;
                }
            })(Highcharts);
            // All filterable options
            const all_parameters = [...new Set(data.map(d => d.Parameter))].sort();
            const all_regions = [...new Set(data.map(d => d.Destination))].sort();

            // Default values
            var parameter = "Continent";

            var container_class = ".migration-wheel",
                initial_data = [];

            var getColor = {
                "Africa": "9",
                "Asia": "17",
                "Europe": "3",
                "Latin America and the Caribbean": "24",
                "Northern America": "30",
                "Oceania": "50",
                "Eastern Africa": "8",
                "Middle Africa": "9",
                "Northern Africa": "10",
                "Southern Africa": "11",
                "Western Africa": "12",
                "Eastern Asia": "15",
                "South-Eastern Asia": "16",
                "Southern Asia": "17",
                "Central Asia": "18",
                "Western Asia": "19",
                "Eastern Europe": "2",
                "Northern Europe": "3",
                "Southern Europe": "4",
                "Western Europe": "5",
                "Caribbean": "22",
                "Central America": "24",
                "South America": "26",
            };

            function get_data() {
                var new_data = [];

                for (let row of data) {
                    if (parameter == row.Parameter) {
                        new_data.push({ from: row.Origin, to: row.Destination, weight: +row.Population, colorIndex: getColor[row.Origin] });
                    }
                }
                return new_data;
            }

            initial_data = get_data();

            var chart = Highcharts.chart('migration_wheel', {
                chart: {
                    styledMode: true,
                    height: '500px'
                },
                title: {
                    text: null
                },
                tooltip: {
                    useHTML: true,
                    headerFormat: '',
                    formatter: function () {
                        var point = this.point;
                        var text = "";
                        if (this.point.formatPrefix == "node") {
                            var region = fCapital(point.name),
                                population = numberFormatter(point.sum);

                            text = "<strong>" + region + "</strong>: " + population;
                        } else {
                            var from = fCapital(point.from),
                                to = fCapital(point.to),
                                population = numberFormatter(point.weight);
                            text = from + " &#8594; " + to + ": " + population;
                        }
                        return '<text>' + text + '</text>';
                    },
                },
                plotOptions: {
                    dependencywheel: {
                        allowPointSelect: true,
                        curveFactor: 0.6,
                        linkOpacity: 0.2,
                        nodePadding: 0,
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    data: initial_data,
                    type: 'dependencywheel',
                    name: 'Migration flow',
                    dataLabels: {
                        enabled: false
                    },
                    size: '95%',
                    nodes: [{
                        id: "Africa",
                        colorIndex: getColor["Africa"],
                    }, {
                        id: "Asia",
                        colorIndex: getColor["Asia"],
                    }, {
                        id: "Europe",
                        colorIndex: getColor["Europe"],
                    }, {
                        id: "Latin America and the Caribbean",
                        colorIndex: getColor["Latin America and the Caribbean"],
                    }, {
                        id: "Northern America",
                        colorIndex: getColor["Northern America"],
                    }, {
                        id: "Oceania",
                        colorIndex: getColor["Oceania"],
                    }, {
                        id: "Eastern Africa",
                        colorIndex: getColor["Eastern Africa"]
                    }, {
                        id: "Middle Africa",
                        colorIndex: getColor["Middle Africa"]
                    }, {
                        id: "Northern Africa",
                        colorIndex: getColor["Northern Africa"]
                    }, {
                        id: "Southern Africa",
                        colorIndex: getColor["Southern Africa"]
                    }, {
                        id: "Western Africa",
                        colorIndex: getColor["Western Africa"]
                    }, {
                        id: "Central Asia",
                        colorIndex: getColor["Central Asia"]
                    }, {
                        id: "Eastern Asia",
                        colorIndex: getColor["Eastern Asia"]
                    }, {
                        id: "Southern Asia",
                        colorIndex: getColor["Southern Asia"]
                    }, {
                        id: "South-Eastern Asia",
                        colorIndex: getColor["South-Eastern Asia"]
                    }, {
                        id: "Western Asia",
                        colorIndex: getColor["Western Asia"]
                    }, {
                        id: "Eastern Europe",
                        colorIndex: getColor["Eastern Europe"]
                    }, {
                        id: "Northern Europe",
                        colorIndex: getColor["Northern Europe"]
                    }, {
                        id: "Southern Europe",
                        colorIndex: getColor["Southern Europe"]
                    }, {
                        id: "Western Europe",
                        colorIndex: getColor["Western Europe"]
                    }, {
                        id: "Caribbean",
                        colorIndex: getColor["Caribbean"]
                    }, {
                        id: "Central America",
                        colorIndex: getColor["Central America"]
                    }, {
                        id: "South America",
                        colorIndex: getColor["South America"]
                    }]
                }],
            });

            // for some reason rearragnes the chart and its prettier
            chart.setSize();
            // Add a legend
            chart_nodes = chart.series[0].nodes;
            chart_points = chart.series[0].data;
            createLegend(chart_points, chart_nodes, container_class);

            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(container_class + " .chart-filters");
            // Create a parameter dropdown
            var parameterName = "wheel-parameter",
                parameterWidth = "150px";
            addDropdown(filters, parameterName, parameterWidth, parameterChange, all_parameters, parameter);

            // Update chart data on parameter change
            function parameterChange() {
                parameter = document.getElementById(parameterName + "-select").value;

                chart.series[0].setData(get_data());
                chart.setSize();

                chart_nodes = chart.series[0].nodes;
                chart_points = chart.series[0].data;
                createLegend(chart_points, chart_nodes, container_class);
            }
        })
        .catch(function (error) {
            console.log(error);
        })



</script>
{% endblock %}