{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<!-- Meta -->
<title>{{ title }} - Navigate Obscurity</title>
<meta name="description" content="{{ abstract }}">
<meta property="og:image"
    content="https://www.navigateobscurity.com/static/worlddata/images/sustainability-social.jpg" />
<meta property="og:title" content="{{ title }} - Navigate Obscurity" />
<meta property="og:url" content="https://www.navigateobscurity.com/data/sustainability" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://www.navigateobscurity.com/data/sustainability" />
<meta name="twitter:title" content="{{ title }} - Navigate Obscurity" />
<meta name="twitter:description" content="{{ abstract }}" />
<meta name="twitter:image"
    content="https://www.navigateobscurity.com/static/worlddata/images/sustainability-social.jpg" />

<!-- We use d3 libraries to load data -->
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>

<!-- We use highcharts for visualizations -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>

<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<script src={% static "worlddata/js/chart-helpers.js" %}></script>

<link rel='stylesheet' type="text/css" href={% static "worlddata/css/highcharts.css" %}>
<link rel='stylesheet' type="text/css" href={% static "worlddata/css/data.css" %}>
{% endblock %}

{% block content %}
<section class="banner-container">
    <h1 class="header-title-banner">{{title}}</h1>
</section>

<section>
    <div class="container limited-width">
        <p>
            Biocapacity here is the ability of earth to provide what humans demand of it in a
            sustainable way. Start by thinking of all the cropland, grazing land,
            fishing grounds and forests needed to extract our food and other essential resources,
            and put them all together. Then add all the land and forests needed to absorb
            all our waste and carbon emissions. Lastly, add all the space humanity takes up
            for our infrastructure, cities etc. All that, provided in a manner that is renewable,
            makes up earth’s biocapacity. The average biocapacity per person on the planet is
            1.7 global hectares. This is our personal budget for all our needs.
        </p>
        <p>
            A global hectare (gha) is a productivity weighted measurement of space. So a gha of cropland takes up less
            space than a gha of pasture land, according to their difference in productivity. This allows us to have a
            single unit of measurement for diverse environmental resources, and more importantly, of the environmental
            impact of our consumption habits.
        </p>
        <p>
            The environmental footprint of consumption is therefore measured in the global hectares needed for those
            activities. When the footprint exceeds biocapacity, production is not sustainable and we have an
            environmental deficit. On a national level, biocapacity could be imported via trade. But on an international
            level, a deficit translates to environmental assets being depleted (think of fisheries, forests etc) and /
            or waste being emitted (land, sea and atmosphere). The total ecological footprint of humanity is 2.8 gha per
            person. In our current consumption levels, we need 1.7 earths to sustain us.
        </p>
        <p>
            For more information and great visualisations, visit the <a
                href="http://data.footprintnetwork.org/#/">Global Footprint Network</a>.
        </p>
    </div>
    <figure>
        <div class="container chart-container sustain-map filters-on-top">
            <div class="chart-options chart-options-map" style="max-width:100%">
                <div class="chart-filters"></div>
            </div>
            <div id="sustain_map" class="map" style="width:100%;"></div>
        </div>
    </figure>
    <div class="source-text">
        <p>
            *Source:
            <a href="http://data.footprintnetwork.org/#/">Global Footprint Network. </a>
            National Footprint Accounts, 2018 Edition. Downloaded 25/11/2018.
        </p>
    </div>
    <div class="container limited-width">
        <p>
            Below you can see a breakdown of the different types of consumption or biocapacity as well as historical
            data for each country. 
        </p>
    </div>
    <figure>
        <div class="container chart-container sustain-area filters-on-top">
            <div class="chart-options" style="max-width:100%">
                <div class="chart-filters"></div>
            </div>
            <div id="sustain_area" clas="scatter" style="width:100%;"></div>
            <div class="chart-options" style="max-width:100%">
                <div class="chart-legend"></div>
            </div>
        </div>
    </figure>

    <div class="source-text">
        <p>
            *Source:
            <a href="http://data.footprintnetwork.org/#/">Global Footprint Network. </a>
            National Footprint Accounts, 2018 Edition. Downloaded 25/11/2018.
        </p>
    </div>
</section>
<section>
    <div class="container">
        <hr>
        <div class="comment-container">
            {% for comment in comments %}
            {% if comment.approved_comment %}
            <div class="comment-author">{{ comment.author }}</div>
            <div class="comment-date">{{ comment.created_date }}</div>
            {{ comment.message|linebreaks }}
            {% endif %}
            {% empty %}
            <p>No comments here yet :(</p>
            {% endfor %}
        </div>
        <hr>
        <div class="comment-form-container">
            <h3>Leave a comment</h3>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{comment_form.author}}
                </div>
                <div>
                    {{ comment_form.message }}
                </div>
                <div>
                    <button class="button" type="submit" formmethod="post">Post comment</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    var static_url = "{% get_static_prefix %}";
    file_sustain_map = "worlddata/csv/sustainability-map.csv";
    sustain_map_path = static_url + file_sustain_map;
    file_sustain_area = "worlddata/csv/sustainability-area.csv";
    sustain_area_path = static_url + file_sustain_area;

    var sustainabilityMap = d3.csv(sustain_map_path)
        .then(function (data) {
            // All filterable options
            const all_measures = [...new Set(data.map(d => d.Measure))].sort()
            const all_areas = [...new Set(data.map(d => d.Area))].sort()
            const all_incomes = [...new Set(data.map(d => d.IncomeGroup))].sort()

            // Remove empty value and add an All option for the filter
            all_incomes.splice(0, 1);
            all_incomes.unshift("All");

            // Default values
            var measure = "Ecological deficit or reserve",
                area = "Total",
                income = "All";

            var container_class = ".sustain-map";
            var initial_data = [];

            function get_data() {
                var new_data = [];
                for (let row of data) {
                    if (income == "All") {
                        if (row.Measure == measure && row.Area == area) {
                            new_data.push({ country: getCountryCode(row.Country), value: +row.Value });
                        }
                    } else {
                        if (row.Measure == measure && row.Area == area && row.IncomeGroup == income) {
                            new_data.push({ country: getCountryCode(row.Country), value: +row.Value });
                        }
                    }
                }
                return new_data;
            }

            intial_data = get_data();

            // Initiate the chart
            var chart = Highcharts.mapChart('sustain_map', {
                chart: {
                    styledMode: true,
                    height: 500
                },
                title: {
                    text: null
                },
                mapNavigation: {
                    enabled: true,
                    enableMouseWheelZoom: false,
                    enableButtons: true,
                },
                colorAxis: {
                    tickInterval: 2.5,
                    max: 5,
                    min: -5,
                    stops: [
                        [0, '#FF4136'],
                        [0.35, '#FFDC00'],
                        [0.5, '#DDDDDD'],
                        [0.65, '#2ECC40'],
                        [0.95, '#0074D9']
                    ],
                },
                tooltip: {
                    formatter: function () {
                        var title = fCapital(this.key);
                        var value = numberFormatterPercentage(this.point.value);
                        var text = "";
                        if (measure == "Biocapacity") {
                            text = value + " gha per person <br>With a global average of " + getBiocapacityAverage[area];
                        } else if (measure == "Ecological deficit or reserve") {
                            if (value > 0) {
                                text = value + " gha per person reserve (more biocapacity than consumption) <br>With a global average of " + getReserveAverage[area];
                            } else {
                                text = value + " gha per person deficit (more consumption than biocapacity) <br>With a global average of " + getReserveAverage[area];
                            }
                        } else if (measure == "Ecological footprint of consumption") {
                            text = value + " gha per person <br>With a global average of " + getConsumptionAverage[area];
                        }
                        return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>' + text + '</text>';
                    },
                    useHTML: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    mapData: Highcharts.maps['custom/world'],
                    data: intial_data,
                    joinBy: ['iso-a3', 'country'], // first var: type of geographical data, second: data column name
                }]
            });

            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(container_class + " .chart-filters");


            // Create a measure dropdown
            var measureName = "map-measure",
                measureWidth = "320px";
            addDropdown(filters, measureName, measureWidth, measureChange, all_measures, measure);

            // Update chart data on measure change
            function measureChange() {
                measure = document.getElementById(measureName + "-select").value;
                updateColorOrder();
                updateColorStops();
                chart.series[0].setData(get_data());
            }

            // Create a area dropdown
            var areaName = "map-area",
                areaWidth = "170px";
            addDropdown(filters, areaName, areaWidth, areaChange, all_areas, area);

            // Update chart data on area change
            function areaChange() {
                area = document.getElementById(areaName + "-select").value;
                updateColorStops();
                chart.series[0].setData(get_data());
            }

            // Create a income dropdown
            var incomeName = "map-income",
                incomeWidth = "50px";
            addDropdown(filters, incomeName, incomeWidth, incomeChange, all_incomes, income);

            // Update chart data on income change
            function incomeChange() {
                income = document.getElementById(incomeName + "-select").value;
                updateColorStops();
                chart.series[0].setData(get_data());
            }

            // To reverse color coding for biocapacity where larger numbers are better
            function updateColorOrder() {
                if (measure == "Biocapacity") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#FF4136'],
                            [0.35, '#FFDC00'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#2ECC40'],
                            [0.95, '#0074D9']
                        ],
                    }, false)
                } else if (measure == "Ecological deficit or reserve") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#FF4136'],
                            [0.35, '#FFDC00'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#2ECC40'],
                            [0.95, '#0074D9']
                        ],
                    }, false)
                } else if (measure == "Ecological footprint of consumption") {
                    chart.colorAxis[0].update({
                        stops: [
                            [0, '#0074D9'],
                            [0.35, '#2ECC40'],
                            [0.5, '#DDDDDD'],
                            [0.65, '#FFDC00'],
                            [0.95, '#FF4136']
                        ],
                    }, false)
                }
            }

            // To better centre and distribute colors. Max is always double the average value.
            function updateColorStops() {

                if (measure == "Biocapacity") {
                    if (area == "Total") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.7,
                            max: 3.4,
                            min: 0,
                        }, false)
                    } else if (area == "Built up land") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.04,
                            max: 0.12,
                            min: 0,
                        }, false)
                    } else if (area == "Cropland") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.4,
                            max: 1.2,
                            min: 0,
                        }, false)
                    } else if (area == "Fishing grounds") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.1,
                            max: 0.3,
                            min: 0,
                        }, false)
                    } else if (area == "Forest") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.35,
                            max: 1.4,
                            min: 0,
                        }, false)
                    } else if (area == "Grazing land") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.1,
                            max: 0.4,
                            min: 0,
                        }, false)
                    }
                } else if (measure == "Ecological deficit or reserve") {
                    if (area == "Total") {
                        chart.colorAxis[0].update({
                            tickInterval: 2.5,
                            max: 5,
                            min: -5,
                        }, false)
                    } else if (area == "Built up land") {
                    } else if (area == "Cropland") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.5,
                            max: 1,
                            min: -1,
                        }, false)
                    } else if (area == "Fishing grounds") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.5,
                            max: 1,
                            min: -1,
                        }, false)
                    } else if (area == "Forest") {
                        chart.colorAxis[0].update({
                            tickInterval: 2.5,
                            max: 5,
                            min: -5,
                        }, false)
                    } else if (area == "Grazing land") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.5,
                            max: 1,
                            min: -1,
                        }, false)
                    }
                } else if (measure == "Ecological footprint of consumption") {
                    if (area == "Total") {
                        chart.colorAxis[0].update({
                            tickInterval: 1.4,
                            max: 5.6,
                            min: 0,
                        }, false)
                    } else if (area == "Built up land") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.04,
                            max: 0.12,
                            min: 0,
                        }, false)
                    } else if (area == "Cropland") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.30,
                            max: 1.2,
                            min: 0,
                        }, false)
                    } else if (area == "Fishing grounds") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.05,
                            max: 0.2,
                            min: 0,
                        }, false)
                    } else if (area == "Forest") {
                        chart.colorAxis[0].update({
                            tickInterval: 1,
                            max: 4,
                            min: 0,
                        }, false)
                    } else if (area == "Grazing land") {
                        chart.colorAxis[0].update({
                            tickInterval: 0.1,
                            max: 0.3,
                            min: 0,
                        }, false)
                    }
                }
            }
            var getBiocapacityAverage = {
                'Total': '1.68',
                'Built up land': '0.06',
                'Cropland': '0.55',
                'Fishing grounds': '0.15',
                'Forest': '0.70',
                'Grazing land': '0.2'
            }
            var getReserveAverage = {
                'Total': '-1.15',
                'Built up land': '0',
                'Cropland': '0',
                'Fishing grounds': '0.06',
                'Forest': '-1.28',
                'Grazing land': '0.06'
            }
            var getConsumptionAverage = {
                'Total': '2.84',
                'Built up land': '0.06',
                'Cropland': '0.55',
                'Fishing grounds': '0.09',
                'Forest': '1.99',
                'Grazing land': '0.14'
            }
        })


        .catch(function (error) {
            console.log(error);
        })

    var sustainabilityArea = d3.csv(sustain_area_path)
        .then(function (data) {
            // All filterable options
            const all_measures = [...new Set(data.map(d => d.record))].sort()
            const all_countries = [...new Set(data.map(d => d.country))].sort()

            const all_years = [...new Set(data.map(d => d.year))].sort()
            const all_areas = ["Built up land", "Crop land", "Fishing grounds", "Forest land", "Grazing land"];

            // Default values
            var measure = "Footprint of Consumption",
                country = "World";

            var container_class = ".sustain-area";
            var initial_data = [];

            function getBlankData() {
                return [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
            }

            var getColor = {
                "Built up land": "8",
                "Crop land": "5",
                "Fishing grounds": "0",
                "Forest land": "4",
                "Grazing land": "3"
            };

            function get_data() {
                var new_data = [];
                // First we create the structure by getting each area, setting a color and providing empty data for it
                for (let area of all_areas) {
                    new_data.push({ id: area, name: area, data: getBlankData(), colorIndex: getColor[area] })
                }
                for (let row of data) {
                    if (row.record == measure && row.country == country) {
                        //var area_index = new_data.findIndex(x => x.name == row.cause);
                        var year_index = all_years.findIndex(x => x == row.year);

                        new_data[0].data[year_index] = +row.built_up_land;
                        new_data[1].data[year_index] = +row.crop_land;
                        new_data[2].data[year_index] = +row.fishing_ground;
                        new_data[3].data[year_index] = +row.forest_land;
                        new_data[4].data[year_index] = +row.grazing_land;
                    }
                }
                return new_data;
            }

            initial_data = get_data();

            var chart = Highcharts.chart('sustain_area', {
                chart: {
                    type: 'area',
                    styledMode: true,
                    height: 500
                },
                title: {
                    text: null
                },
                xAxis: {
                    categories: all_years,
                    tickInterval: 5,
                    title: {
                        enabled: false
                    }
                },
                yAxis: {
                    title: {
                        text: 'Global Hectares (gha)'
                    },
                },
                tooltip: {
                    split: false,
                    valueSuffix: ' millions'
                },
                plotOptions: {
                    area: {
                        stacking: 'normal',
                        findNearestPointBy: 'xy',
                        fillOpacity: 0.8,
                        marker: {
                            enabled: false,

                        },
                        trackByArea: true
                    },
                },
                tooltip: {
                    formatter: function () {
                        var title = fCapital(this.key);
                        var value = numberFormatterPercentage(this.y);
                        var area = fCapital(this.series.name);

                        return '<text><span style="font-size: 1.1em"><strong>' + title + '</strong></span><br>' + area + ": " + value + ' gha</text>';
                    },
                    useHTML: true
                },
                series: initial_data,
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                }
            });

            chart_points = chart.series;
            var legend = createLegend(chart_points, chart_points, container_class);
            // Dropdowns
            // Define dropdown container
            var filters = document.querySelector(container_class + " .chart-filters");

            // Create a measure dropdown
            var measureName = "area-measure",
                measureWidth = "320px";
            addDropdown(filters, measureName, measureWidth, measureChange, all_measures, measure);

            // Update chart data on measure change
            function measureChange() {
                measure = document.getElementById(measureName + "-select").value;

                var loops = chart.series.length;
                var updated_data = get_data();

                chart.series[0].setVisible(false);
                // First empty the existing data
                for (var i = 0; i < loops; i++) {
                    chart.series[0].remove(false);
                }
                // Then add the updated data
                for (var i = 0; i < updated_data.length; i++) {
                    chart.addSeries(updated_data[i], false);
                }
                chart.series[0].setVisible(true, true);
            }

            // Create a country dropdown
            var countryName = "area-country",
                countryWidth = "320px";
            addDropdown(filters, countryName, countryWidth, countryChange, all_countries, country);


            // Update chart data on country change
            function countryChange() {
                country = document.getElementById(countryName + "-select").value;

                var loops = chart.series.length;
                var updated_data = get_data();

                // First empty the existing data
                for (var i = 0; i < loops; i++) {
                    chart.series[0].remove(false);
                }
                // Then add the updated data
                for (var i = 0; i < updated_data.length; i++) {
                    chart.addSeries(updated_data[i], false);
                }
                chart.redraw();
            }
        })

        .catch(function (error) {
            console.log(error);
        })

</script>

{% endblock %}