{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<section class="banner-container">
    <h1 class="header-title-banner">About</h1>
</section>

<section>
    <div class="container limited-width">

        <p>This is a personal website. All views expressed are strictly my own. </p>

        <p>The purpose of the website is to allow me to explore various ideas and themes both in a conceptual and in a
            technical manner. </p>

        <p>If you want to contact me for any reason, please email me at hector@navigateobscurity.com. Feedback is very
            welcome.</p>

        <h4 style="margin-top:100px;">Credits</h4>

        <p>Credit for the data sources is given on a per visualisation basis.</p>

        <p>All visualisations under Data are done using <a href="https://www.highcharts.com/"
                target="_blank">highcharts.js</a>.</p>

        <p>All visualisations under Notes are done using <a href="http://sigmajs.org/" target="_blank">sigma.js</a>. The
            concept and
            functionality have pretty much been
            copied from the excellent work done in <a href="https://noduslabs.com/infranodus/"
                target="_blank">infranodus</a> (the code
            however has been written from scratch).</p>

        <p>The colour palette I am using for the data visualisations is based and developed from the <a
                href="https://clrs.cc/" target="_blank">clrs.cc</a>palette.</p>

        <p>Icons are provided by <a href="https://icons8.com/" target="_blank">Icons8</a>.</p>

        <p>Please let me know if any of the attributions are not to your liking.</p>
    </div>
</section>

{% endblock %}