{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}
<link rel='stylesheet' type="text/css" href={% static "main/css/home.css" %}>
{% endblock %}

{% block content %}
<!-- Hero -->
<section class="header-container" title="walking on desert">
  <h1 class="header-title-main">Life is full of obscurities. Don't demystify life. Navigate it.</h1>
</section>

<!-- Data section -->
<section class="container data-container">
  <div class="data-hexagons">
    <ul id="hexagon-grid">
      {% for page in data_pages %}
      <li class="hexagon-data">
        <div class="hexagon-item">
          <a class="hexagon-link-main" href="{% url 'worlddata:'|add:page.slug %}">
            <img src={{page.icon.url}} alt={{page.title}}>
            <h3>{{page.title}}</h3>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="data-text v-align">
    <div>
      <p>Too often, I realise how little I know about this world. I am not talking about details, I am talking about
        the big picture. The kind of things you would expect to cover on an Earth 101 course in an alien university.
        So, I look for reasonably well sourced data and visualise them hoping to aid my perspective on life on Earth.
      </p>
      <a class="button" href="{% url 'worlddata:index' %}">Browse all data</a>
    </div>
  </div>
</section>

<!-- Notes sections -->
<section class="container notes-container">
  <div>
    <ul id="hexagon-grid">
      <li class="hexagon-notes">
        <div class="hexagon-item">
          <a class="hexagon-link-main" href="#">
            <img class="hexagon-img-note" src={% static 'main/images/head strong.jpg' alt='head strong' %}>
            <h3>Head strong</h3>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="v-align">
    <div>
      <p>I read books and then I forget about them. So I take notes. But then I never go through the notes again. So I
        am trying to find nicer ways to revisit notes and themes from books in a more engaging and non linear way.</p>
      <button>Browse all notes</button>
    </div>
  </div>
</section>

{% endblock %}