@import 'variables';
@import 'mixins';
@import 'parents';

.header-container { 
  height: 100vh;
  background-image: url(../images/header.jpg);
  @extend  %container-image;
}
.header-title-main {
  bottom: 5vh;
  left: $base-margin;
  @extend %header-title;
}
.data-container {
  @include displayGrid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  
  @media (min-width: $mobile-breakpoint) {
    grid-template-columns: 1fr 1fr; 
  }
}
.data-hexagons {
  @media (min-width: $mobile-breakpoint) {
    grid-column-start: 2;
  }
}
.data-text {
  @media (min-width: $mobile-breakpoint) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
.notes-container {
  @include displayGrid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  
  @media (min-width: $mobile-breakpoint) {
    grid-template-columns: 1fr 1fr; 
  }
}


