@import 'variables';
@import 'mixins';
@import 'parents';

@import 'navbar';
@import 'hexagons';

body {
    font: 100% $main-font;
    margin:0;
    height: 100%;
}
 html {
  height: 100%;
}
.header-container { 
  height: 100%;
  background-image: url(../images/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  @include background-size(cover); 
}
.header-title-main {
  position: absolute;
  bottom:50px;
  left:50px;
  padding-left: 10px;
  border-left: 5px solid $bright-blue;
  color: $bright-blue;
  font-size: 130%;
  font-weight: 500;
  letter-spacing: 2px;
  z-index:10;
}
.footer-container {
  position: relative;
  height: 500px;
  background-image: url(../images/footer2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  @include background-size(cover); 
}
.footer-title {
  position: absolute;
  bottom:50px;
  left:50px;
  padding-left: 10px;
  border-left: 5px solid $bright-blue;
  color: $darker-grey;
  font-size: 150%;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
}
.bottom-bar {
  background-color: black;
  height: 20px;
  margin:0;
  padding:5px;
  p {
    margin:0;
    color: $almost-white;
    text-align: center;
    font-size: 80%;
  }
}
.data-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  padding:50px;
  background-color: $dark-grey;
  color: $almost-white;
  
  @media (min-width: $mobile-breakpoint) {
    grid-template-columns: 1fr 1fr; 
    @media (min-width: $tablet-breakpoint) {
      grid-template-columns: 2fr 1fr; 
      @media (min-width: $desktop-breakpoint) {
        grid-template-columns: 1fr 1fr; 
      }
    }
  }
}
.data-hexagons {
  @media (min-width: $mobile-breakpoint) {
    grid-column-start: 2;
  }
}
.data-text {
  @media (min-width: $mobile-breakpoint) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
.notes-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  padding:50px;
  background-color: $dark-grey;
  color: $almost-white;
  
  @media (min-width: $mobile-breakpoint) {
    grid-template-columns: 1fr 1fr; 
    @media (min-width: $tablet-breakpoint) {
      grid-template-columns: 1fr 2fr; 
      @media (min-width: $desktop-breakpoint) {
        grid-template-columns: 1fr 1fr; 
      }
    }
  }
}
button {
  @extend %gradient-transition-main;
  display: inline-block;
  position: relative;
  padding: 20px;
  margin: 0;
  margin-top: 20px;
  border-radius: 35px;
  border: 0.0001px solid $dark-grey;
  transition: background-image 0.5s ease;
  background-image: linear-gradient(to top right, $dark-grey 0%,$bright-blue 60%);
  color: $darker-grey;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
button::before {
  @extend %gradient-transition-before;
  background-image: linear-gradient(to top right, rgba(255,0,0,0) 0%, $orange 60%);
  border: 0.0001px solid $dark-grey;
  border-radius: 35px;
}
button:hover::before {
  @extend %gradient-transition-hover;
}

// Utility

.height-full {
  max-height: 100vh;
  max-width: 100%;
}
.image-center-cover {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
}
.v-align {
  display:flex;
  align-items: center;
}

