@import 'variables';
@import 'mixins';
@import 'parents';

@import 'navbar';
@import 'hexagons';


body {
    font: 100% $main-font;
    margin:0;
    height: 100%;
}

 html {
  height: 100%;
}

.header-container { 
  height: 100%;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  @include background-size(cover); 
}
.header-title-main {
  
  position: absolute;
  bottom:50px;
  left:50px;
  padding-left: 10px;
  border-left: 5px solid $bright-blue;
  color: $bright-blue;
  font-size: 130%;
  font-weight: 500;
  letter-spacing: 2px;
  z-index:10;
}
.data-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  padding:50px;
  background-color: $dark-grey;
  color: $almost-white;
}
button {
  @extend %gradient-transition-main;
  display: inline-block;
  position: relative;
  padding: 20px;
  margin: 0;
  margin-top: 20px;
  border-radius: 35px;
  border: 0.0001px solid $dark-grey;
  transition: background-image 0.5s ease;
  background-image: linear-gradient(to top right, $dark-grey 0%,$bright-blue 60%);
  color: $dark-grey;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
button::before {
  @extend %gradient-transition-before;
  background-image: linear-gradient(to top right, rgba(255,0,0,0) 0%, $orange 60%);
  border: 0.0001px solid $dark-grey;
  border-radius: 35px;
}
button:hover::before {
  @extend %gradient-transition-hover;
}

// Utility

.height-full {
  max-height: 100vh;
  max-width: 100%;
}
.image-center-cover {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
}

.v-align {
  display:flex;
  align-items: center;
}

@media (min-width: 1025px) {
  .data-container {
    grid-template-columns: 1fr 1fr; 
  }
}
@media (min-width: 850px) and (max-width:1024px) {
  .data-container {
    grid-template-columns: 2fr 1fr; 
  }
}
@media (min-width: 768px) and (max-width:849px) {
  .data-container {
    grid-template-columns: 1fr 1fr; 
  }
}



