@import "variables";
@import "mixins";
@import "parents";

@import "normalise";
@import "navbar";
@import "footer";
@import "hexagons";

html {
  height: 100%;
}
body {
  font: 100% $main-font;
  margin: 0;
  height: 100%;
  background-color: $dark-grey;
  color: $almost-white;
}
input {
  font: 100% $main-font;
  background-color: $dark-grey;
  color: $almost-white;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px $dark-grey inset;
    -webkit-text-fill-color: $almost-white;
  }
  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px $dark-grey inset;
    -webkit-text-fill-color: $almost-white;
  }
}
textarea {
  background-color: $dark-grey;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  height: 150px;
  border-width: 2px;
  border-color: $almost-white;
  border-radius: 5px;
  font: 100% $main-font;
  color: $almost-white;
}
.button {
  @extend %gradient-transition-main;
  display: inline-block;
  position: relative;
  padding: 15px;
  margin: 0;
  margin-top: 20px;
  border: none;
  border-radius: 35px;
  box-shadow: 1px 1px 8px $navbar-color;
  transition: background-image 0.5s ease;
  background-image: linear-gradient(to top right, $dark-grey 0%, $bright-blue 60%);
  cursor: pointer;
  color: $darker-grey;
  font-size: 110%;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.05em;
  &:before {
    @extend %gradient-transition-before;
    background-image: linear-gradient(to top right, rgba(255, 0, 0, 0) 0%, $orange 60%);
    border-radius: 35px;
  }
  &:hover {
    box-shadow: 3px 3px 12px 5px $navbar-color;
    &:before {
      @extend %gradient-transition-hover;
    }
  }
}
a {
  color: $bright-blue;
}
h3 {
  color: $bright-blue;
  font-size: 150%;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
}
h4 {
  font-size: 110%;
}
hr {
  width: 94%;
  margin-top: 50px;
  margin-bottom: 20px;
  border-width: 1px;
  border-color: $bright-blue;
  @media (min-width: $mobile-breakpoint) {
    width: 80%;
    @media (min-width: $desktop-breakpoint) {
      width: 70%;
    }
  }
}
.container {
  padding: 20px;
  @media (min-width: $desktop-breakpoint) {
    padding: 20px 50px;
  }
}
.banner-container {
  height: 50vh;
  background-image: url(../images/banner.jpg);
  @extend %container-image;
}
.header-title-banner {
  top: 35vh;
  left: 20px;
  @extend %header-title;
  @media (min-width: $mobile-breakpoint) {
    left: 50px;
  }
}
.comment-container {
  padding: 0 3%;
  p {
    margin-left: 20px;
  }
  @media (min-width: $mobile-breakpoint) {
    padding: 0 10%;
    @media (min-width: $desktop-breakpoint) {
      padding: 0 15%;
    }
  }
}
.comment-author {
  font-weight: 700;
  font-size: 120%;
}
.comment-date {
  font-size: 80%;
}
.comment-form-container {
  padding: 0 3%;
  color: $almost-white;
  #id_author {
    background-color: $dark-grey;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    border-width: 2px;
    border-color: $almost-white;
    border-radius: 5px;
    @media (min-width: $mobile-breakpoint) {
      width: 50%;
      @media (min-width: $desktop-breakpoint) {
        width: 30%;
      }
    }
  }
  @media (min-width: $mobile-breakpoint) {
    padding: 0 10%;
    @media (min-width: $desktop-breakpoint) {
      padding: 0 15%;
    }
  }
}
.two-column-text {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $mobile-breakpoint) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}

// Utility

.height-full {
  max-height: 100vh;
  max-width: 100%;
}
.image-center-cover {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
}
.v-align {
  display: flex;
  align-items: center;
}
.limited-width {
  @media (min-width: $desktop-breakpoint) {
    padding-right: 30%;
  }
}

.source-text {
  text-align: right;
  font-size: 80%;
  padding: 0 10px;
  align-self: flex-end;
  p {
    margin: 0;
  }
  a {
    color: $bright-blue;
  }
  @media (min-width: $tablet-breakpoint) {
    margin-left: 30%;
  }
}

.error404 {
  text-align: center;
  img {
    height: 200px;
  }
}

.hide {
  display: none;
}
