@mixin background-size($property) {
    -webkit-background-size: $property;
    -moz-background-size: $property;
    -o-background-size: $property;
    background-size: $property;
  }
  @mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }
  