$blue: #216a91;
$orange: #d66808;
$bright-blue: #2f98d0;
$almost-white: #dffcff;
$light-grey: hsl(180, 10%, 65%);
$dark-grey: #2e3838;
$dark-grey-opacity: rgba(46, 56, 56, 0.8);
$darker-grey: #222a2a;
$blue-shade-1: linear-gradient(to top right, #fbc99d, #539dc6);
$blue-shade-2: linear-gradient(to top right, #59acd9, #3984ac);
$blue-shade-3: linear-gradient(to top right, #2f98d0, #2d6786);
$blue-shade-4: linear-gradient(to top right, #277daa, #204960);
$blue-shade-5: linear-gradient(to top right, #216a91, #132c39);
$navbar-color: rgba(23, 28, 28, 0.9);
$main-font: 
// Noto Sans, sans-serif;
//  'Varela', sans-serif;
//  'Varela Round', sans-serif;
// 'Source Sans Pro', sans-serif;
// 'Ubuntu', sans-serif;
'Poppins', Helvetica, sans-serif;
// 'Roboto', sans-serif;
// 'Yantramanav', sans-serif;
// 'Vollkorn', serif;
// 'Hepta Slab', serif;
// 'Noto Sans TC', sans-serif;
// 'Comfortaa', cursive;
$nav-height: 40px;
$nav-padding: 50px;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 850px;
$desktop-breakpoint: 1025px;