@import "../../../../main/static/main/scss/variables.scss";
@import "../../../../main/static/main/scss/mixins.scss";
@import "../../../../main/static/main/scss/parents.scss";
h2 {
    font-size: clamp(1.1rem, 3vw, 1.8rem);
    font-weight: 600;
}
.spacer {
    height: clamp(0px, 3vw, 60px);
}
.stat-container{
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  
  @media only screen and (min-width: $mobile-breakpoint) {
    flex-direction: row;
  }

  .stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
  }
  .stat-icon{
    height: 60px;
    width: 60px;
  }
  .stat-label{
    padding:10px;
    font-size: clamp(1.1rem, 2.5vw, 1.7rem);
    font-weight: 600;
  } 
}
.map-section-container {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: $mobile-breakpoint) {
        flex-direction: row;
    }
    .map-container {
        position: relative;
        width: clamp(50px, 100%, 1000px);
    }
    .map-legend{
        padding-left: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
        @media only screen and (min-width: $mobile-breakpoint) {
            flex-direction: column;
            width:250px;
        }
        
        .legend-item {
            cursor: pointer;
            @media only screen and (min-width: $mobile-breakpoint) {
                padding-bottom: 15px;
            }
        }
    }
    .main-map {
        width: 100%;
    }
    .map-overlay{
        width:100%;
        position: absolute;
        top:0;
        left:0;
    }
    .unhovered, .unselected {
        opacity: 0.4;
    }
    
    .coltaine .legend-dot{
        background-color: #cc1919;
    }
    .felisin .legend-dot{
        background-color: #cc6d00;
    }
    .fiddler .legend-dot{
        background-color: #00294d;
    }
    .kalam .legend-dot{
        background-color: #006dcc;
    }
    .gesler .legend-dot{
        background-color: #1fad1f;
    }
    .icarium .legend-dot{
        background-color: #cf1791;
    }
}

.bubbles {
  /* Define gradients */
  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    .highcharts-color-#{$i - 1} {
      stroke: none;
      &.highcharts-series.highcharts-area-series,
      &.highcharts-point:not(.highcharts-node) {
        fill: url("#gradient-area-#{$i - 1}");
      }
    }
  }
}


