.hexagon-link-main {
  z-index: 1;
}

.hexagon-link-main:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.hexagon-link-main:hover:before {
  opacity: 1;
}

.header-container {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-title-main {
  position: absolute;
  padding-left: 10px;
  border-left: 5px solid #277daa;
  color: #277daa;
  font-size: 130%;
  font-weight: 500;
  letter-spacing: 2px;
  z-index: 10;
}

#hexagon-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  margin: 0 auto;
  padding-bottom: 8.4%;
  padding-inline-start: 0;
  list-style-type: none;
  overflow: hidden;
}

@media (min-width: 768px) {
  #hexagon-grid {
    /* <- 2-1  hexagons per row */
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 12.2%;
    grid-gap: 10px;
  }
}

@media (min-width: 768px) and (min-width: 1025px) {
  #hexagon-grid {
    /* <- 2-3  hexagons per row */
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 8.4%;
  }
}

#hexagon-grid-data-index {
  margin: 0 auto;
  padding-bottom: 28.4%;
  padding-inline-start: 0;
  list-style-type: none;
  overflow: hidden;
  max-width: 150px;
}

.hexagon-data, .hexagon-notes, .hexagon-data-index {
  grid-column-end: span 2;
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hexagon-data img, .hexagon-notes img, .hexagon-data-index img {
  left: -100%;
  right: -100%;
  width: auto;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.hexagon-data h3, .hexagon-notes h3, .hexagon-data-index h3 {
  width: 100%;
  margin: 0;
  overflow-wrap: break-word;
  font-size: 2.8vw;
  color: #222a2a;
}

@media (min-width: 768px) {
  .hexagon-data h3, .hexagon-notes h3, .hexagon-data-index h3 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (min-width: 850px) {
  .hexagon-data h3, .hexagon-notes h3, .hexagon-data-index h3 {
    font-size: 1.5vw;
  }
}

@media (min-width: 768px) and (min-width: 850px) and (min-width: 1025px) {
  .hexagon-data h3, .hexagon-notes h3, .hexagon-data-index h3 {
    display: none;
  }
}

.hexagon-data:after, .hexagon-notes:after, .hexagon-data-index:after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
  /* =  100 / tan(60) * 1.5 */
}

.hexagon-data:nth-child(5n+1) .hexagon-link-main, .hexagon-notes:nth-child(5n+1) .hexagon-link-main, .hexagon-data-index:nth-child(5n+1) .hexagon-link-main {
  background-image: linear-gradient(to top right, #59acd9, #3984ac);
}

.hexagon-data:nth-child(5n+2) .hexagon-link-main, .hexagon-notes:nth-child(5n+2) .hexagon-link-main, .hexagon-data-index:nth-child(5n+2) .hexagon-link-main {
  background-image: linear-gradient(to top right, #277daa, #204960);
}

.hexagon-data:nth-child(5n+3) .hexagon-link-main, .hexagon-notes:nth-child(5n+3) .hexagon-link-main, .hexagon-data-index:nth-child(5n+3) .hexagon-link-main {
  background-image: linear-gradient(to top right, #fbc99d, #539dc6);
}

.hexagon-data:nth-child(5n+4) .hexagon-link-main, .hexagon-notes:nth-child(5n+4) .hexagon-link-main, .hexagon-data-index:nth-child(5n+4) .hexagon-link-main {
  background-image: linear-gradient(to top right, #2f98d0, #2d6786);
}

.hexagon-data:nth-child(5n+5) .hexagon-link-main, .hexagon-notes:nth-child(5n+5) .hexagon-link-main, .hexagon-data-index:nth-child(5n+5) .hexagon-link-main {
  background-image: linear-gradient(to top right, #216a91, #132c39);
}

@media (min-width: 1025px) {
  .hexagon-data, .hexagon-notes, .hexagon-data-index {
    /* <- 2-3  hexagons per row */
  }
  .hexagon-data:nth-child(5n+1), .hexagon-notes:nth-child(5n+1), .hexagon-data-index:nth-child(5n+1) {
    /* first hexagon of odd rows */
    grid-column-start: 2;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hexagon-data, .hexagon-notes, .hexagon-data-index {
    /* <- 2-1  hexagons per row */
  }
  .hexagon-data:nth-child(3n+3), .hexagon-notes:nth-child(3n+3), .hexagon-data-index:nth-child(3n+3) {
    /* first hexagon of even rows */
    grid-column-start: 2;
  }
  .hexagon-data:nth-child(5n+1) .hexagon-link-main, .hexagon-notes:nth-child(5n+1) .hexagon-link-main, .hexagon-data-index:nth-child(5n+1) .hexagon-link-main {
    background-image: linear-gradient(to top right, #fbc99d, #539dc6);
  }
  .hexagon-data:nth-child(5n+2) .hexagon-link-main, .hexagon-notes:nth-child(5n+2) .hexagon-link-main, .hexagon-data-index:nth-child(5n+2) .hexagon-link-main {
    background-image: linear-gradient(to top right, #59acd9, #3984ac);
  }
  .hexagon-data:nth-child(5n+3) .hexagon-link-main, .hexagon-notes:nth-child(5n+3) .hexagon-link-main, .hexagon-data-index:nth-child(5n+3) .hexagon-link-main {
    background-image: linear-gradient(to top right, #2f98d0, #2d6786);
  }
  .hexagon-data:nth-child(5n+4) .hexagon-link-main, .hexagon-notes:nth-child(5n+4) .hexagon-link-main, .hexagon-data-index:nth-child(5n+4) .hexagon-link-main {
    background-image: linear-gradient(to top right, #277daa, #204960);
  }
  .hexagon-data:nth-child(5n+5) .hexagon-link-main, .hexagon-notes:nth-child(5n+5) .hexagon-link-main, .hexagon-data-index:nth-child(5n+5) .hexagon-link-main {
    background-image: linear-gradient(to top right, #216a91, #132c39);
  }
}

@media (max-width: 767px) {
  .hexagon-data:nth-child(5n+1), .hexagon-notes:nth-child(5n+1), .hexagon-data-index:nth-child(5n+1) {
    /* first hexagon of odd rows */
    grid-column-start: 2;
  }
}

.hexagon-data img {
  display: none;
}

@media (min-width: 1025px) {
  .hexagon-data img {
    display: block;
  }
}

.hexagon-notes h3 {
  display: none;
}

.hexagon-data-index img {
  height: 60%;
}

.hexagon-item {
  visibility: hidden;
  position: absolute;
  width: 100%;
  padding-bottom: 115.470%;
  /* =  width / sin(60) */
  overflow: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}

.hexagon-item * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hexagon-link-main, .hexagon-link-single {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
}

.hexagon-link-main:before {
  background-image: linear-gradient(to top right, rgba(255, 0, 0, 0) 0%, #d66808 80%);
}

.hexagon-link-main:hover h3 {
  display: block;
}

.hexagon-link-main:hover img {
  display: none;
}

.hexagon-img-note {
  height: 140%;
}

.header-container {
  height: 100%;
  background-image: url(../images/background2.jpg);
}

.header-title-main {
  bottom: 50px;
  left: 50px;
}

.data-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

@media (min-width: 768px) {
  .data-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (min-width: 850px) {
  .data-container {
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 768px) and (min-width: 850px) and (min-width: 1025px) {
  .data-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .data-hexagons {
    grid-column-start: 2;
  }
}

@media (min-width: 768px) {
  .data-text {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.notes-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

@media (min-width: 768px) {
  .notes-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (min-width: 850px) {
  .notes-container {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 768px) and (min-width: 850px) and (min-width: 1025px) {
  .notes-container {
    grid-template-columns: 1fr 1fr;
  }
}
