.header-container {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-title-main {
  position: absolute;
  padding-left: 10px;
  border-left: 5px solid #1A94FF;
  color: #1A94FF;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 2px;
  z-index: 10;
}

.header-container {
  height: 100vh;
  background-image: url(../images/header.jpg);
}

.header-title-main {
  bottom: 5vh;
  left: 20px;
}

@media (min-width: 768px) {
  .header-title-main {
    left: 50px;
  }
}

.data-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

@media (min-width: 768px) {
  .data-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (min-width: 850px) {
  .data-container {
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 768px) and (min-width: 850px) and (min-width: 1025px) {
  .data-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .data-hexagons {
    grid-column-start: 2;
  }
}

@media (min-width: 768px) {
  .data-text {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.notes-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

@media (min-width: 768px) {
  .notes-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (min-width: 850px) {
  .notes-container {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 768px) and (min-width: 850px) and (min-width: 1025px) {
  .notes-container {
    grid-template-columns: 1fr 1fr;
  }
}
